{
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended",
    "rules": {
        // Default rules we've disabled until the failures are fixed.
        // Remove a line to enable the rule.
        "comma-dangle": 0,
        "no-console": 0,
        "no-extra-semi": 0,
        "no-redeclare": 0,
        "no-undef": 0,
        "no-unused-vars": 0,

        // Non-default rules we've chosen to enable.
        "indent": [2, 4, {"SwitchCase": 1}],
    }
}
