.vagrant/
node_modules/
.DS_store
*.pyc
.vscode/
yarn-error.log
npm-error.log

# vi
*.swp

# Caches
.pytest_cache/
.eslintcache

# PyCharm
.idea/
*.iml

# emacs
*~
\#*

# Treeherder-specific
_build/
build/
treeherder/static/

# Celery
celerybeat-schedule
