.*/
node_modules/
.DS_store
*.pyc
yarn-error.log
npm-error.log
vagrant/env_local.sh
__pycache__

# vi
*.swp

# Caches
.eslintcache
# PyCharm
*.iml

# emacs
*~
\#*

# Celery
celerybeat-schedule

#docker custom environment
.env

# Ignore coverage results
coverage
coverage.xml
.coverage
