.vagrant/
node_modules/
.DS_store
*.pyc
.vscode/

# vi
*.swp

# pytest cache
.cache/

# PyCharm
.idea/
*.iml

# emacs
*~
\#*

# Treeherder-specific
deployment/update/commander_settings.py
dist/
docs/_build/
treeherder/media/
treeherder/static/
treeherder/webapp/log_cache/
ui/js/config/local.conf.js

# Celery
celerybeat-schedule

!.gitkeep
