repos:
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
      - id: flake8
  - repo: https://github.com/timothycrosley/isort
    rev: 4.3.21
    hooks:
      - id: isort
        args: ['--virtual-env=.venv']
  - repo: https://github.com/ryanrhee/shellcheck-py
    rev: v0.7.0.1-1
    hooks:
      - id: shellcheck
  - repo: https://github.com/prettier/prettier
    rev: 1.19.1
    hooks:
      - id: prettier
