# Ignore generated directories.
.*/

# Ignore our legacy JS since it will be rewritten when converted to React.
ui/js/

# Ignore AngularJS HTML templates since they don't always parse correctly.
ui/partials/

# Ignore markdown
*.md
