repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-json
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.1.2
    hooks:
      - id: prettier
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.2
    hooks:
      - id: markdownlint
        args: [--fix]
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3.7
  - repo: https://github.com/aerickson/urlchecker-python
    rev: 9654184451d967d2f03d8cfe3b5333b6facbfa2e
    hooks:
      - id: urlchecker
        entry: urlchecker check_ci --exclude-pattern "http://localhost"
        types_or: [markdown, json]
        exclude: |
          (?x)^(
              version.json|
              package.json|
              package-lock.json|
              ^tests/.*|
              ^node_modules/.*
          )$
