env:
  global:
    - DATABASE_URL='mysql://root@localhost/test_treeherder'
    - DATABASE_URL_RO='mysql://root@localhost/test_treeherder'
    - TREEHERDER_DJANGO_SECRET_KEY='secretkey-1234'
matrix:
  include:
    # Each entry here creates another sub-job.

    - env: linters
      sudo: false
      language: python
      python: "2.7"
      cache:
        directories:
          - ~/venv
          - node_modules
      before_install:
        # Create a clean virtualenv rather than using the one given to us,
        # to work around: https://github.com/travis-ci/travis-ci/issues/4873
        - if [[ ! -f ~/venv/bin/activate ]]; then virtualenv ~/venv; fi
        - source ~/venv/bin/activate
      install:
        - npm install
        - ./bin/peep.py install --disable-pip-version-check -r requirements/common.txt -r requirements/dev.txt
      script:
        - grunt checkjs
        - flake8 --show-source
        - isort --check-only --diff --quiet

    - env: main-test-run
      # Once mysql 5.6 is available on the container infra, we should switch back
      # to it, by setting `sudo: false`, so we can use caching for this job.
      sudo: required
      dist: trusty
      python: "2.7"
      services:
        - rabbitmq
        - memcached
      before_install:
        # Manually install mysql 5.6 since the default is v5.5.
        - sudo apt-get update -qq
        - sudo apt-get install -qq mysql-server-5.6 mysql-client-5.6 mysql-client-core-5.6
      install:
        - npm install
        # We use `--user` with pip install since the non-container infra doesn't set up
        # a virtualenv, and we cannot use sudo due to:
        #   https://github.com/travis-ci/travis-ci/issues/4989
        # Disabling the pip version check speeds up the install considerably, since peep
        # calls pip once per package, which results in duplicate checks (plus log spam).
        - ./bin/peep.py install --user -r requirements/common.txt -r requirements/dev.txt --disable-pip-version-check
      before_script:
        # Required for Karma tests (http://docs.travis-ci.com/user/gui-and-headless-browsers/)
        - export DISPLAY=:99.0
        - sh -e /etc/init.d/xvfb start
      script:
        - npm test
        - py.test tests/$* --runslow
        - ./node_modules/.bin/grunt build --production

notifications:
  email:
    on_success: never
    on_failure: always

# Do not run these on the travis server at this time.
# The end to end tests require the service to be running, but travis can't
# start the service for us.  So we would have to have the default point to
# a dedicated dev service instance that is reach-able by travis.  However, we
# require /etc/hosts to have an entry at this point to reach our current dev
# server.  So these tests should be run only locally for now.
# - karma start config/karma-e2e.conf.js --reporters=dots --browsers=Firefox
