# Whilst in theory yarn's checking of the node/yarn version against the `engines` property
# in package.json  is a great idea, in practice it causes unnecessary confusion/hassle for
# contributors, since most node/yarn versions will work fine with Treeherder anyway.
ignore-engines true

# `--no-bin-links` is required when using Vagrant on Windows hosts (where symlinks aren't
# allowed), and so we include here to ensure that the package.json scripts aren't relying
# on symlinks that won't exist elsewhere. This alternate config form is required due to:
# https://github.com/yarnpkg/yarn/issues/4925
--*.no-bin-links true

# Default to saving the exact package version in package.json and not a tilde version range.
save-exact true
