# Whilst in theory yarn's checking of the node/yarn version against the `engines` property
# in package.json  is a great idea, in practice it causes unnecessary confusion/hassle for
# contributors, since most node/yarn versions will work fine with Treeherder anyway.
ignore-engines true
