# Visit https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax
# for learning about the syntax

/docker-compose.yml         @mozilla/treeherder-admins
infra-compare/              @beatrice-acasandrei @esanuandra
perf/                       @beatrice-acasandrei @esanuandra
perfalert/                  @beatrice-acasandrei @esanuandra
perfherder/                 @beatrice-acasandrei @esanuandra
treeherder/model/fixtures/  @mozilla/treeherder-admins
