# Visit https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax
# for learning about the syntax

# Dot files at the root level
/.*                         @armenzg
/app.json                   @armenzg
/docker-compose.yml         @armenzg
/docker/**                  @armenzg
management/commands/**      @armenzg
extract/**                  @klahnakoski
push-health/**              @camd
intermittent-failures/**    @sarah-clements
intermittents-commenter/**  @sarah-clements
perfherder/**               @ionutgoldan
