[build-system]
requires = ["poetry>=1.0.5"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "docs"
version = "1.0.0"
description = "This is the package installer for docs"
authors = ["Mozilla"]

[tool.poetry.dependencies]
python = "^3.7"

# A list of all of the optional dependencies, some of which are included in the
# below `extras`. They can be opted into by apps.
mkdocs = { version = "1.2.3", optional = true }
mkdocs-material = { version = "4.6.3", optional = true }
mdx_truly_sane_lists = { version = "1.2", optional = true }

[tool.poetry.extras]
docs = ["mkdocs", "mkdocs-material", "mdx_truly_sane_lists"]

[tool.black]
line-length = 100
target-version = ['py37']
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    treeherder/model/migrations
  | treeherder/perf/migrations
  | treeherder/changelog/migrations
)/
'''