# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at http://mozilla.org/MPL/2.0/.

# HEROKU REQUIREMENTS

-r requirements/common.txt

# Pylibmc must be in this file so that heroku knows it has to install
# libmemcached when bootstrapping the containers.
# More info here: https://devcenter.heroku.com/articles/memcachier#python
pylibmc==1.4.2

django-pylibmc==0.5.0
django-heroku-memcacheify==0.8
