Django==2.2.6
django-extensions
pytest
kombu
responses
celery
newrelic
first
gunicorn
whitenoise[brotli]
Brotli
celery
kombu
simplejson
newrelic
mysqlclient
billiard
pytz
amqp
vine
mozterm
blessings
jsonschema
djangorestframework==3.9.4
django-cors-headers
mozlog
coreapi
coreschema
Jinja2
MarkupSafe
itypes
uritemplate
requests
sqlparse
PyYAML
django-environ
six
python-dateutil
django-filter
django-redis
redis
elasticsearch
urllib3
certifi
chardet
idna
slugid
taskcluster
aiohttp
mohawk
async-timeout
multidict
yarl
taskcluster-urls
graphene-django
graphene
graphql-core==2.2.1
graphql-relay==2.0.0
typing
promise
rx==1.6.1
singledispatch
iso8601
aniso8601==6.0.0
python-jose[pycryptodome]
rsa
pyasn1
pycryptodome
ecdsa
future
furl
orderedmultidict
first
attrs
pyrsistent
django-cache-memoize
pytest
django-debug-toolbar
mock
responses
django-extensions
pytest-selenium
PyPOM
Werkzeug
flake8
isort
zipp
importlib-metadata
atomicwrites
more-itertools
packaging
pluggy
py
pyparsing
wcwidth
funcsigs
pbr
entrypoints
mccabe
pycodestyle
pyflakes
pytest-django
selenium
pytest-html
pytest-metadata
pytest-variables
pytest-base-url
zope.event
zope.interface
zope.component
zope.hookable
zope.deferredimport
zope.deprecation
zope.proxy
pytest-asyncio