  <!-- Job exclusions -->
  <div class="th-inline-option-group exclusion-container"
       ng-controller="ExclusionsListCtrl"
       ng-init="populateExclusionsMap()">
    <button ng-click="go('exclusions_detail', {id: 'new'})" type="button"
            ng-disabled="!user.is_staff"
            ng-attr-title="{{!user.is_staff ? 'Sheriff permissions required' : ''}}"
            class="btn btn-sm btn-primary action-buttons">Add exclusion</button>

    <p ng-if="exclusions.length == 0">No exclusion available</p>
    <table ng-if="exclusions.length > 0"
           class="table table-condensed">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Repositories</th>
        <th>Platform</th>
        <th>Option Collections</th>
        <th>Job Type</th>
      </tr>
      <tr ng-repeat="exclusion in exclusions | orderBy: 'name'"
          class="job-exclusions-row">
        <td>
          <!-- Exclusion name button -->
          <a ui-sref="exclusions_detail({id: exclusion.id})"
             ng-disabled="!user.is_staff"
             class="admin-btn pointable"
             ng-class="!user.is_staff ? 'text-btn-disabled' : 'text-btn'"
             ng-attr-title="{{!user.is_staff ? '' : 'Modify this exclusion'}}">
            {{::exclusion.name}}
          </a>
        </td>
        <td>{{::exclusion.description}}</td>
        <td><th-truncated-list numvisible="2" elements="exclusion.info.repos" /></td>
        <td><th-truncated-list numvisible="2" elements="exclusion.info.platforms" /></td>
        <td><th-truncated-list numvisible="2" elements="exclusion.info.option_collections" /></td>
        <td><th-truncated-list numvisible="2" elements="exclusion.info.job_types" /></td>
        <td>
          <span ng-click="delete_exclusion(exclusion)"
                ng-if="user.is_staff"
                class="delete-icon hover-warning pointable"
                title="Delete this exclusion">
            <i class="fa fa-times-circle"></i>
          </span>
        </td>
      </tr>
    </table>
  </div>
