<div class="lv-log-msg lv-log-overlay"
     ng-if="loading"> Loading... </div>

<div ng-repeat="lv_line in displayedLogLines"
     class="lv-log-line"
     line="{{ ::lv_line.index }}">
     <div class="lv-line-num" ng-click="click(lv_line, $event)"> {{::lv_line.index}}  </div>
     <div ng-class="{'text-danger': (lv_line.hasError == true),
                     'lv-selected-lines': (lv_line.index >= selectedBegin && lv_line.index <= selectedEnd)}"
            class="lv-line-text"> {{  ::lv_line.text}}</div>
</div>
