{% load browserid static %}
<html>
  <head>
    {% browserid_css %}
    <link rel="stylesheet" href="{% static "webapp/css/bootstrap.min.css" %}">
  </head>
  <body>
    {% browserid_info %}
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Treeherder Login</h3>
        </div>
        <div class="panel-body">
          <p class="text-center">
            {% if user.is_authenticated %}
                Current user: {{ user.email }}
                {% browserid_logout text='Logout' %}
            {% else %}
                {% browserid_login text='Login with email' color='dark' next=next %}
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    <script src="{% static "webapp/js/jquery-2.1.4.min.js" %}"></script>
    {% browserid_js %}
  </body>
</html>
