body {
  overflow-x: hidden;
  overflow-y: auto;
}

.absolute-progress {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0px;
  text-align: center;
  transform: translateY(-50%);
}

.progress-relative {
  position: relative;
  min-width: 180px;
}

input[type='checkbox'] {
  transform: scale(1.2);
}

.commit-area {
  border-left: 3px solid #6c757d;
}

.metric-name {
  font-size: 24px;
}

.menu-items {
  font-size: 13px;
}

.pointable {
  cursor: pointer;
}

.pre-wrap {
  white-space: pre-wrap;
  max-width: 95%;
}

.table-fixed {
  table-layout: fixed;
}

.revision {
  font-size: 12px;
}

.status-link {
  font-size: 17.5px;
}
/* Details Tab Panel */

.tab-content {
  height: 250px;
  border-bottom: 20px;
}

.bg-hover-grey:hover {
  background-color: grey !important;
  color: white !important;
}

.commit-header {
  font-size: 1.5rem;
}
/*
  Need this instead of the Bootstrap h-100 class because the `!important` in that class
  throws off the layout when tabs are switched.
*/
.react-tabs__tab-panel {
  height: 100%;
}

.selected-detail-tab {
  color: #53595f !important; /* darker-secondary but needs the `!important` */
  border-bottom: solid; /* Thicker than the bootstrap border */
}

/* Log Viewer Tab */

.react-lazylog-searchbar {
  background: lightgrey !important;
}

.react-lazylog-searchbar-input {
  background: lightgrey !important;
  border: 1px;
  border-radius: 5px;
  color: #53595f !important;
}

.log-viewer-top-bar-buttons {
  position: absolute;
  top: 8px;
  left: 5px;
}

.investigated {
  text-decoration: line-through;
  opacity: 0.5;
}

.custom-tooltip-width {
  max-width: 100% !important;
}
