.metric-name {
  font-size: 24px;
}

.pointable {
  cursor: pointer;
}

.pre-wrap {
  white-space: pre-wrap;
  max-width: 95%;
}

.table-fixed {
  table-layout: fixed;
}

.revision {
  font-size: 12px;
}
