body {
  overflow-x: hidden;
  overflow-y: auto;
}

.absolute {
  position: absolute;
  width: 100%;
  top: 35%;
  text-align: center;
}

.relative {
  position: relative;
  height: 200px;
  max-height: 200px;
  min-width: 200px;
}

input[type='checkbox'] {
  transform: scale(1.2);
}

.commit-area {
  border-left: 3px solid #6c757d;
}

.metric-name {
  font-size: 24px;
}

.pointable {
  cursor: pointer;
}

.pre-wrap {
  white-space: pre-wrap;
  max-width: 95%;
}

.table-fixed {
  table-layout: fixed;
}

.revision {
  font-size: 12px;
}

/* Details Tab Panel */

.tab-content {
  height: 250px;
  border-bottom: 20px;
}

.bg-hover-grey:hover {
  background-color: grey !important;
  color: white !important;
}

/*
  Need this instead of the Bootstrap h-100 class because the `!important` in that class
  throws off the layout when tabs are switched.
*/
.react-tabs__tab-panel {
  height: 100%;
}

.selected-detail-tab {
  color: #53595f !important; /* darker-secondary but needs the `!important` */
  border-bottom: solid; /* Thicker than the bootstrap border */
}

/* Log Viewer Tab */

.react-lazylog-searchbar {
  background: lightgrey !important;
}

.react-lazylog-searchbar-input {
  background: lightgrey !important;
  border: 1px;
  border-radius: 5px;
  color: #53595f !important;
}

.log-viewer-top-bar-buttons {
  position: absolute;
  top: 8px;
  left: 5px;
}

.investigated {
  text-decoration: line-through;
}
