{
  "http_interactions": [
    {
      "recorded_at": "2020-06-02T00:00:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug?longdesc=awsy%2CJS&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"status\":\"RESOLVED\",\"type\":\"defect\",\"last_change_time\":\"2020-01-15T03:18:09Z\",\"whiteboard\":\"\",\"creation_time\":\"2019-12-17T11:42:45Z\",\"id\":1604454,\"is_open\":false,\"keywords\":[\"perf\",\"perf-alert\",\"regression\"],\"summary\":\"1.95 - 2.04% JS (linux64, macosx1014-64-shippable) regression on push 6c3b5dd001803c3e140d9b0b148aa7c25fd0a047 (Mon December 2 2019)\",\"resolution\":\"DUPLICATE\"},{\"resolution\":\"WONTFIX\",\"summary\":\"0.27 - 0.31% Base Content JS (linux64, macosx1014-64-shippable, windows10-64) regression on push d50c6bc9b76ec316b2cd09215e6abc4715e3478a (Mon December 16 2019)\",\"id\":1604766,\"keywords\":[\"perf\",\"perf-alert\",\"regression\"],\"is_open\":false,\"whiteboard\":\"\",\"creation_time\":\"2019-12-18T13:20:20Z\",\"last_change_time\":\"2020-01-07T18:44:06Z\",\"type\":\"defect\",\"status\":\"RESOLVED\"},{\"last_change_time\":\"2020-01-23T19:4[...]
    {
      "recorded_at": "2020-06-02T00:00:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1604454/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"id\":1604454,\"history\":[{\"who\":\"marian.raiciof@softvision.ro\",\"changes\":[{\"field_name\":\"cf_status_firefox73\",\"removed\":\"---\",\"added\":\"affected\"}],\"when\":\"2019-12-17T11:43:46Z\"},{\"when\":\"2019-12-17T11:51:20Z\",\"who\":\"marian.raiciof@softvision.ro\",\"changes\":[{\"removed\":\"\",\"field_name\":\"cc\",\"added\":\"ryanvm@gmail.com\"},{\"added\":\"needinfo?(ryanvm@gmail.com)\",\"field_name\":\"flagtypes.name\",\"removed\":\"\"}]},{\"who\":\"ryanvm@gmail.com\",\"changes\":[{\"field_name\":\"flagtypes.name\",\"removed\":\"needinfo?(ryanvm@gmail.com)\",\"added\":\"needinfo?(marian.raiciof@softvision.ro)\"}],\"when\":\"2019-12-17T15:07:07Z\"},{\"when\":\"2019-12-17T15:08:31Z\",\"who\":\"ryanvm@gmail.com\",\"changes\":[{\"added\":\"Isn't this already being tracked in bug 1603115?\",\"comment_count\":1,\"comment_id\":14551927,\"removed\":\"Isn't this already being tracked in bug 1602765?\",\"field_name\":\"comment_revision\"}]},{\"when\":\"2019-12-17T15:16:34Z\",\"changes\":[{\"added\":\"RESOLVED\",\"field_name\":\"status\",\"removed\":\"NEW\"},{\"removed\":\"\",\"field_name\":\"resolution\",\"added\":\"DUPLICATE\"},{\"added\":\"\",\"field_name\":\"flagtypes.name\",\"removed\":\"needinfo?(marian.raiciof@softvision.ro)\"},{\"added\":\"2019-12-17T15:16:34Z\",\"removed\":\"\",\"field_name\":\"cf_last_resolved\"}],\"who\":\"marian.raiciof@softvision.ro\"},{\"when\":\"2020-01-15T03:18:09Z\",\"changes\":[{\"added\":\"fixed\",\"removed\":\"affected\",\"field_name\":\"cf_status_firefox73\"}],\"who\":\"ryanvm@gmail.com\"}],\"alias\":null}]}"
        },
        "headers": {
          "Content-Type": ["application/json; charset=UTF-8"],
          "ETag": ["XnznlAdwukAg2rFhTTyCHQ"],
          "Status": ["200"]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://bugzilla.mozilla.org/rest/bug/1604454/history"
      }
    },
[...]
