{
  "http_interactions": [
    {
      "recorded_at": "2020-06-02T00:00:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug?longdesc=build_metrics%2Cinstaller+size&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"creation_time\":\"2019-12-19T14:22:03Z\",\"whiteboard\":\"\",\"keywords\":[\"perf-alert\",\"regression\"],\"id\":1605110,\"is_open\":false,\"summary\":\"0.47% installer size (osx-shippable) regression on push 65cf656ecce94b8c8bc4933cf57eb760a3b8d10f (Wed December 18 2019)\",\"resolution\":\"FIXED\",\"status\":\"RESOLVED\",\"type\":\"defect\",\"last_change_time\":\"2019-12-24T09:16:22Z\"},{\"type\":\"defect\",\"status\":\"RESOLVED\",\"last_change_time\":\"2020-01-14T03:14:04Z\",\"id\":1608365,\"is_open\":false,\"keywords\":[\"perf-alert\",\"regression\"],\"creation_time\":\"2020-01-10T10:01:46Z\",\"whiteboard\":\"\",\"resolution\":\"WONTFIX\",\"summary\":\"0.13 - 0.19% installer size (macosx64-shippable, osx-shippable) regression on push e1b0906509efa6433978b9f980ec639b7eafbc6d (Thu January 9 2020)\"},{\"last_change_time\":\"2020-01-15T08:29:49Z\",\"type[...]
    {
      "recorded_at": "2020-06-02T00:00:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1605110/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"history\":[{\"who\":\"marian.raiciof@softvision.ro\",\"changes\":[{\"field_name\":\"cc\",\"added\":\"cmanchester@mozilla.com\",\"removed\":\"\"},{\"field_name\":\"component\",\"added\":\"General\",\"removed\":\"Performance\"},{\"removed\":\"Version 3\",\"field_name\":\"version\",\"added\":\"unspecified\"},{\"removed\":\"\",\"added\":\"1604578\",\"field_name\":\"regressed_by\"},{\"removed\":\"\",\"field_name\":\"blocks\",\"added\":\"1600879\"},{\"removed\":\"Testing\",\"field_name\":\"product\",\"added\":\"Firefox Build System\"},{\"field_name\":\"target_milestone\",\"added\":\"mozilla73\",\"removed\":\"---\"},{\"field_name\":\"flagtypes.name\",\"added\":\"needinfo?(cmanchester@mozilla.com)\",\"removed\":\"\"},{\"added\":\"unaffected\",\"field_name\":\"cf_status_firefox_esr68\",\"removed\":\"---\"},{\"removed\":\"---\",\"field_name\":\"cf_status_firefox71\",\"added\":\"unaffected\"},{\"field_name\":\"cf_status_firefox72\",\"added\":\"unaffected\",\"removed\":\"---\"},{\"removed\":\"---\",\"field_name\":\"cf_status_firefox73\",\"added\":\"affected\"}],\"when\":\"2019-12-19T14:37:03Z\"},{\"changes\":[{\"field_name\":\"cc\",\"added\":\"erahm@mozilla.com\",\"removed\":\"\"},{\"added\":\"needinfo?(erahm@mozilla.com)\",\"field_name\":\"flagtypes.name\",\"removed\":\"needinfo?(cmanchester@mozilla.com)\"}],\"who\":\"chmanchester@gmail.com\",\"when\":\"2019-12-19T18:15:13Z\"},{\"when\":\"2019-12-19T21:37:41Z\",\"who\":\"chmanchester@gmail.com\",\"changes\":[{\"field_name\":\"flagtypes.name\",\"added\":\"\",\"removed\":\"needinfo?(erahm@mozilla.com)\"}]},{\"wh[...]
    {
      "recorded_at": "2020-06-02T00:00:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1608365/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"id\":1608365,\"alias\":null,\"history\":[{\"changes\":[{\"field_name\":\"cc\",\"added\":\"jgilbert@mozilla.com\",\"removed\":\"\"},{\"added\":\"Canvas: WebGL\",\"field_name\":\"component\",\"removed\":\"Performance\"},{\"added\":\"unspecified\",\"field_name\":\"version\",\"removed\":\"Version 3\"},{\"added\":\"1477756\",\"field_name\":\"regressed_by\",\"removed\":\"\"},{\"field_name\":\"blocks\",\"added\":\"1607747\",\"removed\":\"\"},{\"removed\":\"Testing\",\"added\":\"Core\",\"field_name\":\"product\"},{\"added\":\[...]
[...]
