{
  "http_interactions": [
    {
      "recorded_at": "2020-06-02T00:00:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug?longdesc=build_metrics%2Cbuild+times&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"type\":\"defect\",\"keywords\":[\"perf-alert\",\"regression\"],\"status\":\"RESOLVED\",\"creation_time\":\"2019-12-17T12:22:33Z\",\"is_open\":false,\"summary\":\"8.52% build times (linux64-shippable) regression on push 051d03569da837849125bda0297cd776cb5ccbb5 (Tue December 3 2019)\",\"whiteboard\":\"\",\"last_change_time\":\"2020-01-07T18:43:48Z\",\"id\":1604459,\"resolution\":\"WONTFIX\"},{\"resolution\":\"WONTFIX\",\"id\":1605069,\"is_open\":false,\"last_change_time\":\"2020-01-15T12:26:56Z\",\"summary\":\"28.59% build times (windows-mingw32) regression on push 66954a0b1144c9b1aa56ea132df6ac4e346be08b (Wed December 18 2019)\",\"whiteboard\":\"\",\"status\":\"RESOLVED\",\"creation_time\":\"2019-12-19T11:59:58Z\",\"type\":\"defect\",\"keywords\":[\"perf-alert\",\"regression\"]},{\"type\":\"defect\",\"keywords\":[\"perf-alert\",\"regression\"],\"creation_time\":\"2020-[...]
    {
      "recorded_at": "2020-06-02T00:00:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1604459/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"alias\":null,\"id\":1604459,\"history\":[{\"when\":\"2019-12-17T12:34:00Z\",\"who\":\"marian.raiciof@softvision.ro\",\"changes\":[{\"removed\":\"NEW\",\"added\":\"RESOLVED\",\"field_name\":\"status\"},{\"removed\":\"Version 3\",\"added\":\"unspecified\",\"field_name\":\"version\"},{\"added\":\"1595218\",\"field_name\":\"regressed_by\",\"removed\":\"\"},{\"removed\":\"Performance\",\"field_name\":\"component\",\"added\":\"General\"},{\"removed\":\"\",\"field_name\":\"see_also\",\"added\":\"https://bugzilla.mozilla.org/show_bug.cgi?id=1595218\"},{\"field_name\":\"resolution\",\"added\":\"INCOMPLETE\",\"removed\":\"\"},{\"added\":\"1600879\",\"field_name\":\"blocks\",\"removed\":\"\"},{\"field_name\":\"target_milestone\",\"added\":\"mozilla73\",\"removed\":\"---\"},{\"field_name\":\"product\",\"added\":\"Firefox Build System\",\"removed\":\"Testing\"},{\"field_name\":\"cf_last_resolved\",\"added\":\"2019-12-17T12:34:00Z\",\"removed\":\"\"},{\"removed\":\"---\",\"added\":\"affected\",\"field_name\":\"cf_status_firefox73\"}]},{\"changes\":[{\"removed\":\"The data point that caused the regression is a merge between mozilla-central and autoland.\\n\\nAfter i investigated the bugs and comments, i realized that we already have an alert opened for \\nhttps://hg.mozilla.org/integration/autoland/pushloghtml?changeset=051d03569da837849125bda0297cd776cb5ccbb5\\n\\nI will close this ticket as incomplete and reassign the alert 24503 to \\nhttps://treeherder.mozilla.org/perf.html#/alerts?id=24239\",\"comment_count\":1,\"comment_id\":14551653,\"added\":\"The data point that caused the regression is a merge between mozilla-central and autoland.\\n\\nAfter i investigated the bugs and comments, i think this is related to \\nhttps://bugzilla.mozilla.org/show_bug.cgi?id=1595218\",\"field_name\":\"comment_revision\"}],\"who\":\"marian.raiciof@softvision.ro\",\"when\":\"2019-12-17T12:38:53Z\"},{\"changes\":[{\"removed\":\"RESOLVED\",\"field_name\":\"status\",\"added\":\"REOPENED\"},{\"added\":\"cmanchester@mozilla.com\",\"field_nam[...]
[...]
    {
      "recorded_at": "2020-06-02T00:00:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1617838/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"id\":1617838,\"alias\":null,\"history\":[{\"who\":\"fstrugariu@mozilla.com\",\"changes\":[{\"removed\":\"\",\"added\":\"mh+mozilla@glandium.org\",\"field_name\":\"cc\"},{\"added\":\"needinfo?(mh+mozilla@glandium.org)\",\"field_name\":\"flagtypes.name\",\"removed\":\"\"}],\"when\":\"2020-02-25T09:18:59Z\"},{\"changes\":[{\"removed\":\"needinfo?(mh+mozilla@glandium.org)\",\"added\":\"\",\"field_name\":\"flagtypes.name\"},{\"added\":\"RESOLVED\",\"field_name\":\"status\",\"removed\":\"NEW\"},{\"added\":\"WONTFIX\",\"field_name\":\"resolution\",\"removed\":\"\"},{\"added\":\"2020-02-26T01:33:56Z\",\"field_name\":\"cf_last_resolved\",\"removed\":\"\"}],\"who\":\"mh+mozilla@glandium.org\",\"when\":\"2020-02-26T01:33:56Z\"}]}]}"
        },
        "headers": {
          "Content-Type": ["application/json; charset=UTF-8"],
          "ETag": ["lNvmmB02RKxeggCW/SPvyw"],
          "Status": ["200"]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://bugzilla.mozilla.org/rest/bug/1617838/history"
      }
    },
[...]
