{
  "http_interactions": [
    {
      "recorded_at": "2020-06-02T00:00:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1605344/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"alias\":null,\"history\":[{\"when\":\"2019-12-20T11:28:13Z\",\"who\":\"fstrugariu@mozilla.com\",\"changes\":[{\"removed\":\"Performance\",\"field_name\":\"component\",\"added\":\"General\"},{\"field_name\":\"version\",\"removed\":\"Version 3\",\"added\":\"unspecified\"},{\"field_name\":\"regressed_by\",\"removed\":\"\",\"added\":\"1604578\"},{\"added\":\"1600879\",\"field_name\":\"blocks\",\"removed\":\"\"},{\"added\":\"Firefox Build System\",\"field_name\":\"product\",\"removed\":\"Testing\"}]},{\"when\":\"2019-12-20T11:28:37Z\",\"changes\":[{\"field_name\":\"cc\",\"removed\":\"\",\"added\":\"cmanchester@mozilla.com\"},{\"added\":\"needinfo?(cmanchester@mozilla.com)\"[...]
    {
      "recorded_at": "2020-06-02T00:00:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1628973/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"alias\":null,\"history\":[{\"changes\":[{\"added\":\"P2\",\"removed\":\"--\",\"field_name\":\"priority\"}],\"who\":\"dave.hunt@gmail.com\",\"when\":\"2020-04-10T08:20:26Z\"},{\"who\":\"marian.raiciof@softvision.ro\",\"changes\":[{\"added\":\"P1\",\"removed\":\"P2\",\"field_name\":\"priority\"},{\"added\":\"marian.raiciof@softvision.ro\",\"field_name\":\"assigned_to\",\"removed\":\"nobody@mozilla.org\"},{\"removed\":\"NEW\",\"field_name\":\"status\",\"added\":\"ASSIGNED\"}],\"when\":\"2020-04-10T11:34:01Z\"},{\"who\":\"aiakab@mozilla.com\",\"changes\":[{\"added\":\"RESOLVED\",\"removed\":\"ASSIGNED\",\"field_name\":\"status\"},{\"removed\":\"---\",\"field_name\":\"target_milestone\",\"added\":\"mozilla77\"},{\"added\":\"FIXED\",\"removed\":\"\",\"field_name\":\"resolution\"},{\"added\":\"2020-04-10T21:47:25Z\",\"field_name\":\"cf_last_resolved\",\"removed\":\"\"},{\"removed\":\"---\",\"field_name\":\"cf_status_firefox77\",\"added\":\"fixed\"},{\"added\":\"bugherder\",\"comment_id\":14748101,\"comment_count\":3,\"removed\":\"\",\"field_name\":\"comment_tag\"}],\"when\":\"2020-04-10T21:47:25Z\"},{\"who\":\"fstrugariu@mozilla.com\",\"changes\":[{\"added\":\"fstrugariu@mozilla.com\",\"field_name\":\"cc\",\"removed\":\"\"},{\"field_name\":\"keywords\",\"removed\":\"\",\"added\":\"perf-alert\"}],\"when\":\"2020-04-21T07:15:28Z\"},{\"changes\":[{\"field_name\":\"cc\",\"removed\":\"\",\"added\":\"gmierz2@outlook.com\"}],\"who\":\"gmierz2@outlook.com\",\"when\":\"2020-04-21T13:14:15Z\"}],\"id\":1628973}]}"
        },
        "headers": {
          "Content-Type": ["application/json; charset=UTF-8"],
          "ETag": ["KqodfnthWaZiy+eSdvCcrA"],
          "Status": ["200"]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://bugzilla.mozilla.org/rest/bug/1628973/history"
      }
    },
[...]
