{
  "http_interactions": [
    {
      "recorded_at": "2020-06-02T00:00:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug?longdesc=raptor+speedometer&longdesc_type=allwords&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17&query_format=advanced"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"regressed_by\":[1604578],\"cf_has_regression_range\":\"---\",\"cf_root_cause\":\"---\",\"cf_status_firefox73\":\"fixed\",\"cf_fission_milestone\":\"---\",\"cf_tracking_thunderbird_esr60\":\"---\",\"type\":\"defect\",\"cf_tracking_firefox79\":\"---\",\"whiteboard\":\"\",\"id\":1605344,\"mentors_detail\":[],\"creator_detail\":{\"real_name\":\"Florin Strugariu [:Bebe]  (needinfo me)\",\"email\":\"fstrugariu@mozilla.com\",\"name\":\"fstrugariu@mozilla.com\",\"id\":408096,\"nick\":\"Bebe\"},\"cc\":[\"chmanchester@gmail.com\"],\"cf_tracking_thunderbird_esr68\":\"---\",\"cf_user_story\":\"\",\"is_creator_accessible\":true,\"mentors\":[],\"creator\":\"fstrugariu@mozilla.com\",\"version\":\"unspecified\",\"depends_on\":[1596182],\"cf_status_firefox_esr68\":\"unaffected\",\"duplicates\":[],\"url\":\"\",\"blocks\":[1600879],\"creation_time\":\"2019-12-20T11:26:17Z\",\"cf_tracking_firefox_relnote\":\"---\",\"dupe_of\":null,\"cf_qa_whiteboard\":\"\",\"target_milestone\":\"mozilla73\",\"cf_status_firefox72\":\"unaffected\",\"groups\":[],\"assigned_to\":\"chmanchester@gmail.com\",\"cc_detail\":[{\"id\":432261,\"nick\":\"chmanchester\",\"email\":\"chmanchester@gmail.com\",\"name\":\"chmanchester@gmail.com\",\"real_name\":\"Chris Manchester (limited bugmail, email directly)\"}],\"cf_status_firefox77\":\"---\",\"comment_count\":3,\"is_open\":false,\"cf_tracking_firefox_esr68\":\"---\",\"cf_tracking_firefox77\":\"---\",\"severity\":\"normal\",\"cf_status_firefox71\":\"unaffected\",\"status\":\"RESOLVED\",\"cf_fx_points\":\"---\",\"cf_status_thunderbird_esr68\":\"---\",\"flags\":[],\"cf_status_firefox79\":\"---\",\"qa_contact\":\"\",\"regressions\":[],\"cf_tracking_firefox78\":\"---\",\"cf_status_thunderbird_esr60\":\"---\",\"resolution\":\"FIXED\",\"alias\":null,\"votes\":0,\"last_change_time\":\"2020-01-06T15:20:55Z\",\"is_cc_accessible\":true,\"assigned_to_detail\":{\"nick\":\"chmanchester\",\"id\":432261,\"real_name\":\"Chris Manchester (limited bugmail, email directly)\",\"name\":\"chmanchester@gmail.com\",\"email\":\"chmanchester@gmail.com\"},\"classification\":\"Developer Infrastructure\",\"is_confirmed\":true,\"keywords\":[\"perf\",\"perf-alert\",\"regression\"],\"cf_status_firefox76\":\"---\",\"cf_fx_iteration\":\"---\",\"see_also\":[],\"product\":\"Firefox Build System\",\"platform\":\"Unspecified\",\"cf_last_resolved\":\"2020-01-03T18:51:37Z\",\"summary\":\"26.33 - 26.81% raptor-webaudio-firefox (macosx1014-64-shippable) regression on push 65cf656ecce94b8c8bc4933cf57eb760a3b8d10f (Wed December 18 2019)\",\"priority\":\"--\",\"cf_has_str\":\"---\",\"cf_tracking_firefox76\":\"---\",\"cf_status_firefox78\":\"---\",\"component\":\"General\",\"op_sys\":\"Unspecified\"},{\"duplicates\":[],\"url\":\"\",\"cf_status_firefox_esr68\":\"---\",\"depends_on\":[],\"blocks\":[],\"dupe_of\":null,\"cf_qa_whiteboard\":\"\",\"creation_time\":\"2020-04-10T06:56:19Z\",\"cf_tracking_firefox_relnote\":\"---\",\"groups\":[],\"target_milestone\":\"mozilla77\",\"cf_root_cause\":\"---\",\"regressed_by\":[],\"cf_fission_milestone\":\"---\",\"cf_tracking_firefox79\":\"---\",\"type\":\"defect\",\"creator_detail\":{\"real_name\":\"Alexandru Irimovici\",\"email\":\"airimovici@mozilla.com\",\"name\":\"airimovici@mozilla.com\",\"nick\":\"airimovici\",\"id\":639486},\"mentors_detail\":[],\"whiteboard\":\"\",\"id\":1628973,\"version\":\"Version 3\",\"cc\":[\"dave.hunt@gmail.com\",\"fstrugariu@mozilla.com\",\"gmierz2@outlook.com\",\"marian.raiciof@softvision.ro\"],\"mentors\":[],\"creator\":\"airimovici@mozilla.com\",\"is_creator_accessible\":true,\"cf_user_story\":\"\",\"cf_status_firefox76\":\"---\",\"cf_fx_iteration\":\"---\",\"keywords\":[\"perf-alert\"],\"platform\":\"Unspecified\",\"cf_crash_signature\":\"\",\"see_also\":[],\"product\":\"Testing\",\"cf_tracking_firefox76\":\"---\",\"summary\":\"Speedometer test wrong score after name change\",\"priority\":\"P1\",\"cf_status_firefox78\":\"---\",\"cf_last_resolved\":\"2020-04-10T21:47:25Z\",\"op_sys\":\"Unspecified\",\"component\":\"Raptor\",\"cf_tracking_firefox77\":\"---\",\"severity\":\"normal\",\"cf_status_firefox77\":\"fixed\",\"cc_detail\":[{\"email\":\"dave.hunt@gmail.com\",\"name\":\"dave.hunt@gmail.com\",\"real_name\":\"Dave Hunt [:daveh[...]
