{
  "http_interactions": [
    {
      "recorded_at": "2020-06-02T00:00:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug?longdesc=raptor%2Craptor-webaudio-firefox&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"status\":\"RESOLVED\",\"whiteboard\":\"\",\"creation_time\":\"2019-12-20T11:26:17Z\",\"last_change_time\":\"2020-01-06T15:20:55Z\",\"summary\":\"26.33 - 26.81% raptor-webaudio-firefox (macosx1014-64-shippable) regression on push 65cf656ecce94b8c8bc4933cf57eb760a3b8d10f (Wed December 18 2019)\",\"type\":\"defect\",\"is_open\":false,\"resolution\":\"FIXED\",\"keywords\":[\"perf\",\"perf-alert\",\"regression\"],\"id\":1605344},{\"keywords\":[\"perf\",\"perf-alert\",\"regression\"],\"resolution\":\"FIXED\",\"id\":1625980,\"last_change_time\":\"2020-04-22T12:59:40Z\",\"summary\":\"48.34 - 55.4% raptor-webaudio-firefox (linux64, macosx, windows10) regression on push efa017cf034f4485591fd9afe0ba2960ffafadc0 (Fri March 27 2020)\",\"type\":\"defect\",\"is_open\":false,\"creation_time\":\"2020-03-30T15:09:35Z\",\"status\":\"RESOLVED\",\"whiteboard\":\"\"},{\"status\":\"NEW\",\"whiteboard\":\"\",\"creation_time\":\"2020-05-15T09:22:11Z\",\"last_change_time\":\"2020-05-22T13:30:26Z\",\"type\":\"defect\",\"summary\":\"2.04 - 6.81% raptor-motionmark-htmlsuite-firefox / raptor-speedometer-firefox / raptor-tp6 raptor-webaudio-firefox (linux64-shippable, linux64-shippable-qr) regression on push 80ba3f3cfaf9b31341bca28e2e6aea383cec8acc (Thu May 14 2020)\",\"is_open\":true,\"keywords\":[\"perf\",\"perf-alert\",\"regression\"],\"resolution\":\"\",\"id\":1638265}]}"
        },
        "headers": {
          "Content-Type": ["application/json; charset=UTF-8"],
          "ETag": ["OqMMMLYfj7TlwfDhbOMItw"],
          "Status": ["200"]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://bugzilla.mozilla.org/rest/bug?longdesc=raptor%2Craptor-webaudio-firefox&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      }
    },
    {
      "recorded_at": "2020-06-02T00:00:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1605344/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"alias\":null,\"history\":[{\"when\":\"2019-12-20T11:28:13Z\",\"who\":\"fstrugariu@mozilla.com\",\"changes\":[{\"field_name\":\"component\",\"removed\":\"Performance\",\"added\":\"General\"},{\"field_name\":\"version\",\"removed\":\"Version 3\",\"added\":\"unspecified\"},{\"added\":\"1604578\",\"field_name\":\"regressed_by\",\"removed\":\"\"},{\"added\":\"1600879\",\"removed\":\"\",\"field_name\":\"blocks\"},{\"added\":\"Firefox Build System\",\"field_name\":\"product\",\"removed\":\"Testing\"}]},{\"who\":\"fstrugariu@mozilla.com\",\"changes\":[{\"added\":\"cmanchester@mozilla.com\",\"field_name\":\"cc\",\"removed\":\"\"},{\"added\":\"needinfo?(cmanchester@mozilla.com)\[...]
[...]
