{
  "http_interactions": [
    {
      "recorded_at": "2020-06-02T00:00:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug?longdesc=raptor%2Craptor-tp6-google-mail-firefox-cold+replayed&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"is_open\":true,\"summary\":\"2.04 - 6.81% raptor-motionmark-htmlsuite-firefox / raptor-speedometer-firefox / raptor-tp6 raptor-webaudio-firefox (linux64-shippable, linux64-shippable-qr) regression on push 80ba3f3cfaf9b31341bca28e2e6aea383cec8acc (Thu May 14 2020)\",\"type\":\"defect\",\"id\":1638265,\"whiteboard\":\"\",\"creation_time\":\"2020-05-15T09:22:11Z\",\"last_change_time\":\"2020-05-22T13:30:26Z\",\"resolution\":\"\",\"status\":\"NEW\",\"keywords\":[\"perf\",\"perf-alert\",\"regression\"]},{\"keywords\":[\"perf\",\"perf-alert\",\"regression\"],\"resolution\":\"FIXED\",\"status\":\"RESOLVED\",\"last_change_time\":\"2020-07-07T12:24:04Z\",\"creation_time\":\"2020-05-28T11:54:59Z\",\"type\":\"defect\",\"id\":1641532,\"summary\":\"2.9 - 17.82% raptor-tp6- (linux64, macosx1014-64-shippable, windows10) regression on push 2bccc3e80006f2ad27060453135b19fac2d43460 (Tue May 26 2020)\",\"whiteboard\":\"[necko-triaged]\",\"is_open\":false},{\"creation_time\":\"2020-06-03T13:36:29Z\",\"last_change_time\":\"2020-06-24T14:25:25Z\",\"status\":\"NEW\",\"resolution\":\"\",\"keywords\":[\"perf\",\"perf-alert\",\"regression\"],\"is_open\":true,\"whiteboard\":\"\",\"summary\":\"2.38 - 3.65% raptor-tp6(linux64-shippable-qr, windows7-32-shippable) regression on push 9bcd0799e4eaa69966cc8c138bd1640ad915f140 (Tue June 2 2020)\",\"id\":1642998,\"type\":\"defect\"},{\"is_open\":false,\"id\":1647646,\"type\":\"defect\",\"summary\":\"Performance regression when we unset EARLY_BETA_OR_EARLIER\",\"whiteboard\":\"\",\"resolution\":\"WONTFIX\",\"status\":\"RESOLVED\",\"last_change_time\":\"2020-07-20T18:53:16Z\",\"creation_time\":\"2020-06-23T09:07:12Z\",\"keywords\":[\"perf\",\"perf-alert\",\"regression\"]}]}"
        },
        "headers": {
          "Content-Type": ["application/json; charset=UTF-8"],
          "ETag": ["OxE7sCvzvEOJWLR6iUhL7A"],
          "Status": ["200"]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://bugzilla.mozilla.org/rest/bug?longdesc=raptor%2Craptor-tp6-google-mail-firefox-cold+replayed&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      }
    },
    {
      "recorded_at": "2020-06-02T00:00:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1638265/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"alias\":null,\"id\":1638265,\"history\":[{\"when\":\"2020-05-15T09:22:49Z\",\"who\":\"fstrugariu@mozilla.com\",\"changes\":[{\"added\":\"unspecified\",\"removed\":\"Version 3\",\"field_name\":\"version\"},{\"field_name\":\"component\",\"added\":\"Toolchains\",\"removed\":\"Performance\"},{\"removed\":\"\",\"added\":\"dmajor@mozilla.com\",\"field_name\":\"cc\"},{\"field_name\":\"flagtypes.name\",\"removed\":\"\",\"added\":\"needinfo?(dmajor@mozilla.com)\"},{\"field_name\":\"product\",\"added\":\"Firefox Build System\",\"removed\":\"Testing\"}]},{\"when\":\"2020-05-15T11:12:14Z\",\"who\":\"dmajor@mozilla.com\",\"changes\":[{\"added\":\"needinfo?(fstrugariu@mozilla.com)\",\"removed\":\"[...]
