{
  "http_interactions": [
    {
      "recorded_at": "2020-06-02T00:00:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug?longdesc=raptor%2Craptor-speedometer-firefox&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"resolution\":\"FIXED\",\"summary\":\"26.33 - 26.81% raptor-webaudio-firefox (macosx1014-64-shippable) regression on push 65cf656ecce94b8c8bc4933cf57eb760a3b8d10f (Wed December 18 2019)\",\"id\":1605344,\"is_open\":false,\"keywords\":[\"perf\",\"perf-alert\",\"regression\"],\"whiteboard\":\"\",\"creation_time\":\"2019-12-20T11:26:17Z\",\"last_change_time\":\"2020-01-06T15:20:55Z\",\"type\":\"defect\",\"status\":\"RESOLVED\"},{\"summary\":\"3.85 - 59% raptor-tp6-yandex-firefox-cold / raptor-tp6-yandex-firefox-cold fcp (windows7-32-shippable) regression on push 0e9235af0109f5d732564a19aa139eaf0788c910 (Fri April 24 2020)\",\"resolution\":\"FIXED\",\"creation_time\":\"2020-04-27T10:38:07Z\",\"whiteboard\":\"\",\"is_open\":false,\"keywords\":[\"perf\",\"perf-alert\",\"regression\"],\"id\":1633366,\"last_change_time\":\"2020-05-07T02:53:35Z\",\"status\":\"RESOLVED\",\"type\":\"defect\"},{\"status\":\"NEW\",\"type\":\"defect\",\"last_change_time\":\"2020-05-22T13:30:26Z\",\"whiteboard\":\"\",\"creation_time\":\"2020-05-15T09:22:11Z\",\"id\":1638265,\"is_open\":true,\"keywords\":[\"perf\",\"perf-alert\",\"regression\"],\"summary\":\"2.04 - 6.81% raptor-motionmark-htmlsuite-firefox / raptor-speedometer-firefox / raptor-tp6 raptor-webaudio-firefox (linux64-shippable, linux64-shippable-qr) regression on push 80ba3f3cfaf9b31341bca28e2e6aea383cec8acc (Thu May 14 2020)\",\"resolution\":\"\"}]}"
        },
        "headers": {
          "Content-Type": ["application/json; charset=UTF-8"],
          "ETag": ["/gsSKVOMQU0kt67aLM6JjQ"],
          "Status": ["200"]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://bugzilla.mozilla.org/rest/bug?longdesc=raptor%2Craptor-speedometer-firefox&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      }
    },
    {
      "recorded_at": "2020-06-02T00:00:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1605344/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"history\":[{\"when\":\"2019-12-20T11:28:13Z\",\"changes\":[{\"removed\":\"Performance\",\"field_name\":\"component\",\"added\":\"General\"},{\"added\":\"unspecified\",\"field_name\":\"version\",\"removed\":\"Version 3\"},{\"added\":\"1604578\",\"field_name\":\"regressed_by\",\"removed\":\"\"},{\"field_name\":\"blocks\",\"removed\":\"\",\"added\":\"1600879\"},{\"added\":\"Firefox Build System\",\"field_name\":\"product\",\"removed\":\"Testing\"}],\"who\":\"fstrugariu@mozilla.com\"},{\"when\":\"2019-12-20T11:28:37Z\",\"changes\":[{\"field_name\":\"cc\",\"removed\":\"\",\"added\":\"cmanchester@mozilla.com\"},{\"field_name\":\"flagtypes.name\",\"removed\":\"\",\"added\":\"needinfo?(cmanchester@mozilla.com)\"}],\"who\":\"fstrugariu@mozilla.com\"},{\"changes\":[{\"added\":\"1596182\",\"removed\":\"\",\"field_name\":\"depends_on\"},{\"added\":\"\",\"removed\":\"needinfo?(cmanchester@mozilla.com)\",\"field_name\":\"flagtypes.name\"}],\"who\":\"chmanchester@gmail.com\",\"when\":\"2019-12-20T17:13:15Z\"},{\"when\":\"2020-01-03T18:51:37Z\",\"changes\":[{\"added\":\"RESOLVED\",\"removed\":\"NEW\",\"field_name\":\"status\"},{\"added\":\"FIXED\",\"removed\":\"\",\"field_name\":\"resolution\"},{\"added\":\"2020-01-03T18:51:37Z\",\"field_name\":\"cf_last_resolved\",\"removed\":\"\"}],\"who\":\"chmanchester@gmail.com\"},{\"when\":\"2020-01-06T15:20:55Z\",\"changes\":[{\"added\":\"cmanchester@mozilla.com\",\"field_name\":\"assigned_to\",\"removed\":\"nobody@mozilla.org\"},{\"added\":\"mozilla73\",\"removed\":\"---\",\"field_name\":\"target_milestone\"},{\"removed\":\"---\",\"field_name\":\"cf_status_firefox_esr68\",\"added\":\"unaffected\"},{\"field_name\":\"cf_status_firefox71\",\"removed\":\"---\",\"added\":\"unaffected\"},{\"removed\":\"---\",\"field_name\":\"cf_status_firefox72\",\"added\":\"unaffected\"},{\"field_name\":\"cf_status_firefox73\",\"removed\":\"---\",\"added\":\"fixed\"}],\"who\":\"ryanvm@gmail.com\"}],\"alias\":null,\"id\":1605344}]}"
        },
        "headers": {
          "Content-Type": ["application/json; charset=UTF-8"],
          "ETag": ["lFMJzgLH2ozUL48Ip3BNOA"],
          "Status": ["200"]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://bugzilla.mozilla.org/rest/bug/1605344/history"
      }
    },
[...]
