{
  "http_interactions": [
    {
      "recorded_at": "2020-06-02T00:00:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug?longdesc=talos%2Ctp5o&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"type\":\"defect\",\"creation_time\":\"2020-03-16T09:25:42Z\",\"summary\":\"3.25% about_newtab_with_snippets (linux64-shippable) regression on push d28ceb16f6839c79662e1eb355584d87a9810d60 (Wed March 11 2020)\",\"keywords\":[\"perf\",\"perf-alert\",\"regression\",\"talos-regression\"],\"id\":1622748,\"whiteboard\":\"\",\"is_open\":false,\"last_change_time\":\"2020-04-08T19:08:41Z\",\"resolution\":\"WONTFIX\",\"status\":\"RESOLVED\"},{\"type\":\"defect\",\"whiteboard\":\"[domsecurity-active]\",\"is_open\":false,\"status\":\"RESOLVED\",\"resolution\":\"WORKSFORME\",\"last_change_time\":\"2020-06-11T19:38:15Z\",\"id\":1623053,\"summary\":\"2.09 - 2.72% tp5o_webext (windows10-64-shippable) regression on push a0508ae6c037928981ac2733860b6ec84d7069ec (Sat March 14 2020)\",\"keywords\":[\"perf\",\"perf-alert\",\"regression\",\"talos-regression\"],\"creation_time\":\"2020-03-17T12:23:57Z\"},{\"last_change_time\":\"202[...]
    {
      "recorded_at": "2020-06-02T00:00:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1622748/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"id\":1622748,\"alias\":null,\"history\":[{\"who\":\"aionescu@mozilla.com\",\"changes\":[{\"removed\":\"\",\"added\":\"needinfo?(gandalf@aviary.pl)\",\"field_name\":\"flagtypes.name\"}],\"when\":\"2020-03-16T09:25:42Z\"},{\"when\":\"2020-03-16T09:26:21Z\",\"changes\":[{\"field_name\":\"component\",\"added\":\"Internationalization\",\"removed\":\"Performance\"},{\"removed\":\"Version 3\",\"field_name\":\"version\",\"added\":\"unspecified\"},{\"field_name\":\"product\",\"added\":\"Core\",\"removed\":\"Testing\"},{\"added\":\"mozilla76\",\"field_name\":\"target_milestone\",\"removed\":\"---\"},{\"removed\":\"---\",\"added\":\"affected\",\"field_name\":\"cf_status_firefox76\"}],\"who\":\"ai[...]
[...]
