{
  "http_interactions": [
    {
      "recorded_at": "2020-06-02T00:00:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug?longdesc=talos%2Ctp5n+nonmain_startup_fileio&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"type\":\"defect\",\"creation_time\":\"2020-01-23T10:05:52Z\",\"keywords\":[\"perf\",\"perf-alert\",\"regression\",\"talos-regression\"],\"resolution\":\"WONTFIX\",\"is_open\":false,\"status\":\"RESOLVED\",\"whiteboard\":\"\",\"summary\":\"8.71 - 10.81% tp5n nonmain_startup_fileio (windows7-32-shippable) regression on push f2b46092eeb876758677e8ffa2043f358a2edb1c (Tue January 21 2020)\",\"last_change_time\":\"2020-02-04T02:46:48Z\",\"id\":1611101},{\"resolution\":\"WONTFIX\",\"is_open\":false,\"type\":\"defect\",\"keywords\":[\"perf\",\"perf-alert\",\"regression\",\"talos-regression\"],\"creation_time\":\"2020-01-23T16:23:57Z\",\"whiteboard\":\"\",\"status\":\"RESOLVED\",\"last_change_time\":\"2020-02-28T18:55:52Z\",\"id\":1611190,\"summary\":\"5.15% tp5n nonmain_startup_fileio (windows7-32-shippable) regression on push 50c371b37a9fcd994a5866db73bd0d078e19f95d (Wed January 22 2020)\"},{\"resolution\":\"INVALID\",\"is_open\":false,\"creation_time\":\"2020-05-21T15:19:34Z\",\"keywords\":[\"perf\",\"perf-alert\",\"regression\",\"talos-regression\"],\"type\":\"defect\",\"whiteboard\":\"\",\"status\":\"RESOLVED\",\"id\":1639894,\"last_change_time\":\"2020-07-01T21:51:53Z\",\"summary\":\"149.99% tp5n nonmain_startup_fileio (windows7-32-shippable) regression on push 6c10970490f3cc19e644964f583be1a047c08b2c (Wed May 20 2020)\"}]}"
        },
        "headers": {
          "Content-Type": ["application/json; charset=UTF-8"],
          "ETag": ["3ya19ntDZv8GN/m1YOYoTg"],
          "Status": ["200"]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://bugzilla.mozilla.org/rest/bug?longdesc=talos%2Ctp5n+nonmain_startup_fileio&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      }
    },
    {
      "recorded_at": "2020-06-02T00:00:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1611101/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"history\":[{\"when\":\"2020-01-23T10:09:05Z\",\"changes\":[{\"field_name\":\"cc\",\"added\":\"jrediger@mozilla.com\",\"removed\":\"\"},{\"removed\":\"Performance\",\"added\":\"Telemetry\",\"field_name\":\"component\"},{\"added\":\"unspecified\",\"field_name\":\"version\",\"removed\":\"Version 3\"},{\"removed\":\"\",\"added\":\"1610282\",\"field_name\":\"regressed_by\"},{\"removed\":\"\",\"added\":\"1607747\",\"field_name\":\"blocks\"},{\"removed\":\"Testing\",\"added\":\"Toolkit\",\"field_name\":\"product\"},{\"removed\":\"---\",\"field_name\":\"target_milestone\",\"added\":\"mozilla74\"},{\"field_name\":\"flagtypes.name\",\"added\":\"needinfo?(jrediger@mozilla.com)\",\"removed\":\"\"},{\"field_name\":\"cf_status_firefox_esr68\",\"added\":\"unaffected\",\"removed\":\"---\"},{\"added\":\"unaffected\",\"field_name\":\"cf_status_firefox72\",\"removed\":\"---\"},{\"removed\":\"---\",\"field_name\":\"cf_status_firefox73\",\"added\":\"unaffected\"},{\"field_name\":\"cf_status_firefox74\",\"added\":\"affected\",\"removed\":\"---\"}],\"who\":\"marian.raiciof@softvision.ro\"},{\"changes\":[{\"removed\":\"needinfo?(jrediger@mozilla.com)\",\"field_name\":\"flagtypes.name\",\"added\":\"\"}],\"when\":\"2020-01-23T15:48:19Z\",\"who\":\"jrediger@mozilla.com\"},{\"changes\":[{\"added\":\"RESOLVED\",\"field_name\":\"status\",\"removed\":\"NEW\"},{\"removed\":\"\",\"added\":\"WONTFIX\",\"field_name\":\"resolution\"},{\"removed\":\"\",\"field_name\":\"flagtypes.name\",\"added\":\"needinfo?(jrediger@mozilla.com)\"},{\"added\":\"2020-01-27T16:02[...]
[...]
