{
  "http_interactions": [
    {
      "recorded_at": "2020-06-02T00:00:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug?longdesc=talos%2Ctp5n&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolution%2Clast_change_time%2Cis_open%2Ccreation_time%2Csummary%2Cwhiteboard%2Cstatus%2Ckeywords"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"resolution\":\"WONTFIX\",\"creation_time\":\"2020-01-23T10:05:52Z\",\"whiteboard\":\"\",\"is_open\":false,\"summary\":\"8.71 - 10.81% tp5n nonmain_startup_fileio (windows7-32-shippable) regression on push f2b46092eeb876758677e8ffa2043f358a2edb1c (Tue January 21 2020)\",\"type\":\"defect\",\"keywords\":[\"perf\",\"perf-alert\",\"regression\",\"talos-regression\"],\"status\":\"RESOLVED\",\"last_change_time\":\"2020-02-04T02:46:48Z\",\"id\":1611101},{\"summary\":\"5.15% tp5n nonmain_startup_fileio (windows7-32-shippable) regression on push 50c371b37a9fcd994a5866db73bd0d078e19f95d (Wed January 22 2020)\",\"type\":\"defect\",\"keywords\":[\"perf\",\"perf-alert\",\"regression\",\"talos-regression\"],\"status\":\"RESOLVED\",\"creation_time\":\"2020-01-23T16:23:57Z\",\"resolution\":\"WONTFIX\",\"whiteboard\":\"\",\"is_open\":false,\"last_change_time\":\"2020-02-28T18:55:52Z\",\"id\":1611190},{\"id\":1613918,\"last_change_time\":\"2020-0[...]
    {
      "recorded_at": "2020-06-02T00:00:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug/1611101/history"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"bugs\":[{\"id\":1611101,\"history\":[{\"changes\":[{\"field_name\":\"cc\",\"added\":\"jrediger@mozilla.com\",\"removed\":\"\"},{\"removed\":\"Performance\",\"field_name\":\"component\",\"added\":\"Telemetry\"},{\"added\":\"unspecified\",\"field_name\":\"version\",\"removed\":\"Version 3\"},{\"field_name\":\"regressed_by\",\"added\":\"1610282\",\"removed\":\"\"},{\"removed\":\"\",\"added\":\"1607747\",\"field_name\":\"blocks\"},{\"added\":\"Toolkit\",\"field_name\":\"product\",\"removed\":\"Testing\"},{\"field_name\":\"target_milestone\",\"added\":\"mozilla74\",\"removed\":\"---\"},{\"field_name\":\"flagtypes.name\",\"added\":\"needinfo?(jrediger@mozilla.com)\",\"removed\":\"\"},{\"added\":\"unaffected\",\"field_name\":\"cf_status_firefox_esr68\",\"removed\":\"---\"},{\"removed\":\"---\",\"added\":\"unaffected\",\"field_name\":\"cf_status_firefox72\"},{\"removed\":\"---\",\"added\":\"unaffected\",\"field_name\":\"cf_status_firefox73\"},{\"removed\":\"---\",\"field_name\":\"cf_status_firefox74\",\"added\":\"affected\"}],\"when\":\"2020-01-23T10:09:05Z\",\"who\":\"marian.raiciof@softvision.ro\"},{\"who\":\"jrediger@mozilla.com\",\"when\":\"2020-01-23T15:48:19Z\",\"changes\":[{\"field_name\":\"flagtypes.name\",\"added\":\"\",\"removed\":\"needinfo?(jrediger@mozilla.com)\"}]},{\"who\":\"marian.raiciof@softvision.ro\",\"changes\":[{\"added\":\"RESOLVED\",\"field_name\":\"status\",\"removed\":\"NEW\"},{\"added\":\"WONTFIX\",\"field_name\":\"resolution\",\"removed\":\"\"},{\"removed\":\"\",\"field_name\":\"flagtypes.name\",\"added\":\"needinfo?(jrediger@mozi[...]
[...]
    {
      "recorded_at": "2020-06-02T00:00:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://bugzilla.mozilla.org/rest/bug?longdesc=talos%2Ctp5n+nonmain_startup_fileio&longdesc_type=allwordssubstr&longdesc_initial=1&keywords=perf%2Cperf-alert&keywords_type=anywords&creation_time=2019-12-17T00%3A00%3A00Z&query_format=advanced&include_fields=id%2Ctype%2Cresolu[...]
