<form id="modalForm">
  <h2> Intermittent Bug Filer </h2>

  <input name="modalProductFinderSearch" id="modalProductFinderSearch" 
         type="text" placeholder="Firefox" tooltip="Manually search for a product"/>
  <button name="modalProductFinderButton" id="modalProductFinderButton"
          type="button" ng-click="findProduct()" prevent-default-on-left-click>Find Product</button>
  <div>
    <fieldset id="suggestedProducts"></fieldset>
  </div>

  <br/><br/>

  <div id="failureSummaryGroup" class="collapsed">
    <label id="modalSummarylabel" for="modalSummary">Summary:</label>
    <input id="modalSummary" type="text" placeholder="Intermittent..." maxlength="255" />
    <a class="btn btn-xs failure-expando-closed" tooltip="Show all failure lines for this job"
       ng-click="toggleFailures($event)">
      <i class="fa fa-chevron-right"></i>
    </a>
    <div id="modalFailureList"></div>
  </div>

  <div id="modalLogLinkCheckboxes">
    <label>
      <input id="modalParsedLog" type="checkbox" checked="true" />
      <a target="_blank">Include Parsed Log Link</a>
    </label><br/>
    <label>
      <input id="modalFullLog" type="checkbox" checked="true" />
      <a target="_blank">Include Full Log Link</a>
    </label><br/>
    <label id="modalReftestLogLabel" class="hidden">
      <input id="modalReftestLog" type="checkbox" />
      <a target="_blank">Include Reftest Viewer Link</a>
    </label>
  </div>

  <div id="modalCommentDiv">
    <label id="modalCommentlabel" for="modalComment">Comment:</label>
    <textarea id="modalComment" type="textarea" placeholder=""></textarea>
  </div>

  <div id="modalExtrasDiv">
    <div id="modalExtrasLeftDiv">
      <label id="modalKeywordslabel" for="modalKeywords">Keywords:</label>
      <input id="modalKeywords" disabled="true" type="text" value="intermittent-failure, " />
      <br/>
      <label id="modalCclabel" for="modalCc">Cc:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input id="modalCc" type="text" placeholder="name@site.org" />
      <br/>
      <label id="modalNeedinfolabel" for="modalNeedinfo">Needinfo:&nbsp;&nbsp;</label>
      <input id="modalNeedinfo" type="text" placeholder="DOESN'T WORK FOR NOW (name@site.org)" disabled="true" />
    </div>
    <div id="modalExtrasRightDiv">
      <label id="modalDependslabel" for="modalKeywords">Depends on:</label>
      <input id="modalDepends" type="text" placeholder="123456, 123457..." />
      <br/>
      <label id="modalBlockslabel" for="modalCc">Blocks:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input id="modalBlocks" type="text" placeholder="123456, 123457..." />
    </div>
  </div>

  <div id="modalBottomDiv">
    <button name="modalCancelButton" id="modalCancelButton" type="button" ng-click="cancelFiler()"> Cancel </button>
    <button name="modalSubmitButton" id="modalSubmitButton" type="button" ng-click="submitFiler()"> Submit Bug </button>
  </div>
</form>

