<div class="modal-header">
  <h4 class="modal-title">Custom Taskcluster Job Actions</h4>
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<div ng-if="!actions" class="modal-body">
  <p class="blink">Getting available actions ...</p>
</div>
<div ng-if="actions" class="modal-body">
  <div class="form-group">
    <label>Action</label>
    <select aria-describedby="selectedActionHelp" class="form-control" ng-model="input.selectedAction" ng-options="action.title for action in actions" ng-change="updateSelectedAction()">
    </select>
    <p id="selectedActionHelp" class="help-block" marked="input.selectedAction.description"></p>
    <p ng-if="input.selectedAction.kind === 'hook'">
      This action trigers hook <code>{{input.selectedAction.hookGroupId}}/{{input.selectedAction.hookId}}</code>
    </p>
  </div>
  <div class="row">
    <div class="col-s-12 col-md-6 form-group" ng-if="input.selectedAction.schema">
      <label>Payload</label>
      <textarea ng-model="input.payload" class="form-control pre" rows="10" spellcheck="false" />
    </div>
    <div class="col-s-12 col-md-6 form-group" ng-if="input.selectedAction.schema">
      <label>Schema</label>
      <textarea class="form-control pre" rows="10" readonly>{{schema}}</textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-if="user.isLoggedIn" class="btn btn-primary-soft" ng-click="triggerAction()" ng-attr-title="{{user.isLoggedIn ? 'Trigger this action' : 'Not logged in'}}" ng-disabled="triggering">
    <span class="fa fa-check-square-o" aria-hidden="true"></span>
    <span ng-if="triggering">Triggering</span>
    <span ng-if="!triggering">Trigger</span>
  </button>
  <p ng-if="!user.isLoggedIn" class="help-block">Custom actions require login</p>
</div>
