<span class="btn-group" uib-dropdown>
  <button uib-dropdown-toggle
          class="btn btn-sm btn-resultset dropdown-toggle"
          type="button"
          title="Action menu"
          data-hover="dropdown"
          data-delay="1000"
          data-ignore-job-clear-on-click>
    <span class="caret" data-ignore-job-clear-on-click></span>
  </button>
  <!-- Menu contents -->
  <ul class="dropdown-menu pull-right">
    <li><a target="_blank" data-ignore-job-clear-on-click
           title="Add new jobs to this resultset"
           href=""
           ng-hide="!user.loggedin || resultset.isRunnableVisible"
           ng-click="showRunnableJobs()">Add new jobs</a></li>
    <li><a target="_blank" data-ignore-job-clear-on-click
           title="Hide Runnable Jobs"
           href=""
           ng-show="resultset.isRunnableVisible"
           ng-click="deleteRunnableJobs()">Hide Runnable Jobs</a></li>
    <li><a target="_blank" data-ignore-job-clear-on-click
           href="https://bugherder.mozilla.org/?cset={{::resultset.revision}}&amp;tree={{::repoName}}"
           title="Use Bugherder to mark the bugs in this push">Mark with Bugherder</a></li>
    <li><a target="_blank" data-ignore-job-clear-on-click
           href="https://secure.pub.build.mozilla.org/buildapi/self-serve/{{::repoName}}/rev/{{::resultset.revision}}">BuildAPI</a></li>
    <li><a target="_blank" data-ignore-job-clear-on-click
           href=""
           ng-show="user.is_staff"
           ng-click="triggerMissingJobs(resultset.revision)">Trigger missing jobs</a></li>
    <li><a target="_blank" data-ignore-job-clear-on-click
           href=""
           ng-show="user.is_staff"
           ng-click="triggerAllTalosJobs(resultset.revision)">Trigger all Talos jobs</a></li>
    <li><a target="_blank"
           href="{{toChangeValue()}}&tochange={{resultset.revision}}" prevent-default-on-left-click
           ng-click="setLocationSearchParam('tochange', resultset.revision)">Set as top of range</a></li>
    <li><a target="_blank"
           href="{{fromChangeValue()}}&fromchange={{resultset.revision}}" prevent-default-on-left-click
           ng-click="setLocationSearchParam('fromchange', resultset.revision)">Set as bottom of range</a></li>
  </ul>
</span>
