<span class="btn-group" uib-dropdown>
  <button uib-dropdown-toggle
          class="btn btn-sm btn-resultset dropdown-toggle"
          type="button"
          title="Action menu"
          data-hover="dropdown"
          data-delay="1000">
    <span class="caret"></span>
  </button>
  <!-- Menu contents -->
  <ul class="dropdown-menu pull-right">
    <li><a target="_blank" ignore-job-clear-on-click
           title="Add new jobs to this resultset"
           href="" prevent-default-on-left-click
           ng-hide="resultset.isRunnableVisible"
           ng-click="showRunnableJobs()">Add new Jobs</a></li>
    <li><a target="_blank" ignore-job-clear-on-click
           title="Hide Runnable Jobs"
           href="" prevent-default-on-left-click
           ng-show="resultset.isRunnableVisible"
           ng-click="deleteRunnableJobs()">Hide Runnable Jobs</a></li>
    <li><a target="_blank" ignore-job-clear-on-click
           href="https://bugherder.mozilla.org/?cset={{::resultset.revision}}&amp;tree={{::repoName}}"
           title="Use Bugherder to mark the bugs in this push">Mark with Bugherder</a></li>
    <li><a target="_blank" ignore-job-clear-on-click
           href="https://secure.pub.build.mozilla.org/buildapi/self-serve/{{::repoName}}/rev/{{::resultset.revision}}">BuildAPI</a></li>
    <li><a target="_blank" ignore-job-clear-on-click
           href="" prevent-default-on-left-click
           ng-show="user.is_staff"
           ng-click="triggerMissingJobs(resultset.revision)">Trigger Missing jobs</a></li>
    <li><a target="_blank" ignore-job-clear-on-click
           href="" prevent-default-on-left-click
           ng-show="user.is_staff"
           ng-click="triggerAllTalosJobs(resultset.revision)">Trigger All Talos jobs</a></li>
    <li><a target="_blank" ignore-job-clear-on-click
           href="" prevent-default-on-left-click
           ng-click="setLocationSearchParam('tochange', resultset.revision)">Set as top of range</a></li>
    <li><a target="_blank" ignore-job-clear-on-click
           href="" prevent-default-on-left-click
           ng-click="setLocationSearchParam('fromchange', resultset.revision)">Set as bottom of range</a></li>
  </ul>
</span>
