<div id="filter"
     class="th-top-nav-options-panel model-body"
     ng-controller="FilterPanelCtrl">
  <div class="nav-panel-help-text">Specify which jobs to show based on this filter criteria.
    <span class="pull-right">
      <span class="btn btn-default btn-xs"
            title="Pin all jobs that pass the global filters"
            ng-click="pinAllShownJobs()"><i class="glyphicon glyphicon-pushpin"></i> pin all showing</span>
      <span class="btn btn-default btn-xs"
            title="Show only coalesced jobs"
            ng-click="thJobFilters.setOnlyCoalesced()">coalesced only</span>
      <span class="btn btn-default btn-xs"
            title="Reset to default status filters"
            ng-click="thJobFilters.resetNonFieldFilters()">reset</span>
    </span>
  </div>

  <!-- Result status filters -->
  <span ng-repeat="group in filterGroups"
        class="panel panel-default th-option-group th-inline-option-group">

    <!-- Group heading -->
    <div class="panel-heading th-option-heading">{{::group.name}}
      <span class="pull-right">
      <input type="checkbox"
             ng-model="group.allChecked"
             ng-change="toggleResultStatusGroup(group)"> all
      </span>
    </div>
    <!-- Group content -->
    <div class="panel-body">
      <span ng-repeat="filterName in group.resultStatuses">
        <th-filter-checkbox></th-filter-checkbox>
      </span>
    </div>
  </span>

  <!-- Classified/Unclassified filters -->
  <span class="panel panel-default th-option-group th-inline-option-group">
    <div class="panel-heading th-option-heading">manual classification</div>
    <div class="panel-body">
      <label class="checkbox-inline">
        <input type="checkbox"
               id="classified"
               ng-model="classifiedFilter"
               ng-click="toggleClassifiedFilter()"> classified
      </label>
      <label class="checkbox-inline">
        <input type="checkbox"
               id="unclassified"
               ng-model="unClassifiedFilter"
               ng-click="toggleUnClassifiedFilter()"> un-classified
      </label>
    </div>
  </span>
</div>
