<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <label class="navbar-brand">Treeherder</label>
    </div>
    <div class="navbar-collapse collapse th-global-navbar">
        <!-- nav begin -->
        <span class="navbar-right">
            <span ng-show="user.is_staff">
                <span class="btn btn-view-nav"
                      ng-class="{'active': (isSheriffPanelShowing)}"
                      ng-click="setSheriffPanelShowing(!isSheriffPanelShowing)"
                      tabindex="0"
                      role="button"><span>Sheriffing</span>
                    <i class="fa fa-angle-down lightgray"
                       ng-hide="isSheriffPanelShowing"></i>
                    <i class="fa fa-angle-up lightgray"
                       ng-show="isSheriffPanelShowing"></i>
                </span>
            </span>

            <span ng-controller="RepositoryMenuCtrl" >
                <!--<span class="repo-menu dropdown keep-open">-->
                <span th-repo-dropdown-container class="repo-menu dropdown">
                    <!-- Repo Button -->
                    <button id="repoLabel" title="Watch a repo" role="button"
                            href="#" data-toggle="dropdown" data-target="#"
                            class="btn btn-view-nav btn-right-navbar nav-repo-btn">Repos
                        <span class="fa fa-angle-down lightgray"></span>
                    </button>

                    <!-- Repo Menu -->
                    <ul class="dropdown-menu repo-dropdown-menu" role="menu" aria-labelledby="repoLabel">
                        <span ng-repeat="(group_order, group) in groupedRepos()">
                            <li role="presentation" class="divider" ng-hide="$first"></li>
                            <li role="presentation" class="dropdown-header">{{group.name}}</li>
                            <th-repo-menu-item ng-repeat="repo in group.repos | orderBy : 'name'" ></th-repo-menu-item>
                        </span>

                    </ul>
                </span>

                <!-- Global Filter Button -->
                <span class="btn btn-view-nav btn-right-navbar nav-filter-btn"
                      title="Global job filters"
                      ng-class="{'active': (isFilterPanelShowing)}"
                      ng-click="setFilterPanelShowing(!isFilterPanelShowing)"
                      tabindex="0"
                      role="button"><span>Filters</span>
                    <i class="fa fa-angle-down lightgray"
                       ng-hide="isFilterPanelShowing"></i>
                    <i class="fa fa-angle-up lightgray"
                       ng-show="isFilterPanelShowing"></i>
                </span>

                <!-- Help Button -->
                <a class="btn btn-view-nav nav-help-btn"
                   title="Treeherder help" href="help.html" target="_blank">
                    <span class="fa fa-question-circle lightgray nav-help-icon"></span></a>

                <span class="nav-text white th-username">{{user.email}}</span>
                <!--TODO: change this condition to enable the settings panel-->
                <span ng-show="false" class="btn btn-view-nav btn-right-navbar"
                      ng-class="{'active': (isSettingsPanelShowing)}"
                      ng-click="setSettingsPanelShowing(!isSettingsPanelShowing)"
                      tabindex="0"
                      role="button"><span>Settings</span>
                    <i class="fa fa-angle-down lightgray"
                       ng-hide="isSettingsPanelShowing"></i>
                    <i class="fa fa-angle-up lightgray"
                       ng-show="isSettingsPanelShowing"></i>
                </span>
                <persona-buttons></persona-buttons>
            </span>
        </span>

    </div>
    <ng-include class="watched-repo-navbar" src="'partials/main/thWatchedRepoNavPanel.html'" ng-show="locationPath==='jobs'"></ng-include>
    <ng-include src="'partials/main/thSheriffPanel.html'" ng-show="isSheriffPanelShowing"></ng-include>
    <ng-include src="'partials/main/thFilterPanel.html'" ng-show="isFilterPanelShowing"></ng-include>
</nav>
