<nav id="th-global-navbar" class="navbar navbar-inverse">
  <div id="th-global-navbar-top" class="navbar-collapse collapse">

    <!-- Logo Menu -->
    <span class="dropdown">
      <button id="th-logo" title="Treeherder services" role="button"
              data-toggle="dropdown" data-target="#"
              class="btn btn-view-nav">Treeherder
        <span class="fa fa-angle-down lightgray"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="th-logo">
        <li><a href="perf.html">Perfherder</a></li>
      </ul>
    </span>

    <span class="navbar-right">
      <!-- Admin Button -->
      <a class="btn btn-view-nav btn-right-navbar"
            tabindex="0"
            href="admin.html" target="_blank"
            role="button"><span class="fa fa-wrench"></span> <span>Admin</span>
      </a>

      <!-- Infra Menu -->
      <span class="dropdown">
        <button id="infraLabel" title="Infrastructure status" role="button"
                data-toggle="dropdown" data-target="#"
                class="btn btn-view-nav btn-right-navbar nav-menu-btn">Infra
          <span class="fa fa-angle-down lightgray"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="infraLabel"
            ng-include="'partials/main/thInfraMenu.html'">
        </ul>
      </span>

      <!-- Repos Menu -->
      <span id="repoMenu" ng-controller="RepositoryMenuCtrl" >
        <span th-checkbox-dropdown-container class="dropdown">
          <button id="repoLabel" title="Watch a repo" role="button"
                  data-toggle="dropdown" data-target="#"
                  class="btn btn-view-nav btn-right-navbar nav-menu-btn">Repos
            <span class="fa fa-angle-down lightgray"></span>
          </button>
          <ul class="dropdown-menu checkbox-dropdown-menu"
              role="menu" aria-labelledby="repoLabel">
            <span ng-repeat="(group_order, group) in groupedRepos()">
              <li role="presentation" class="divider" ng-hide="$first"></li>
              <li role="presentation" class="dropdown-header">{{::group.name}}</li>
              <th-repo-menu-item ng-repeat="repo in group.repos | orderBy : 'name'" ></th-repo-menu-item>
            </span>
          </ul>
        </span>
      </span>

      <!-- Global Filter Button -->
      <span class="btn btn-view-nav btn-right-navbar nav-menu-btn"
            title="Global job filters"
            ng-class="{'active': (isFilterPanelShowing)}"
            ng-click="setFilterPanelShowing(!isFilterPanelShowing)"
            tabindex="0"
            role="button"><span>Filters</span>
        <i class="fa fa-angle-down lightgray"
           ng-hide="isFilterPanelShowing"></i>
        <i class="fa fa-angle-up lightgray"
           ng-show="isFilterPanelShowing"></i>
      </span>

      <!-- Help Menu -->
      <span class="dropdown">
        <button id="helpLabel" title="Treeherder help" role="button"
                data-toggle="dropdown" data-target="#"
                class="btn btn-view-nav btn-right-navbar nav-help-btn">
          <span class="fa fa-question-circle lightgray nav-help-icon"></span>
          <span class="fa fa-angle-down lightgray"></span>
        </button>
        <ul class="dropdown-menu icon-menu" role="menu" aria-labelledby="helpLabel"
            ng-include="'partials/main/thHelpMenu.html'">
        </ul>
      </span>

      <!-- Settings Button - currently suppressed -->
      <span ng-show="false"
            id="settingsButton"
            class="btn btn-view-nav btn-right-navbar nav-menu-btn"
            ng-class="{'active': (isSettingsPanelShowing)}"
            ng-click="setSettingsPanelShowing(!isSettingsPanelShowing)"
            tabindex="0"
            role="button"><span>Settings</span>
        <i class="fa fa-angle-down lightgray"
           ng-hide="isSettingsPanelShowing"></i>
        <i class="fa fa-angle-up lightgray"
           ng-show="isSettingsPanelShowing"></i>
      </span>

      <!-- Login/Register Button -->
      <persona-buttons></persona-buttons>
    </span>

  </div>
  <ng-include class="watched-repo-navbar" src="'partials/main/thWatchedRepoNavPanel.html'" ng-show="locationPath==='jobs'"></ng-include>
  <ng-include src="'partials/main/thFilterPanel.html'" ng-show="isFilterPanelShowing"></ng-include>
</nav>
