<li>
  <a href="userguide.html" target="_blank">
    <span class="fa fa-question-circle midgray"></span>
    User Guide</a>
</li>
<li>
  <a href="https://treeherder.readthedocs.org" target="_blank">
    <span class="fa fa-file-code-o midgray"></span>
    Development Documentation</a>
</li>
<li>
  <a href="https://wiki.mozilla.org/Auto-tools/Projects/Treeherder" target="_blank">
    <span class="fa fa-file-word-o midgray"></span>
    Project Wiki</a>
</li>
<li>
  <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Tree+Management&component=Treeherder" target="_blank">
    <span class="fa fa-bug midgray"></span>
    Report a Bug</a>
</li>
<li>
  <a href="https://github.com/mozilla/treeherder" target="_blank">
    <span class="fa fa-github midgray"></span>
    Source</a>
</li>
<li>
  <a href="https://whatsdeployed.paas.allizom.org/?owner=mozilla&amp;repo=treeherder&amp;name[]=Heroku-prototype&amp;url[]=https://treeherder-heroku.herokuapp.com/revision.txt&amp;name[]=Stage&amp;url[]=https://treeherder.allizom.org/revision.txt&amp;name[]=Prod&amp;url[]=https://treeherder.mozilla.org/revision.txt" target="_blank">
    <span class="fa fa-question midgray"></span>
    What's Deployed?</a>
</li>
