<li role="presentation" class="dropdown-header">Buildbot</li>
<li>
  <a href="https://secure.pub.build.mozilla.org/buildapi/pending"
     target="_blank">BuildAPI: Pending</a>
</li>
<li>
  <a href="https://secure.pub.build.mozilla.org/buildapi/running"
     target="_blank">BuildAPI: Running</a>
</li>
<li>
  <a href="https://www.hostedgraphite.com/da5c920d/86a8384e-d9cf-4208-989b-9538a1a53e4b/grafana2/#/dashboard/db/ec2-dashboard"
     target="_blank">EC2 Dashboard</a>
</li>
<li>
  <a href="https://secure.pub.build.mozilla.org/builddata/reports/slave_health/"
     target="_blank">Slave Health</a>
</li>
<li>
  <a href="https://api.pub.build.mozilla.org/clobberer/"
     target="_blank">Clobberer</a>
</li>
<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Other</li>
<li>
  <a href="https://mozilla-releng.net/treestatus"
     target="_blank">TreeStatus</a>
</li>
<li>
  <a href="https://nigelbabu.github.io/hgstats/"
     target="_blank">HgStats</a>
</li>
<li>
  <a href="https://tools.taskcluster.net/status/"
     target="_blank">TaskCluster</a>
</li>
<li>
  <a href="https://futurama.theautomatedtester.co.uk"
     target="_blank">Futurama</a>
</li>
