<div class="th-multi-select">
  <div class="form-group">
    <input class="form-control input-sm" type="text" ng-model="query"
           ng-model-options="{debounce: 250}"  placeholder="filter"/>
  </div>

  <div class="form-group-inline">
    <div class="form-group-side form-control">
      <reactselect list="leftList" side="'left'" filter="query" watch-depth="collection"></reactselect>
    </div>

    <div class="btn-group-vertical btn-move">
      <button ng-click="move_left()"
              type="button"
              class="btn btn-xs btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button ng-click="move_right()" type="button"
              class="btn btn-xs btn-default">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>

    <div class="form-group-side form-control">
      <reactselect list="rightList" side="'right'" filter="query" watch-depth="collection"></reactselect>
    </div>
  </div>
</div>
