<!-- Pinboard -->
<div id="pinned-job-list">
  <div class="content">
    <span class="pinboard-preload-txt"
          ng-hide="hasPinnedJobs()">
          press spacebar to pin a selected job</span>
    <span ng-repeat="job in pinnedJobs">
      <th-pinned-job></th-pinned-job>
    </span>
  </div>
</div>

<!-- Related bugs -->
<div id="pinboard-related-bugs">
  <div class="content">
    <a ng-click="toggleEnterBugNumber(!enteringBugNumber); allowKeys()"
       class="pointable"
       title="Add a related bug">
      <i class="fa fa-plus-square add-related-bugs-icon"></i>
    </a>
    <span class="pinboard-preload-txt pinboard-related-bug-preload-txt"
          ng-if="!hasRelatedBugs()"
          ng-click="toggleEnterBugNumber(!enteringBugNumber); allowKeys()">
          click to add a related bug</span>
    <form ng-submit="saveEnteredBugNumber()"
          ng-show="enteringBugNumber"
          class="add-related-bugs-form">
      <input id="related-bug-input"
             data-bug-input
             class="add-related-bugs-input"
             ng-model="$parent.newEnteredBugNumber"
             placeholder="enter bug number"
             focus-me="focusInput">
    </form>
    <span ng-repeat="bug in relatedBugs">
      <th-related-bug-queued></th-related-bug-queued>
    </span>
  </div>
</div>

<!-- Classification dropdown -->
<div id="pinboard-classification">
  <div class="pinboard-label">classification</div>
  <div id="pinboard-classification-content" class="content">
    <form ng-submit="completeClassification()" class="form">
      <select id="pinboard-classification-select"
              ng-model="classification.failure_classification_id"
              ng-options="item.id as item.name for item in classificationTypes.classificationOptions">
      </select>
      <!-- Classification comment -->
      <div class="classification-comment-container">
        <input id="classification-comment"
               type="text"
               class="form-control add-classification-input"
               ng-model="classification.text"
               ng-click="allowKeys()"
               placeholder="click to add comment"
               blur-this></input>
      </div>
    </form>
  </div>
</div>

<!-- Save UI -->
<div id="pinboard-controls" class="btn-group-vertical"
     title="{{!hasPinnedJobs() ? 'No jobs pinned' : ''}}">
  <div class="btn-group">
    <button class="btn btn-default btn-xs save-btn"
            title="{{ !user.loggedin && !canSaveClassifications() ?
                      'Not logged in / default classification data / no job pinned' : 'Save all classification data' }}"
            ng-click="save()"
            ng-disabled=" !user.loggedin && !canSaveClassifications()">save
    </button>
    <button class="btn btn-default btn-xs dropdown-toggle save-btn-dropdown"
            title="{{ !hasPinnedJobs() ? 'No pinned jobs' : 'Additional pinboard functions' }}"
            ng-disabled="!hasPinnedJobs()"
            data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
      <li class="{{ !user.loggedin && !canSaveClassifications() ? 'disabled' : '' }}"
          title="{{ !user.loggedin && !canSaveClassifications() ?
                    'Not logged in / default classification data / no job pinned' : 'Save classification only' }}">
        <a ng-click="!canSaveClassifications() || saveClassificationOnly()">Save classification only</a></li>
      <li class="{{ !user.loggedin || !hasRelatedBugs() ? 'disabled' : '' }}"
          title="{{ !user.loggedin || !hasRelatedBugs() ?
                    'Not logged in / no related bugs added' : 'Save bug classification data' }}">
        <a ng-click="!canSaveClassifications() || saveBugsOnly()">Save bugs only</a></li>
      <li class="{{ !user.loggedin ? 'disabled' : '' }}"
          title="{{ !user.loggedin ? 'Must be logged in to retrigger all pinned jobs' : 'Repeat the pinned jobs'}}">
        <a ng-disabled="!user.loggedin"
           ng-click="!user.loggedin || retriggerAllPinnedJobs()">Retrigger all</a></li>
      <li><a ng-click="unPinAll()">Clear all</a></li>
    </ul>
  </div>
</div>
