<div class="th-top-nav-options-panel" id="sheriff_panel" ng-controller="SheriffCtrl">
  <ul class="nav nav-tabs exclusion-tabs">
    <li ng-class="{'active': view == 'exclusion_profile_list'}">
      <a href="" prevent-default-on-left-click
         ng-click="switchView('exclusion_profile_list')">Exclusion profiles</a>
    </li>
    <li ng-class="{'active': view == 'job_exclusion_list'}">
      <a href="" prevent-default-on-left-click
         ng-click="switchView('job_exclusion_list')">Job exclusions</a>
    </li>
  </ul>

  <!-- Exclusion profiles -->
  <div ng-if="view == 'exclusion_profile_list'"
       class="th-inline-option-group exclusion-container">
    <p ng-if="profiles.length == 0">No profile available</p>
    <table ng-if="profiles.length > 0" class="table table-condensed">
      <tr>
        <th>Profile</th><th></th><th>Excluded</th><th></th>
      </tr>
      <tr ng-repeat="profile in profiles"
          class="sheriff-panel-exclusion-profiles-row">
        <td>
          <a ng-click="init_profile_update(profile)"
             class="pointable"
             title="Change the members in this profile">
            {{::profile.name}}
          </a>
        </td>
        <td class="text-center">
          <span ng-click="set_default_profile(profile)"
                ng-class="profile.is_default ? 'fa-check-circle text-success' :
                          'fa-circle-o xlightgray'"
                class="fa pointable"
                title="{{profile.is_default ? 'Default profile' :
                       'Set this as the default profile'}}">
          </span>
        </td>
        <td>
          <a ng-click="init_exclusion_update(exclusions_map[exclusion])"
             ng-repeat="exclusion in profile.exclusions"
             class="th-inline-option-group sheriff-panel-excluded-job pointable"
             title="Modify this exclusion">
            &#8226; {{::exclusions_map[exclusion].name}}</a>
        </td>
        <td>
          <span ng-click="delete_profile(profile)"
                class="sheriff-panel-delete-icon hover-warning pointable"
                title="Delete this profile">
            <i class="fa fa-times-circle"></i>
          </span>
        </td>
      </tr>
    </table>
    <button ng-click="init_profile_add()" type="button"
            class="btn btn-sm btn-primary">Add profile</button>
  </div>

  <!-- Add/Update exclusion profile -->
  <div ng-if="view == 'exclusion_profile_add'"
       class="panel panel-default th-inline-option-group add-new-exclusion">
    <div class="panel-heading th-option-heading">
      Add/Update exclusion profile
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control input-sm" type="text"
               ng-model="form_profile.name" placeholder="Enter a name"/>
      </div>
      <form class="form">
        <label>Select one or more exclusions to enable in your new profile</label>
        <div ng-repeat="exclusion in exclusions" class="form-group">
          <input type="checkbox" ng-model="form_profile_choices[exclusion.id]" />
          <span title="{{::exclusion.description}}">{{::exclusion.name}}</span>
        </div>
      </form>
      <div class="form-group-inline">
        <div class="form-group">
          <a ng-click="switchView('exclusion_profile_list')"
             class="btn btn-sm btn-default pull right">Back</a>
        </div>
        <div class="form-group">
          <button ng-click="reset_profile()" type="submit"
                  class="btn btn-sm btn-danger pull right">Reset</button>
        </div>
        <div class="form-group">
          <button ng-click="save_profile(form_profile)" type="submit"
                  class="btn btn-sm btn-success pull right">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Job exclusions -->
  <div ng-if="view == 'job_exclusion_list'"
       class="th-inline-option-group exclusion-container">
    <p ng-if="exclusions.length == 0">No exclusion available</p>
    <table ng-if="exclusions.length > 0"
           class="table table-condensed">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Repositories</th>
        <th>Platform</th>
        <th>Option Collections</th>
        <th>Job Type</th>
      </tr>
      <tr ng-repeat="exclusion in exclusions"
          class="sheriff-panel-job-exclusions-row">
        <td>
          <a ng-click="init_exclusion_update(exclusion)"
             class="pointable"
             title="Modify this exclusion">
            {{::exclusion.name}}
          </a>
        </td>
        <td>{{::exclusion.description}}</td>
        <td><th-truncated-list numvisible="2" elements="exclusion.info.repos" /></td>
        <td><th-truncated-list numvisible="2" elements="exclusion.info.platforms" /></td>
        <td><th-truncated-list numvisible="2" elements="exclusion.info.option_collections" /></td>
        <td><th-truncated-list numvisible="2" elements="exclusion.info.job_types" /></td>
        <td>
          <span ng-click="delete_exclusion(exclusion)"
                class="sheriff-panel-delete-icon hover-warning pointable"
                title="Delete this exclusion">
            <i class="fa fa-times-circle"></i>
          </span>
        </td>
      </tr>
    </table>
    <button ng-click="init_exclusion_add()" type="button"
            class="btn btn-sm btn-primary">Add exclusion</button>
  </div>


  <!-- Add/Update exclusion -->
  <div ng-if="view == 'job_exclusion_add'"
       class="panel panel-default th-inline-option-group add-new-exclusion">
    <div class="panel-heading th-option-heading">
      Add/Update job exclusion
    </div>
    <div class="panel-body">
      <form class="form" name="thJobExclusionsForm">
        <div class="form-group">
          <label>Name</label> <span class="text-danger">(required)</span>
          <input class="form-control input-sm"
                 type="text"
                 ng-model="form_exclusion.name"
                 placeholder="Enter a name"
                 required/>
        </div>
        <div class="form-group">
          <label class="sr-only control-label">Description</label>
          <textarea class="form-control input-sm"
                    ng-model="form_exclusion.description"
                    placeholder="Enter a description"></textarea>
        </div>
        <div class="form-group-inline">

          <div class="form-group">
            <label>Repositories</label>
            <th-multi-select left-list="form_repos"
                             right-list="form_exclusion.info.repos">
            </th-multi-select>
          </div>
          <div class="form-group">
            <label>Platforms</label>
            <th-multi-select left-list="form_platforms"
                             right-list="form_exclusion.info.platforms">
            </th-multi-select>
          </div>
          <div class="form-group">
            <label>Option Collections</label>
            <th-multi-select left-list="form_option_collections"
                             right-list="form_exclusion.info.option_collections">
            </th-multi-select>
          </div>
          <div class="form-group">
            <label>Job Types</label>
            <th-multi-select left-list="form_job_types"
                             right-list="form_exclusion.info.job_types">
            </th-multi-select>
          </div>

          <div class="form-group">
            <div class="form-group-inline">
              <div class="form-group">
                <a ng-click="switchView('job_exclusion_list')"
                   class="btn btn-sm btn-default pull right">Back</a>
              </div>
              <div class="form-group">
                <button ng-click="reset_exclusion()" type="submit"
                        class="btn btn-sm btn-danger pull right">Reset</button>
              </div>
              <div class="form-group">
                <button ng-click="thJobExclusionsForm.$valid && save_exclusion(form_exclusion)"
                        type="submit"
                        class="btn btn-sm btn-success pull right">Save</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
