<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Keyboard shortcuts
      <span ng-show="inGamerMode">GAMERMODE ACTIVE</span>
      <a ng-show="onscreenShortcutsShowing"
         ng-click="setOnscreenShortcutsShowing(false)"
         class="pull-right" href="" title="Close this help">
        <span class="fa fa-times lightgray"></span>
      </a>
    </h3>
  </div>
  <div class="panel-body panel-spacing">
    <table id="shortcuts">
      <!-- Expose when onscreen help is complete - bug 1141569
      <tr><td><kbd>F1</kbd></td>
        <td>Display onscreen help</td></tr>
      -->
      <tr>
        <th colspan=2>Jobs View</th>
      </tr>
      <tbody>
        <tr><td><kbd>esc</kbd></td>
          <td>Close all open panels</td></tr>
        <tr><td><kbd>f</kbd></td>
          <td>Enter a quick filter</td></tr>
        <tr>
          <td><kbd>ctrl</kbd><kbd>shift</kbd><kbd>f</kbd></td>
          <td>Clear the quick filter</td>
        </tr>
        <tr><td><kbd>&larr;</kbd><span ng-show="inGamerMode"> or <kbd>w</kbd></span></td>
          <td>Select previous job</td></tr>
        <tr><td><kbd>&rarr;</kbd><span ng-show="inGamerMode"> or <kbd>s</kbd></span></td>
          <td>Select next job</td></tr>
        <tr><td ng-hide="inGamerMode"><kbd>k</kbd> or <kbd>p</kbd></td>
            <td ng-show="inGamerMode"><kbd>a</kbd></td>
          <td>Select previous unclassified failure</td></tr>
        <tr><td ng-hide="inGamerMode"><kbd>j</kbd> or <kbd>n</kbd></td>
            <td ng-show="inGamerMode"><kbd>d</kbd></td>
          <td>Select next unclassified failure</td></tr>
        <tr><td><kbd>t</kbd></td>
          <td>Select next info tab</td></tr>
        <tr><td><kbd>l</kbd><span ng-show="inGamerMode"> or <kbd>q</kbd></span></td>
          <td>Open the logviewer for the selected job</td></tr>
        <tr><td><kbd>r</kbd></td>
          <td>Retrigger selected job</td></tr>
        <tr><td><kbd>u</kbd><span ng-show="inGamerMode"> or <kbd>e</kbd></span></td>
          <td>Show only unclassified failures</td></tr>
        <tr><td><kbd>i</kbd><span ng-show="inGamerMode"> or <kbd>v</kbd></span></td>
          <td>Toggle pending and running jobs</td></tr>
        <tr><td><kbd>ctrl</kbd> or <kbd>cmd</kbd></td>
          <td>Toggle pinning a job during click selection</td></tr>
      </tbody>
      <tr>
        <th colspan=2>Pinboard</th>
      </tr>
      <tbody>
        <tr><td><kbd>spacebar</kbd></td>
          <td>Add a selected job to the pinboard</td></tr>
        <tr><td><kbd>b</kbd></td>
          <td>Add a selected job to the pinboard + enter related bug</td></tr>
        <tr><td><kbd>c</kbd></td>
          <td>Add a selected job to the pinboard + enter classification</td></tr>
        <tr><td><kbd>ctrl</kbd><kbd>enter</kbd> or <kbd>ctrl</kbd><kbd>space</kbd></td>
          <td>Save pinboard classification and related bugs</td></tr>
        <tr>
          <td><kbd>ctrl</kbd><kbd>shift</kbd><kbd>u</kbd></td>
          <td>Clear the pinboard</td>
        </tr>
        <tr><td><kbd>ctrl</kbd><kbd>backspace</kbd></td>
          <td>Delete job classification and related bugs</td></tr>
        <tr>
          <th colspan=2>Autoclassify Panel</th>
        </tr>
      <tr><td ng-hide="inGamerMode"><kbd>a</kbd></td>
            <td ng-show="inGamerMode"><kbd>z</kbd></td>
        <td>Ignore unclassified failure lines</td></tr>
      <tr><td ng-hide="inGamerMode"><kbd>s</kbd></td>
            <td ng-show="inGamerMode"><kbd>x</kbd></td>
        <td>Save all autoclassifications</td></tr>
      </tbody>
      <tr>
        <th colspan=2>Help</th>
      </tr>
      <tbody>
        <tr><td><kbd>?</kbd></td>
          <td>Display onscreen keyboard shortcuts</td></tr>
      </tbody>
    </table>
  </div>
</div>
