<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Keyboard shortcuts
      <a ng-show="onscreenShortcutsShowing"
         ng-click="setOnscreenShortcutsShowing(false)"
         class="pull-right" href="" title="Close this help">
        <span class="fa fa-times lightgray"></span>
      </a>
    </h3>
  </div>
  <div class="panel-body panel-spacing">
    <table id="shortcuts">
      <!-- Expose when onscreen help is complete - bug 1141569
      <tr><td class="kbd">F1</td>
        <td>Display onscreen help</td></tr>
      -->
      <tr><td class="kbd">esc</td>
        <td>Close all open job or filter panels</td></tr>
      <tr><td class="kbd">f</td>
        <td>Enter a quick filter</td></tr>
      <tr>
        <td><span class="kbd">ctrl</span><span class="kbd">shift
          </span><span class="kbd">f</span></td>
        <td>Clear the quick filter</td>
      </tr>
      <tr><td class="kbd">&larr;</td>
        <td>Select previous job</td></tr>
      <tr><td class="kbd">&rarr;</span></td>
        <td>Select next job</td></tr>
      <tr><td><span class="kbd">k</span> or <span class="kbd">p</span></td>
        <td>Select previous unclassified failure</td></tr>
      <tr><td><span class="kbd">j</span> or <span class="kbd">n</span></td>
        <td>Select next unclassified failure</td></tr>
      <tr><td class="kbd">l</td>
        <td>Open the logviewer for the selected job</td></tr>
      <tr><td><span class="kbd">ctrl</span> or <span class="kbd">cmd</span></td>
        <td>Add job to the pinboard during click selection</td></tr>
      <tr><td class="kbd">spacebar</td>
        <td>Add a selected job to the pinboard</td></tr>
      <tr><td class="kbd">b</td>
        <td>Add a selected job to the pinboard + enter related bug</td></tr>
      <tr><td class="kbd">c</td>
        <td>Add a selected job to the pinboard + enter classification</td></tr>
      <tr><td><span class="kbd">ctrl</span><span class="kbd">enter</span></td>
        <td>Save pinboard classification and related bugs</td></tr>
      <tr>
        <td><span class="kbd">ctrl</span><span class="kbd">shift
          </span><span class="kbd">u</span></td>
        <td>Clear the pinboard</td>
      </tr>
      <tr><td class="kbd">r</span></td>
        <td>Retrigger selected job</td></tr>
      <tr><td><span class="kbd">ctrl</span><span class="kbd">backspace</span></td>
        <td>Delete job classification and related bugs</td></tr>
      <tr><td class="kbd">u</td>
        <td>Show only unclassified failures</td></tr>
      <tr ng-if="!onscreenShortcutsShowing"><td class="kbd">?</td>
        <td>Display onscreen keyboard shortcuts</td></tr>
    </table>
  </div>
</div>
