<ul class="dropdown-menu" role="menu">
  <li ng-show="reason" class="watched-repo-dropdown-item">
    <span ng-bind-html="reason|linkifyBugs"></span>
  </li>
  <li class="divider" ng-show="reason && message_of_the_day"></li>
  <li ng-show="message_of_the_day" class="watched-repo-dropdown-item">
    <span ng-bind-html="message_of_the_day"></span>
  </li>
  <li class="divider" ng-show="reason || message_of_the_day"></li>
  <li class="watched-repo-dropdown-item">
    <a href="https://treestatus.mozilla.org/{{::treeStatus}}"
       target="_blank">Tree Status</a>
  </li>
  <li class="watched-repo-dropdown-item">
    <a href="{{::pushlog}}" target="_blank">Pushlog</a>
  </li>
  <li class="watched-repo-dropdown-item">
    <a href="https://api.pub.build.mozilla.org/clobberer/?branch={{::name}}"
       target="_blank">Clobberer</a>
  </li>
</ul>
