<div id="watched-repo-navbar" class="th-context-navbar navbar-dark watched-repo-navbar">
  <span class="justify-content-between w-100 d-flex flex-wrap">
    <span class="d-flex"><th-watched-repo ng-repeat="watchedRepo in repoModel.watchedRepos" /></span>
    <form role="search" class="form-inline flex-row">

        <span class="btn btn-sm btn-view-nav nav-menu-btn"
              ng-show="serverChanged" ng-cloak
              ng-click="updateButtonClick()"
              id="revisionChangedLabel"
              title="New version of Treeherder has been deployed. Reload to pick up changes.">
          <span class="fa fa-exclamation-circle"></span>&nbsp;Treeherder update available
        </span>

        <!--Unclassified Failures Button-->
        <span class="btn btn-sm"
              title="Loaded failures / toggle filtering for unclassified failures"
              tabindex="0" role="button"
              ng-class="{'btn-unclassified-failures': getAllUnclassifiedFailureCount(repoName),
                         'btn-view-nav': getAllUnclassifiedFailureCount(repoName)===0}"
              ng-click="toggleUnclassifiedFailures()">
          <span id="unclassified-failure-count">
            {{ getAllUnclassifiedFailureCount(repoName) }}</span> unclassified
        </span>

        <!--Filtered Unclassified Failures Button-->
        <span class="navbar-badge badge badge-secondary badge-pill"
              title="Reflects the unclassified failures which pass the current filters"
              ng-hide="getFilteredUnclassifiedFailureCount(repoName) === getAllUnclassifiedFailureCount(repoName)">
          <span id="filtered-unclassified-failure-count">
            {{ getFilteredUnclassifiedFailureCount(repoName) }}</span>
        </span>

        <!-- Toggle Duplicate Jobs -->
        <span class="btn btn-view-nav btn-sm btn-toggle-duplicate-jobs"
              tabindex="1" role="button"
              title="{{ showDuplicateJobs ? 'Hide duplicate jobs' : 'Show duplicate jobs' }}"
              ng-click="groupState !== 'expanded' && toggleShowDuplicateJobs()"
              ng-disabled="groupState === 'expanded'"
              ng-class="{ 'strikethrough': !showDuplicateJobs }">
        </span>

        <span class="btn-group">
          <!--Toggle Group State Button-->
          <span class="btn btn-view-nav btn-sm btn-toggle-group-state"
                tabindex="0" role="button"
                title="{{ groupState === 'collapsed' ? 'Expand job groups' : 'Collapse job groups' }}"
                ng-click="toggleGroupState()">(
            <span class="group-state-nav-icon">
              {{ groupState === 'collapsed' ? "+" : "-" }}</span>
          )</span>
        </span>

        <!--Result Status Filter Chicklets-->
        <span class="resultStatusChicklets">
            <ng-include src="'partials/main/thFilterChicklets.html'"></ng-include>
        </span>

        <span>
          <span class="btn btn-view-nav btn-sm"
                ng-click="toggleFieldFilterVisibility()"
                title="Filter by a job field">
            <i class="fa fa-filter" />
          </span>
        </span>

        <!--Quick Filter Field-->
        <span ng-controller="SearchCtrl"
              id="quick-filter-parent"
              class="form-group form-inline">
          <input id="quick-filter"
                 class="form-control form-control-sm" required
                 title="Click to enter filter values"
                 ng-model="searchQueryStr" ng-keydown="search($event)" type="text"
                 placeholder="Filter platforms & jobs"
                 blur-this>
          <span id="quick-filter-clear-button"
                class="fa fa-times-circle"
                title="Clear this filter"
                ng-click="clearFilterBox()"></span>
        </span>
    </form>
  </span>
</div>
