<span class="btn-group">
  <button class="watched-repo-main-btn btn btn-sm {{btnClass}}"
          ng-class="{'active': watchedRepo===repoName}"
          ng-click="changeRepo(watchedRepo)"
          type="button"
          title="{{titleText|stripHtml}}">
    <i class="fa {{statusIcon}} {{statusIconClass}} {{statusColor}}"></i> {{::watchedRepo}}
  </button>
  <button class="watched-repo-info-btn btn btn-sm {{btnClass}} dropdown-toggle"
          ng-class="{'active': watchedRepo===repoName}"
          ng-click="setDropDownPull($event)"
          type="button"
          title="{{::watchedRepo}} info"
          data-toggle="dropdown">
    <span class="fa fa-info-circle"></span>
  </button>
  <button class="watched-repo-unwatch-btn btn btn-sm {{btnClass}}"
          ng-class="{'active': watchedRepo===repoName}"
          ng-click="repoModel.unwatchRepo(watchedRepo)"
          ng-hide="watchedRepo===repoName"
          title="unwatch {{::watchedRepo}}">
    <span class="fa fa-times"></span>
  </button>
  <th-watched-repo-info-drop-down name="{{::watchedRepo}}"
                                  reason="{{repos[watchedRepo].treeStatus.reason}}"
                                  message_of_the_day="{{repos[watchedRepo].treeStatus.message_of_the_day}}">
  </th-watched-repo-info-drop-down>
</span>
