<div class="progress progress-striped active"
     ng-show="isLoadingRsBatch.prepending">
    <div class="progress-bar"  role="progressbar" style="width: 100%"></div>
</div>

<div  ng-repeat="resultset in result_sets track by resultset.id | orderBy:'-push_timestamp'"
     ng-controller="ResultSetCtrl"
     class="result-set col col-xs-12"
     data-id="{{resultset.id}}">

    <div class="result-set-title row">
        <span class="col-xs-5">
            <a class="btn btn-default btn-sm" ng-hide="true"><i class=" glyphicon glyphicon-pushpin"></i></a>
            <span class="btn btn-default btn-sm glyphicon glyphicon-download" ng-show="isLoadingJobs"></span>
            <th-action-button ng-hide="isLoadingJobs"></th-action-button>
            <span class="timestamp-name">
                <span>{{resultset.push_timestamp*1000|date:'medium'}} - </span>
                <th-author author="resultset.author"></th-author>
            </span>
        </span>
        <span class="btn btn-default btn-sm col-xs-1 revision-button"
              ng-click="toggleRevisions()"
              title="show revisions">{{resultset.revision}} ({{resultset.revision_count}})</span>
        <th-result-counts class="col-xs-5"/>
    </div>

    <div th-clone-jobs ></div>
</div>
<!-- Clone target for each result set -->
<div style="display:none;" class="th-jobs-clone-target">
    <div class="progress progress-striped active th-rs-loading"
         ng-show="isLoadingResults">
        <div class="progress-bar"  role="progressbar" style="width: 100%"></div>
    </div>

    <div class="clearfix"></div>

    <div ng-hide="isCollapsedRevisions && isCollapsedResults"
         class="row result-set">
        <span ng-hide="isCollapsedRevisions"
              ng-class="{'col-xs-4': (isCollapsedResults==false)}"
              class="revision-list">
            <ul class="list-unstyled th-revision-att-site"></ul>
        </span>
        <span ng-hide="isCollapsedResults"
              ng-class="{'col-xs-8 job-list-pad-left': (isCollapsedRevisions==false), 'col-xs-12 job-list-nopad': (isCollapsedRevisions)}">
            <table class="table-hover th-platform-att-site"></table>
        </span>
    </div>
</div>
<!-- END clone target -->

<!-- Clone target for each revision -->
<span style="display:none;">
    <span class="revision">
        <a href="{{revisionUrl}}" target="_blank">{{revision.revision}}</a>
        <span title="{{authorName}}: {{authorEmail}}">{{authorName}}</span>
        <span><em>"{{revision.comments}}"</em></span>
    </span>
</span>

<!-- END Revision clone target -->

<div style="display:none;">
    <table class="table-hover">
        <tr ng-repeat="platform in resultset.platforms | filter:query | filter:resultStatusFilterPlatform() | orderBy: $filter('platformName')">
            <td class="col-xs-2 platform"><span>{{ platform.name | platformName:platform.name }} {{ platform.option }}</span></td>
            <td class="col-xs-10">
                <span ng-repeat="group in platform.groups"
                    ng-show="(group.jobs | filter:resultStatusFilterJobs()).length"
                    class="platform-group">
                    <span ng-show="group.symbol != '?'"
                        class="disabled job-group"
                        title="{{ group.name }}">{{ group.symbol }}(</span>
                    <span>
                        <th-job-button class="job-btn" ng-repeat="job in group.jobs | filter:resultStatusFilterJobs()"></th-job-button>
                    </span>
                    <span ng-show="group.symbol != '?'" class="job-group-r-paren">)</span>
                </span>
            </td>
        </tr>
    </table>
</div>

<div class="progress progress-striped active"
     ng-show="isLoadingRsBatch.appending">
    <div class="progress-bar"  role="progressbar" style="width: 100%"></div>
</div>
<div class="well">
    get next: <div class="btn-group">
        <div class="btn btn-default btn-sm"
             ng-click="fetchResultSets(count)"
             ng-repeat="count in [10, 20, 50, 100]">{{count}}</div>
    </div>
</div>
</div>
