

<div ng-repeat="push in result_sets"
     ng-controller="PushCtrl"
     class="result-set row-fluid">

    <a class="span2 btn {{ pushResultBtn }}"
       ng-click="isCollapsedResults = !isCollapsedResults">
           <i class="{{ icon }}"></i>
           {{ ' results' | showOrHide:isCollapsedResults }}
    </a>
    <a class="span4 text-left btn btn-info"
       ng-click="isCollapsedRevisions = !isCollapsedRevisions">
        <div class="text-left">{{push.push_timestamp*1000|date:'medium'}} - {{push.author}}</div>
    </a>

    <span class="span1 pushactions">
        <span class="dropdown">
            <a class="btn dropdown-toggle" data-hover="dropdown" data-delay="1000" href="#">
                <i class="icon-cog"></i>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li class="disabled"><a>Push Actions</a></li>
                <li class="divider"></li>
                <li><a target="_blank" href="https://tbpl.mozilla.org/mcmerge/?cset=8196c86355bc">m-mcMerge</a></li>
                <li><a target="_blank" href="https://secure.pub.build.mozilla.org/buildapi/self-serve/mozilla-central/rev/8196c86355bc">BuildAPI</a></li>
                <li><a target="_blank" href="">Changeset URL List</a></li>
                <li><a href="">Compare</a></li>
                <li><a href="">Cancel All Jobs</a></li>
            </ul>
        </span>
    </span>
    <div class="span1" ng-show="isLoadingResults">
        <div class="progress progress-striped active"><progress percent="100"></progress></div>
    </div>
    <div class="clearfix"></div>

    <div collapse="isCollapsedRevisions">
        <ul class="unstyled">
            <li ng-repeat="revision in push.revisions">
                <h5>{{revision.name}} - <a class="btn">{{revision.revision}}</a> <a class="btn">{{revision.bug_id}}</a></h5>
                <small>{{revision.message}}</small>
            </li>
        </ul>
    </div>
    <div collapse="isCollapsedResults">
        <table class="table job-table table-hover">
            <tr ng-repeat="platform in job_results | filter:query">
                <td class="span2"><span>{{ platform.name }}</span></td>
                <td class="span10">
                    <span ng-repeat="group in platform.groups">
                        <span ng-show="group.symbol"
                           class="disabled"
                           title="{{ group.name }}">
                           {{ group.symbol }}(
                        </span>
                        <span ng-class="{'btn-group': group.symbol}">
                            <th-job-button
                                ng-repeat="job in group.jobs">
                            </th-job-button>
                        </span>
                        <span ng-show="group.symbol">)</span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
