    <span class="dropdown">
        <a class="btn btn-default btn-sm dropdown-toggle" data-hover="dropdown" data-delay="1000" href="#">
            <i class="fa fa-external-link fa-lg"></i>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu pull-left">
            <li><a target="_blank" href="https://tbpl.mozilla.org/mcmerge/?cset={{resultset.revision}}&tree={{repoName}}">mcMerge</a></li>
            <li><a target="_blank" href="https://secure.pub.build.mozilla.org/buildapi/self-serve/{{repoName}}/rev/{{resultset.revision}}">BuildAPI</a></li>
            <li><a target="_blank" href="" ng-click="openRevisionListWindow()">Revision URL List</a></li>
            <li><a href="" ng-click="cancelAllJobs(resultset.revision)">Cancel All Jobs</a></li>
        </ul>
    </span>
