<div id="accordion-panel" class="tabbable">
    <div class="tab-content" collapse="isFilterPanelHidden">
        <div id="filter" class="tab-pane active">
		    <div class="well well-lg">
		        <button class="btn btn-default btn-sm"
		                ng-repeat="group in filterGroups"
		                ng-click="toggleGroup(group.resultStatuses)">{{group.name}}</button>
                <label ng-repeat="filter in filterOptions"
                       class="checkbox-inline">
                    <input type="checkbox"
                           id="{{filter}}"
                           ng-model="resultStatusFilters[filter]"> {{filter}}
                </label>
                <label class="checkbox-inline" title="classified jobs">
                    <input type="checkbox" id="classified" value="classified" checked> classified
                </label>
		    </div>
        </div>
        <div id="pinbucket" class="tab-pane">
		    <div class="well well-lg">pin bucket</div>
        </div>
    </div>
    <span >
        <ul class="nav nav-tabs">
            <li ng-click="isFilterPanelHidden = false">
                <a data-target="#filter" data-toggle="tab">filter</a>
            </li>
            <li ng-click="isFilterPanelHidden = false">
                <a data-target="#pinbucket" data-toggle="tab">pinbucket</a>

            </li>
            <li class="accordion-panel-hide-button"
                ng-click="isFilterPanelHidden = true"
                ng-hide="isFilterPanelHidden"
                title="hide">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </li>
        </ul>
    </span>
</div>