    <span class="dropdown">
        <a class="btn btn-default btn-sm dropdown-toggle" data-hover="dropdown" data-delay="1000" href="#">
            <i class="glyphicon glyphicon-export"></i>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu pull-right">
            <li><a target="_blank" href="https://tbpl.mozilla.org/mcmerge/?cset={{resultset.revision}}&tree={{repoName}}">m-mcMerge</a></li>
            <li><a target="_blank" href="https://secure.pub.build.mozilla.org/buildapi/self-serve/{{repoName}}/rev/{{resultset.revision}}">BuildAPI</a></li>
            <li><a target="_blank" href="" data-toggle="modal" data-target="#revisionListModal">Changeset URL List</a></li>
            <li class="hidden"><a href="" ng-disabled="true">Cancel All Jobs</a></li>
        </ul>
    </span>
