<nav class="navbar navbar-inverse navbar-fixed-top th-navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Treeherder</a>
    </div>
    <div class="navbar-collapse collapse th-global-navbar">
        <!-- nav begin -->
        <span class="nav navbar-nav">
            <span class="btn-group"
                  ng-repeat="viewOption in ['jobs', 'timeline', 'machines']">
                <a class="btn btn-view-nav"
                   ng-class="{'active': (locationPath===viewOption)}"
                   href="#/{{viewOption}}">{{viewOption}}</a>
            </span>
        </span>
        <span class="pull-right">
            <span class="btn btn-view-nav dropdown-toggle"
                  ng-class="{'active': (isRepoPanelShowing)}"
                  ng-click="isRepoPanelShowing=!isRepoPanelShowing"><span>repos</span>
                <i class="glyphicon glyphicon-chevron-down lightgray"
                   ng-hide="isRepoPanelShowing"></i>
                <i class="glyphicon glyphicon-chevron-up lightgray"
                   ng-show="isRepoPanelShowing"></i>
            </span>
            <span class="btn btn-view-nav"
                  ng-class="{'active': (isViewOptionsPanelShowing)}"
                  ng-click="isViewOptionsPanelShowing=!isViewOptionsPanelShowing"><span>status filters</span>
                <i class="glyphicon glyphicon-chevron-down lightgray"
                   ng-hide="isViewOptionsPanelShowing"></i>
                <i class="glyphicon glyphicon-chevron-up lightgray"
                   ng-show="isViewOptionsPanelShowing"></i>
            </span>
            <a class="btn btn-view-nav" href="help.html" target="_blank">help</a>
        </span>

    </div>
    <th-jobs-top-nav-panel ng-show="locationPath==='jobs'"></th-jobs-top-nav-panel>
    <div ng-show="isViewOptionsPanelShowing">
        <th-result-status-filter-panel ng-show="locationPath==='jobs'"></th-result-status-filter-panel>
    </div>
    <th-repo-panel ng-show="isRepoPanelShowing"></th-repo-panel>
</nav>
