<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Treeherder</a>
    </div>
    <div class="navbar-collapse collapse th-global-navbar">
        <!-- nav begin -->
        <span class="nav navbar-nav">
            <!-- 'timeline' and 'machines' currently removed from viewOption -->
            <span class="btn-group"
                  ng-repeat="viewOption in ['jobs']">
                <a class="btn btn-view-nav"
                   ng-class="{'active': (locationPath===viewOption)}"
                   href="#/{{viewOption}}">{{viewOption}}</a>
            </span>
        </span>
        <span class="navbar-right">
            <span ng-show="user.is_staff">
                <span class="btn btn-view-nav"
                      ng-class="{'active': (isSheriffPanelShowing)}"
                      ng-click="setSheriffPanelShowing(!isSheriffPanelShowing)"
                      tabindex="0"
                      role="button"><span>Sheriffing</span>
                    <i class="fa fa-caret-down lightgray"
                       ng-hide="isSheriffPanelShowing"></i>
                    <i class="fa fa-caret-up lightgray"
                       ng-show="isSheriffPanelShowing"></i>
                </span>
            </span>

            <span ng-controller="RepositoryMenuCtrl" >
                <!--<span class="repo-menu dropdown keep-open">-->
                <span th-repo-dropdown-container class="repo-menu dropdown">
                    <!-- Repo Button -->
                    <button id="repoLabel" role="button" href="#" data-toggle="dropdown" data-target="#" class="btn btn-view-nav">
                        Repos <b class="fa fa-caret-down lightgray"></b>
                    </button>

                    <!-- Repo Menu -->
                    <ul class="dropdown-menu repo-dropdown-menu" role="menu" aria-labelledby="repoLabel">
                        <span ng-repeat="(group_order, group) in groupedRepos()"
                              >
                            <li role="presentation" class="divider" ng-hide="$first"></li>
                            <li role="presentation" class="dropdown-header">{{group.name}}</li>
                            <li ng-repeat="repo in group.repos | orderBy : 'name'" >
                                <input type="checkbox"
                                       class="repo-checkbox"
                                       ng-checked="repoModel.watchedRepos[repo.name]"
                                       ng-click="repoModel.toggleWatched(repo.name)"
                                       title="toggle watching this repo"
                                       ng-disabled="repo.name == repoName">
                                    <a ng-href="./#/jobs?repo={{repo.name}}"
                                       title="open repo"
                                       class="repo-link">{{repo.name}}</a>
                            </li>
                        </span>

                    </ul>
                </span>
                <span class="btn btn-view-nav"
                      ng-class="{'active': (isFilterPanelShowing)}"
                      ng-click="setFilterPanelShowing(!isFilterPanelShowing)"
                      tabindex="0"
                      role="button"><span>Filters</span>
                    <i class="fa fa-caret-down lightgray"
                       ng-hide="isFilterPanelShowing"></i>
                    <i class="fa fa-caret-up lightgray"
                       ng-show="isFilterPanelShowing"></i>
                </span>
                <a class="btn btn-view-nav" href="help.html" target="_blank">Help</a>
                <span class="nav-text white th-username">{{user.email}}</span>
                <!--TODO: change this condition to enable the settings panel-->
                <span ng-show="false" class="btn btn-view-nav"
                      ng-class="{'active': (isSettingsPanelShowing)}"
                      ng-click="setSettingsPanelShowing(!isSettingsPanelShowing)"
                      tabindex="0"
                      role="button"><span>Settings</span>
                    <i class="fa fa-caret-down lightgray"
                       ng-hide="isSettingsPanelShowing"></i>
                    <i class="fa fa-caret-up lightgray"
                       ng-show="isSettingsPanelShowing"></i>
                </span>
                <persona-buttons></persona-buttons>
            </span>
        </span>

    </div>
    <ng-include class="watched-repo-navbar" src="'partials/thWatchedRepoNavPanel.html'" ng-show="locationPath==='jobs'"></ng-include>
    <ng-include src="'partials/thSheriffPanel.html'" ng-show="isSheriffPanelShowing"></ng-include>
    <ng-include src="'partials/thFilterPanel.html'" ng-show="isFilterPanelShowing"></ng-include>
</nav>
