    <span class="btn btn-default btn-sm result-status-total-count"
          ng-click="isCollapsedResults = !isCollapsedResults"
          title="total job count">{{resultset.job_count}}</span>
    <span class="result-status-count-group">
    <span ng-repeat="resultStatus in statusList"
          class="result-status-count result-status-count-{{resultStatus}} text-right"
          ng-class="{'{{btnClass(resultStatus)}}-count-unclassified': (resultset.result_count[resultStatus]), '{{btnClass(resultStatus)}}-count-classified': (resultset.result_count[resultStatus] == 0)}"
          ng-class="resultset.result_count[resultStatus]">
          <span ng-bind="resultset.result_count[resultStatus]"></span> {{countText(resultStatus)}}</span>
    </span>