<div id="repos"
     class="th-top-nav-options-panel"
     ng-controller="RepositoryPanelCtrl">
    <div class="nav-panel-help-text">Check a repository to add it to the watch list.  Click a repository name to load it.</div>
    <div ng-repeat="(group_name,group) in groupedRepos"
         class="panel panel-default th-option-group th-stacked-option-group"
         title="{{group.repository_group.description}}">

        <!--heading for each group-->
        <div class="th-option-heading panel-heading">{{group_name}}</div>

        <!--content for each group-->
        <div class="th-repo-group">
            <span ng-repeat="repo in group | orderBy:'name'"
                  class="th-repo-group-items">
                <input type="checkbox"
                       ng-checked="repoModel.repos[repo.name].isWatched"
                       ng-click="repoModel.toggleWatched(repo.name)"
                       ng-disabled="repo.name == repoName">
                <a ng-href="./#/jobs?repo={{repo.name}}"
                   title="open repo"
                   class="repo-link">{{repo.name}}</a>
                <span class="dropdown-toggle"
                        data-toggle="dropdown"
                        title="{{repo.name}} info"
                        ng-click="setDropDownPull($event)">
                    <span class="fa fa-caret-down"></span>
                </span>
                <th-repo-drop-down name="{{repo.name}}"></th-repo-drop-down>
            </span>
        </div>
    </div>
</div>
