<div id="repos"
     class="th-top-nav-options-panel"
     ng-controller="RepositoryPanelCtrl">
    <div class="nav-panel-help-text">Check a repository to add it to the watch list.  Click a repository name to load it.</div>
    <div ng-repeat="(group_name,group) in groupedRepos"
         class="panel panel-default th-option-group th-stacked-option-group"
         title="{{group.repository_group.description}}">

        <!--heading for each group-->
        <div class="th-option-heading panel-heading">{{group_name}}</div>

        <!--content for each group-->
        <div class="th-repo-group">
            <span ng-repeat="repo in group | orderBy:'name'"
                  class="th-repo-group-items">
                    <input type="checkbox"
                           ng-model="watchedRepos[repo.name]"
                           ng-change="saveWatchedRepos()">
                <a href="" class="repo-link"
                      ng-click="changeRepo(repo.name)">{{repo.name}}
                </a>
            </span>
        </div>
    </div>
</div>
