<span class="btn-group"
      ng-show="repoData.isWatched">
    <button ng-class="{'active': name===repoName}"
            ng-click="changeRepo(name)"
            type="button"
            title="{{titleText|stripHtml}}"
            class="btn btn-sm btn-view-nav">
        <i class="fa {{statusIcon}} {{statusColor}}"></i> {{name}}
        <span class="badge"
            ng-show="repoData.unclassifiedFailureCount > 0">
        {{repoData.unclassifiedFailureCount}}
        </span>
    </button>
    <button class="btn btn-sm btn-view-nav dropdown-toggle"
            ng-class="{'active': name===repoName}"
            data-toggle="dropdown"
            title="{{name}} info"
            type="button"
            ng-click="setDropDownPull($event)">
        <span class="fa fa-info-circle"></span>
    </button>
    <button class="btn btn-sm btn-view-nav"
            ng-class="{'active': name===repoName}"
            ng-click="unwatchRepo(name)"
            title="unwatch {{name}}"><span class="fa fa-times"></span></button>
    <th-repo-drop-down name="{{name}}"
                       reason="{{repoData.treeStatus.reason}}"
                       message_of_the_day="{{repoData.treeStatus.message_of_the_day}}">
    </th-repo-drop-down>
</span>

