<div class="th-context-navbar watched-repo-navbar clearfix" >
    <th-watched-repo ng-repeat="(name, repoData) in watchedRepos"></th-watched-repo>
    <span class="navbar-right">
        <span>
            <form role="search" class="form-inline">
                <span class="btn btn-sm"
                      ng-click="toggleUnclassifiedFailures()"
                      title="toggle filtering for unclassified failures"
                      ng-class="{'btn-unclassified-failures': watchedRepos[repoName].unclassifiedFailureCount, 'btn-no-unclassified-failures': watchedRepos[repoName].unclassifiedFailureCount===0}"><span ng-bind="watchedRepos[repoName].unclassifiedFailureCount"></span> unclassified</span>
                <span class="btn btn-view-nav btn-sm"
                      title="collapse/expand all revisions"
                      ng-click="toggleAllRevisions()"><i class="fa fa-code-fork fa-lg"></i></span>
                <span class="btn btn-view-nav btn-sm"
                      title="collapse/expand all jobs"
                      ng-click="toggleAllJobs()"><i class="fa fa-tasks fa-lg"></i></span>
                <div ng-controller="SearchCtrl" class="form-group form-inline">
                        <input id="platform-job-text-search-field"
                               ng-model="searchQuery" ng-keyup="search($event)" type="text"
                               class="form-control input-sm"
                               placeholder="Filter platforms & jobs">
                </div>
            </form>
        </span>
    </span>
</div>
