<div class="th-context-navbar watched-repo-navbar clearfix" >
    <th-watched-repo ng-repeat="(name, repoData) in repoModel.watchedRepos"></th-watched-repo>
    <div class="navbar-right">
        <span>
            <form role="search" class="form-inline">
                <span class="btn btn-sm"
                      ng-click="toggleUnclassifiedFailures()"
                      title="toggle filtering for unclassified failures - count of loaded failures"
                      ng-class="{'btn-unclassified-failures': getUnclassifiedFailureCount(repoName), 'btn-view-nav': getUnclassifiedFailureCount(repoName)===0}">
                    <span>{{ getUnclassifiedFailureCount(repoName) }}</span> unclassified
                </span>
                <span class="btn btn-view-nav btn-sm"
                      title="toggle showing hidden jobs"
                      ng-click="toggleExcludedJobs()">
                    <i class="fa fa=lg"
                       ng-class="{'fa-eye': isSkippingExclusionProfiles(), 'fa-eye-slash': !isSkippingExclusionProfiles()}"></i>
                </span>
                <span class="btn-group">
                    <span class="btn btn-view-nav btn-sm"
                            title="collapse/expand all result sets"
                            ng-click="toggleAllJobsAndRevisions()"><i class="fa fa-list fa-lg"></i>
                    </span>
                    <span class="btn btn-view-nav btn-sm dropdown-toggle save-btn-dropdown"
                            data-toggle="dropdown"><i class="fa fa-caret-down"></i>
                    </span>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="" ng-click="toggleAllRevisions(false)">
                                <span class="fa fa-minus-square"></span>
                                <span class="fa fa-code-fork"></span> Collapse all revisions</a>
                        </li>
                        <li>
                            <a href="" ng-click="toggleAllRevisions(true)">
                            <span class="fa fa-plus-square"></span>
                            <span class="fa fa-code-fork"></span> Expand all revisions</a>
                        </li>
                        <li>
                            <a href="" ng-click="toggleAllJobs(false)">
                                <span class="fa fa-minus-square"></span>
                                <span class="fa fa-list"></span> Collapse all jobs</a>
                        </li>
                        <li>
                            <a href="" ng-click="toggleAllJobs(true)">
                            <span class="fa fa-plus-square"></span>
                            <span class="fa fa-list"></span> Expand all jobs</a>
                        </li>
                    </ul>
                </span>
                <span ng-controller="SearchCtrl" class="form-group form-inline">
                    <input id="platform-job-text-search-field"
                           ng-model="searchQueryStr" ng-keyup="search($event)" type="text"
                           class="form-control input-sm"
                           placeholder="Filter platforms & jobs">
                </span>
            </form>
        </span>
    </div>
</div>
