/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This file contains {engine} markers that must be replaced
   before it is sent to MySQL.
*/

--
-- Host: localhost    Database: treeherder
-- ------------------------------------------------------
-- Server version	5.6.10

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `datasource`
--

DROP TABLE IF EXISTS `datasource`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;

/**************************
 * Table: datasource
 *
 *  Holds the complete list of projects and their associated RDBS hosts
 *  managed by treeherder.
 *
 * Population Method: manual by admin
 *
 * Example Data:
 *
 *  project - A descriptive string associated with the project:
 *              try, alder, holly, mozilla-aurora, treeherder in treeherder_reference_1.sql.tmpl
 *            This string becomes the location field in the url for related web service methods.
 *
 *  contenttype - A string describing the content type associated with the database.
 *              jobs in project_jobs.sql.tmpl, reference in treeherder_reference_1.sql.tmpl
 *              A project can have any number of contenttypes associated with it.
 *
 *  host - Name of the database host.
 *
 *  read_only_host - A read only host associated with the database.
 *
 *  name - Name of the database. Can be anything but typically project_contenttype. So,
 *         try_jobs or mozillaaurora_jobs.
 *
 *  type - Type of storage engine associated with the database. This is automatically added
 *         to the template schema when a user runs a manage command that creates a database
 *         schema. There is currently support for MariaDB and MySQL storage engines.
 *
 *  oauth_consumer_key - The OAuth consumer key. This is automatically added when a new datasource
                         is added.
 *
 *  oauth_consumer_secret - The OAuth consumer secret. This is automatically added when a new datasource
                            is added.
 *
 *  creation_date - Date the database was created.
 *
 *  cron_batch - The cron interval to use when running cron jobs on this database.
 **************************/
CREATE TABLE `datasource` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project` varchar(50) COLLATE utf8_bin NOT NULL,
  `contenttype` varchar(25) COLLATE utf8_bin NOT NULL,
  `host` varchar(128) COLLATE utf8_bin NOT NULL,
  `read_only_host` varchar(128) COLLATE utf8_bin DEFAULT NULL,
  `name` varchar(128) COLLATE utf8_bin NOT NULL,
  `type` varchar(25) COLLATE utf8_bin NOT NULL,
  `oauth_consumer_key` varchar(45) COLLATE utf8_bin DEFAULT NULL,
  `oauth_consumer_secret` varchar(45) COLLATE utf8_bin DEFAULT NULL,
  `creation_date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `project` (`project`,`contenttype`)
) ENGINE={engine} DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2013-02-27  8:55:02
