{% extends "credentials/base.html" %}

{% block content %}
    <h2>Credentials delete</h2>
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete the following credentials?
    </div>
    <dl class="dl-horizontal">
        <dt>Client ID</dt><dd>{{ object.client_id }}</dd>
        <dt>Secret</dt><dd>{{ object.secret }}</dd>
        <dt>Authorization</dt>
        <dd>
            {% if object.authorized %}
                <span class="label label-success">Authorized</span>
            {% else %}
                <span class="label label-danger">Not Authorized</span>
            {% endif %}
        </dd>
        <dt>Description</dt><dd>{{ object.description }}</dd>
        <dt>Created on</dt><dd>{{ object.created }}</dd>
    </dl>
    <form class="" action="" method="post">
        {% csrf_token %}
        <a class="btn btn-sm btn-default" href="{% url 'credentials-detail' object.id%}">Back</a>
        <input class="btn btn-sm btn-danger" type="submit" value="Confirm delete">
    </form>
{% endblock %}
