{% extends "credentials/base.html" %}

{% block content %}
    <h2>Credentials list</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    App ID
                </th>
                <th>
                    Authorized
                </th>
                <th>
                    Created on
                </th>
            </tr>
        </thead>
        <tbody>
        {% for credentials in object_list %}
            <tr>
                <td>
                    <a href="{% url 'credentials-detail' credentials.id %}">
                        {{ credentials.client_id }}
                    </a>
                </td>
                <td>
                    {% if credentials.authorized %}
                        <span class="label label-success">Authorized</span>
                    {% else %}
                        <span class="label label-danger">Not Authorized</span>
                    {% endif %}
                </td>
                <td>
                    {{ credentials.created }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success btn-default" href="{% url 'credentials-create' %}" role="button">
        Add new credentials
    </a>
{% endblock %}
