{% extends "credentials/base.html" %}

{% block content %}
    <h2>Credentials detail</h2>
    <dl class="dl-horizontal">
        <dt>Client ID</dt><dd>{{ object.client_id }}</dd>
        <dt>Secret</dt><dd><code>{{ object.secret }}</code></dd>
        <dt>Authorization</dt>
        <dd>
            {% if object.authorized %}
                <span class="label label-success">Authorized</span>
            {% else %}
                <span class="label label-danger">Not Authorized</span>
            {% endif %}
        </dd>
        <dt>Description</dt><dd>{{ object.description }}</dd>
        <dt>Created on</dt><dd>{{ object.created }}</dd>
    </dl>
    <a class="btn btn-sm btn-default" href="{% url 'credentials-list' %}">Back</a>
    <a class="btn btn-sm btn-danger" href="{% url 'credentials-delete' object.id %}">Delete</a>
{% endblock %}
