{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "embed/css/embed.css" %}" media="screen"/>
        <base target="_blank" />
    </head>
<body>
    <div id="resultset_status">
        <ul >
            {% for status, tot in resultset_status_dict.items %}
                <li class="btn-{{status}}">
                    <a href="https://treeherder.mozilla.org/#/jobs?repo={{repository}}&revision={{revision}}&filter-resultStatus={{status}}">{{status}}</a>: {{ tot }}
                </li>
            {% endfor %}
        </ul>
        See it on <a href="https://treeherder.mozilla.org/#/jobs?repo={{repository}}&revision={{revision}}"
                     title="Push {{revision}} on Treeherder" target="_blank">Treeherder</a>
    </div>
</body>
</html>
