<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
      #resultset_status ul {
         padding-left:0;
         margin: 0;
         list-type: outside none none;
      }
      #resultset_status ul li {
        display:inline-block;
        padding: 0 5px;
        border: 1px solid #D3D3D3;
      }
  </style>
  <base target="_blank" />
</head>
<body>
    <div id="resultset_status">
        <ul>
            {% for status, tot in resultset_status_dict.items %}
                <li class="btn-{{status}}">
                    <a href="https://treeherder.mozilla.org/#/jobs?repo={{repository}}&revision={{revision}}&filter-resultStatus={{status}}">{{status}}</a>: {{ tot }}
                </li>
            {% empty%}
                <li>No jobs stored for this push yet. Please wait.</li>
            {% endfor %}
        </ul>
        See it on <a href="https://treeherder.mozilla.org/#/jobs?repo={{repository}}&revision={{revision}}"
                     title="Push {{revision}} on Treeherder" target="_blank">Treeherder</a>
    </div>
    {% if update_needed %}
    <script type="text/javascript">
        setTimeout(function(){
            window.location.reload()
        },60*1000);
    </script>
    {% endif %}
</body>
</html>
