# Overrides the mysql defaults in /etc/mysql/my.cnf
# Any changes here will require a Vagrant re-provision to take effect.

[mysqld]
# Allow connections from the VM host and not just the loopback interface.
bind-address        = 0.0.0.0

# Ensure operations involving astral characters fail loudly,
# rather than mysql silently replacing each each byte of the
# original character with a U+FFFD replacement character.
# See bug 1275425.
sql_mode="STRICT_ALL_TABLES"
