# Overrides the mysql defaults in /etc/mysql/my.cnf
# Any changes here will require a Vagrant re-provision to take effect.
# NB: This file is only used by Vagrant/Travis, and must be kept in sync with
# the RDS parameter group used by stage/prod:
# https://github.com/mozilla-platform-ops/devservices-aws/blob/master/treeherder/rds.tf

[mysqld]
# Allow connections from the Vagrant host and not just the loopback interface.
bind-address="0.0.0.0"

character_set_server="utf8"
collation_server="utf8_bin"

log_output="FILE"
long_query_time="2"
slow_query_log="1"

# Ensure operations involving astral characters fail loudly,
# rather than mysql silently replacing each each byte of the
# original character with a U+FFFD replacement character.
# See bug 1275425.
sql_mode="NO_ENGINE_SUBSTITUTION,STRICT_ALL_TABLES"
