<div class="container-fluid">
  <div class="alert alert-danger" role="alert">
    Perfherder alerts are experimental and not to be trusted (yet)
  </div>
  <div class="alert alert-warning" ng-show="!user.is_staff" role="alert">
    You must be logged into perfherder/treeherder and be a sheriff to make changes
  </div>
  <hr/>
  <div class="panel panel-default" ng-repeat="alertSummary in alertSummaries">
    <div class="panel-heading">
      <a href="#/alerts?id={{alertSummary.id}}" class="alert-title">Alert #{{alertSummary.id}} - {{alertSummary.title}} <span class="fa fa-external-link icon-superscript"/></a>
      <ul class="list-unstyled alert-metadata">
        <li>{{alertSummary.platforms.join(' / ')}}</li>
        <li>{{alertSummary.resultSetMetadata.dateStr}}</li>
        <li ng-if="alertSummary.pushURL">
          <a href="{{alertSummary.pushURL}}">{{alertSummary.resultSetMetadata.revision}}…{{alertSummary.prevResultSetMetadata.revision}}</a>
        </li>
        <li ng-if="!alertSummary.pushURL">
          <!-- This shouldn't happen in production, only in development -->
          <span class="text-danger">Unknown revision(s)</span>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <h4>Detected changes</h4>
      <table class="table table-striped compare-table">
        <tr>
          <th style="width:16px;">
            <input type="checkbox" ng-disabled="!user.is_staff" ng-model="alertSummary.allSelected" ng-change="selectNoneOrSelectAll(alertSummary)"/><!-- select 'em all checkbox --></th>
          <!-- Manually specify table widths because it's just easier this way -->
          <th class="test-title">
            <span style=" word-wrap: break-word;">
              Test
            </span>
          </th>
          <th style="width: 140px;">Previous</th>
          <th style="width: 30px;"><!-- less than / greater than --></th>
          <th style="width: 140px;">New</th>
          <th style="width: 80px;">Delta</th>
          <th style="width: 120px"><!-- Graphical difference --></th>
          <th style="width: 100px;">Confidence</th>
        </tr>
        <tr ng-repeat="alert in alertSummary.alerts">
          <td>
            <input type="checkbox" ng-disabled="!user.is_staff" ng-model="alert.selected" ng-change="alertSelected(alertSummary)"/>
          </td>
          <td class="test-title">
            <span ng-class="{'alert-reassigned': alert.revised_summary_id}">
              {{alert.title}}
            </span>
            <span ng-show="alert.revised_summary_id">
              &nbsp;(duplicate of
              <a href="#/alerts?id={{alert.revised_summary_id}}">#{{alert.revised_summary_id}}</a>)
            </span>&nbsp;&nbsp;
            <span class="result-links">
              <a href="#/graphs?timerange={{alertSummary.resultSetMetadata.timeRange}}&series=[{{alertSummary.repository}},{{alert.series_signature.signature_hash}},1]&highlightedRevisions={{alertSummary.resultSetMetadata.revision}}">graph</a>
            </span>
          </td>
          <td>{{alert.prev_value}}</td>
          <td>
            <span ng-class="{'compare-improvement': !alert.is_regression, 'compare-regression': alert.is_regression}">
              <span ng-if="alert.prev_value < alert.new_value">
                &lt;
              </span>
              <span ng-if="alert.prev_value > alert.new_value">
                &gt;
              </span>
            </span>
          </td>
          <td>{{alert.new_value}}</td>
          <td><span class="detail-hint" tooltip="Absolute difference: {{alert.amount_abs}}">{{alert.amount_pct}}%</span></td>
          <td>
            <div ng-if="alert.is_regression" style="margin: auto; width: 80%;"
                 tooltip="Relative magnitude of change (scale from 0 - 20%+)">
              <div class="bar bar-scale"
                   style="width: {{100 - getCappedMagnitude(alert.amount_pct)}}%; height: 1em; float: left;">
              </div>
              <div class="bar bar-regression"
                   style="width: {{getCappedMagnitude(alert.amount_pct)}}%; float: left;">
              </div>
            </div>
            <div ng-if="!alert.is_regression" style="margin: auto; width: 80%;"
                 tooltip="Relative magnitude of change (scale from 0 - 20%+)">
              <div class="bar bar-improvement"
                   style="width: {{getCappedMagnitude(alert.amount_pct)}}%; float: left;">
              </div>
              <div class="bar bar-scale"
                   style="width: {{100 - getCappedMagnitude(alert.amount_pct)}}%; float: left; ">
              </div>
            </div>
          </td>

          <td>
            <span class="detail-hint"
                  tooltip="Confidence value as calculated by Perfherder alerts. Note that this is NOT the same as the calculation used in the compare view"
                  tooltip-placement="left">
              {{alert.t_value}}
            </span>
          </td>
        </tr>
      </table>
      <div style="padding-left: 8px;">
        <button class="btn btn-default" role="button" ng-show="anySelected(alertSummary.alerts)"
                ng-click="reassignAlerts(alertSummary)">Reassign</button>
        <button class="btn btn-default" role="button"
                ng-show="anySelected(alertSummary.alerts)"
                ng-disabled="!anyReassignedAndSelected(alertSummary.alerts)"
                ng-click="unassignAlerts(alertSummary)">Unassign</button>
      </div>
    </div>
  </div>
</div>
<div class="well" ng-show="getMoreAlertSummariesHref">
    <div class="btn btn-default btn-sm"
         ng-click="getMoreAlertSummaries(count)">
      Get more...
  </div>
</div>
