<!-- <div class="container-fluid alerts-container"> -->
  <alerts-view user="user"></alerts-view>
  <!-- <div class="alert alert-warning" ng-show="!user.isStaff" role="alert">
    You must be logged into perfherder/treeherder and be a sheriff to make changes
  </div>
  <form class="form-inline">
    <span ng-if="!alertId" ng-cloak class="alert-selects d-flex">
      <div class="form-group">
        <select ng-model="filterOptions.status"
                ng-options="status.text for status in statuses track by status.id"
                ng-change="filtersUpdated()"/>
      </div>
      &nbsp;
      <div class="form-group">
        <select ng-model="filterOptions.framework"
                ng-options="framework.name for framework in frameworks track by framework.id"
                ng-change="filtersUpdated()"/>
      </div>
      &nbsp;
    </span>
    <div class="form-group">
      <input id="filter" type="text" class="form-control" ng-model="filterOptions.filter" placeholder="filter text e.g. linux tp5o" ng-change="filtersUpdated()"/>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="filterOptions.hideImprovements" ng-change="filtersUpdated()"/>
        Hide improvements
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="filterOptions.hideDwnToInv" ng-change="filtersUpdated()"/>
        Hide downstream / reassigned to / invalid
      </label>
    </div>
  </form>
  <hr/>
  <p class="lead text-center" ng-show="alertSummaries && !alertSummaries.length">
    No alerts for framework "{{filterOptions.framework.name}}" with status "{{filterOptions.status.text}}"
  </p>
  <div class="card alert-summary" ng-repeat="alertSummary in alertSummaries" ng-if="alertSummary.anyVisible"> -->
    <!-- <alert-table alert-summary="alertSummary" user="user" repos="repos" alert-summaries="alertSummaries"></alert-table> -->
    <!-- <div class="card-body button-panel" uib-collapse="!anySelected(alertSummary.alerts) && !(alertSummary.notes)">
      <div ng-show="anySelected(alertSummary.alerts)">
        <alert-controls alert-summary="alertSummary" is-alert-selected="isAlertSelected" alert-summaries="alertSummaries" update-alert-visibility="updateAlertVisibility"></alert-controls>       
          
        <button ng-if="anySelectedAndTriaged(alertSummary.alerts)" class="btn btn-warning" role="button"
                ng-click="resetAlerts(alertSummary)" title="Reset selected alerts to untriaged">
          Reset
        </button>
        <span ng-if="!anySelectedAndTriaged(alertSummary.alerts) || allSelectedAreConfirming(alertSummary.alerts)">
          <button class="btn btn-light-bordered" role="button"
                  ng-if="!allSelectedAreConfirming(alertSummary.alerts)"
                  ng-click="markAlertsConfirming(alertSummary)" title="Retriggers & backfills are pending">
            <span class="far fa-clock"></span> Confirming
          </button>
          <button class="btn btn-light-bordered" role="button"
                  ng-click="markAlertsAcknowledged(alertSummary)" title="Acknowledge selected alerts as valid">
            <span class="fas fa-check"></span> Acknowledge
          </button>
          <button class="btn btn-light-bordered" role="button"
                  ng-click="markAlertsInvalid(alertSummary)" title="Mark selected alerts as invalid">
            <span class="fas fa-ban"></span> Mark invalid
          </button>
          <button class="btn btn-light-bordered" role="button"
                  ng-click="markAlertsDownstream(alertSummary)"
                  title="Mark selected alerts as downstream from an alert summary on another branch">
            <span class="fas fa-level-down-alt"></span> Mark downstream
          </button>
          <button class="btn btn-light-bordered" role="button"
                  ng-click="reassignAlerts(alertSummary)"
                  title="Reassign selected alerts to another alert summary on the same branch">
            <span class="far fa-arrow-alt-circle-right"></span> Reassign
          </button>
        </span>
      </div>
    </div>
  </div>
  <p class="text-muted" ng-if="numFilteredAlertSummaries > 0">
    {{numFilteredAlertSummaries}} alerts not displayed because they had no changes matching filter criteria
  </p>
</div>
<div class="d-flex justify-content-center md-18">
    <ul uib-pagination ng-model="alertSummaryCurrentPage" ng-change="getAlertSummariesPage()"
        ng-show="alertSummaryCount > alertSummaryPageSize" max-size="10"
        total-items="alertSummaryCount" items-per-page="alertSummaryPageSize"
        rotate="false" boundary-link-numbers="true"></ul>
</div> -->
