<div class="container-fluid">
  <div id="datapoint-detail" ng-show="originalRevision && newRevision">
    <div ng-if="dataLoading">
      Loading all results, please wait a minute...
      <img src="img/dancing_cat.gif" />
    </div>
    <div id="error" ng-if="!dataLoading && errors.length">
      <compare-error errors="errors" original-revision="originalRevision" original-project="originalProject" new-revision="newRevision" new-project="newProject"></compare-error>
    </div>
    <div id="subtest-summary" ng-if="!dataLoading && !errors.length">
      <h1>Perfherder Compare Revisions</h1>
      <revision-information original-project="originalProject" original-revision="originalRevision" original-result-set="originalResultSet" new-project="newProject" new-revision="newRevision" new-result-set="newResultSet"></revision-information>
      <div class="alert alert-warning" role="alert" ng-if="testNoResults">
        <strong>tests with no results:</strong>
        {{testNoResults}}
      </div>
      <form class="form-inline">
        <div class="form-group">
          <select ng-model="filterOptions.framework"
                  ng-options="framework.name for framework in frameworks track by framework.id"
                  ng-change="updateFilters()"/>
        </div>
        &nbsp;
        <div class="form-group">
            <input id="filter" type="text" class="form-control" ng-model="filterOptions.filter" placeholder="filter text e.g. linux tp5o" ng-change="updateFilters()"/>
        </div>
        <div class="checkbox" uib-tooltip="Non-trivial changes (1.5%+)">
          <label>
            <input type="checkbox" ng-model="filterOptions.showOnlyImportant" ng-change="updateFilters()"/>
            Show only important changes
          </label>
        </div>
        <div class="checkbox" uib-tooltip="At least 6 datapoints OR 2+ datapoints and a large difference">
          <label>
            <input type="checkbox" ng-model="filterOptions.showOnlyConfident" ng-change="updateFilters()"/>
            Hide uncertain results
          </label>
        </div>
      </form>
      <hr/>
      <ph-compare-table
         titles="titles"
         test-list="testList"
         compare-results="compareResults"
         framework-id="filterOptions.framework.id"
         filter="filterOptions.filter"
         show-only-important="filterOptions.showOnlyImportant"
         show-only-confident="filterOptions.showOnlyConfident">
      </ph-compare-table>
    </div>
  </div>
</div>
