<form class="compare-form">
  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Original</div>
      <div class="panel-body">
        <label for="original-project-selector">Project</label>
        <select id="original-project-selector" class="form-control" ng-model="originalProject" ng-options="project.name for project in projects"/>
        <label for="original-revision-input">Revision</label>
        <input id="original-revision-input" maxlength="12" class="form-control" ng-model="originalRevision">
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">New</div>
      <div class="panel-body">
        <label for="new-project-selector">Project</label>
        <select id="new-project-selector" class="form-control" ng-model="newProject" ng-options="project.name for project in projects"/>
        <label for="new-revision-input">Revision</label>
        <input id="new-revision-input" maxlength="12" class="form-control" ng-model="newRevision">
      </div>
    </div>
  </div>
  <div class="form-group button-container">
    <button type="submit" class="btn btn-primary btn-lg btn-block"
            ng-click="runCompare()"
            ng-disabled="originalRevision.length !== 12 || newRevision.length !== 12">
      Compare revisions
    </button>
  </div>
</form>
