<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Perfherder</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/graphs">Graphs</a></li>
      <li class="active"><a href="#/comparechooser">Compare</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div id="datapoint-detail" ng-show="originalRevision && newRevision">
    <div ng-if="dataLoading">
      Loading all results, please wait a minute...
      <img src="img/dancing_cat.gif" />
    </div>
    <div id="subtest-summary" ng-if="!dataLoading">
      <h4>Compare all data for revision {{newProject}}: {{newRevision}} to {{originalProject}}: {{originalRevision}}</h4>
      <p class="help-block">Hover over each entry for more options.</p>
      <table class="table">
        <tbody ng-repeat="testName in testList">
          <tr class="subtest-header">
            <td>{{titles[testName]}}</td><td>Old Geomean</td><td>Old StdDev</td><td>New Geomean</td><td>New StdDev</td><td>Delta</td><td>Delta %</td><td></td>
          </tr>
          <tr ng-class="{'subtest-empty': compareResult.isEmpty, 'subtest-empty': (hideMinorChanges && compareResult.isMinor)}" ng-repeat="compareResult in compareResults[testName]">
            <td>{{compareResult.name}} (<a ng-href="{{compareResult.detailsLink}}">Details</a>)</td>
            <td ng-attr-title="runs: {{compareResult.originalRuns}}">{{compareResult.originalGeoMean|displayPrecision}}</td>
            <td>+/-{{compareResult.originalStddev|displayPrecision}} ({{compareResult.originalStddevPct|displayPrecision}}%)</td>
            <td ng-attr-title="runs: {{compareResult.newRuns}}">{{compareResult.newGeoMean|displayPrecision}}</td>
            <td>+/-{{compareResult.newStddev|displayPrecision}} ({{compareResult.newStddevPct|displayPrecision}}%)</td>
            <td ng-class="{'subtest-regression': compareResult.isRegression, 'subtest-improvement':  compareResult.isImprovement}">{{compareResult.delta|displayPrecision}}</td>
            <td ng-class="{'subtest-regression': compareResult.isRegression, 'subtest-improvement': compareResult.isImprovement}">{{compareResult.deltaPercentage|displayPrecision}}%</td>
            <td width="20%"><div ng-class="{'bar-regression': compareResult.isRegression, 'bar-improvement': compareResult.isImprovement}" style="margin-{{compareResult.marginDirection}}: {{compareResult.barGraphMargin}}%;"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
