<div class="container-fluid">
  <div ng-if="dataLoading">
    Loading all results, please wait a minute...
    <img src="img/dancing_cat.gif" />
    <img src="img/dancing_cat.gif" ng-repeat="x in [0,1,2,3]" style="transform:scale(0.5); margin-left:-40px; margin-top:40px;"/>
  </div>
  <div id="subtest-summary" ng-if="!dataLoading && !errors.length">
    <h1>{{subtestTitle}} subtest summary</h1>
    <ul class="list-inline push-information">
      <li><strong>Base</strong> - <a href="{{originalRevision|getRevisionUrl:originalProject.name}}">{{originalRevision}}</a> ({{originalProject.name}})</li>
      <li><strong>New</strong> - <a href="{{newRevision|getRevisionUrl:newProject.name}}">{{newRevision}}</a> ({{newProject.name}})</li>
    </ul>
    <p><a href="perf.html#/compare?originalProject={{originalProject.name}}&originalRevision={{originalRevision}}&newProject={{newProject.name}}&newRevision={{newRevision}}">Show all tests and platforms</a></p>
    <div id="error" ng-if="!dataLoading && errors.length" ng-repeat="error in errors">
      <div>{{error}}</div>
    </div>
    <ph-compare-table
       titles="titles"
       test-list="testList"
       compare-results="compareResults">
    </ph-compare-table>
  </div>
</div>
