<div class="container-fluid">
  <div ng-if="dataLoading">
    Loading all results, please wait a minute...
    <img src="img/dancing_cat.gif" />
    <img src="img/dancing_cat.gif" ng-repeat="x in [0,1,2,3]" style="transform:scale(0.5); margin-left:-40px; margin-top:40px;"/>
  </div>
  <div id="subtest-summary" ng-if="!dataLoading && !errors.length">
    <h1>{{subtestTitle}} subtest summary</h1>
    <revision-information original-project="originalProject" original-revision="originalRevision" original-result-set="originalResultSet" new-project="newProject" new-revision="newRevision" new-result-set="newResultSet"></revision-information>
    <p><a href="perf.html#/compare?originalProject={{originalProject.name}}&originalRevision={{originalRevision}}&newProject={{newProject.name}}&newRevision={{newRevision}}">Show all tests and platforms</a></p>
    <div id="error" ng-if="!dataLoading && errors.length" ng-repeat="error in errors">
      <div>{{error}}</div>
    </div>
    <table class="table">
      <tbody ng-repeat="testName in testList">
        <tr class="subtest-header">
          <td>{{platformList[0]}} : {{titles[testName]}}</td><td>Base Mean</td><td>Base StdDev</td><td>New Mean</td><td>New StdDev</td><td>Delta</td><td>Delta %</td><td></td><td>Confidence</td>
        </tr>
        <tr ng-class="getCompareClasses(compareResult, 'row')" ng-repeat="compareResult in compareResults[testName]">
          <td>{{compareResult.name}} (<a ng-href="{{compareResult.detailsLink}}">graph</a>)</td>
          <td>
              <ph-average value="{{compareResult.originalGeoMean}}"
                          replicates="compareResult.originalRuns"/>
          </td>
          <td ng-if="compareResult.originalStddev">+/-{{compareResult.originalStddev|displayPrecision}}
            ({{compareResult.originalStddevPct|displayPrecision}}%)</td>
          <td ng-if="!compareResult.originalStddev">N/A</td>
          <td>
            <ph-average value="{{compareResult.newGeoMean}}"
                        replicates="compareResult.newRuns"/>
          </td>
          <td ng-if="compareResult.newStddev">+/-{{compareResult.newStddev|displayPrecision}}
            ({{compareResult.newStddevPct|displayPrecision}}%)</td>
          <td ng-if="!compareResult.newStddev">N/A</td>
          <td ng-class="getCompareClasses(compareResult)">{{compareResult.delta|displayPrecision}}</td>
          <td ng-if="compareResult.delta" ng-class="getCompareClasses(compareResult)">{{compareResult.deltaPercentage|displayPrecision}}%</td>
          <td ng-if="compareResult.delta" width="20%"><div ng-class="getCompareClasses(compareResult, 'bar')" style="margin-{{compareResult.marginDirection}}: {{compareResult.barGraphMargin}}%;"></div></td>
          <td ng-if="!compareResult.delta"></td>
          <td>
            <ph-confidence result="compareResult"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
