<table class="table compare-table" style="table-layout: fixed;" ng-repeat="(testName, compareResults) in filteredResultList">
  <tbody>
    <tr class="subtest-header">
      <!-- Manually specify table widths because it's just easier this way -->
      <th class="test-title"><span style=" word-wrap: break-word;">{{titles[testName]}}</span></th>
      <th style="width: 140px;">Base</th>
      <th style="width: 30px;"><!-- less than / greater than --></th>
      <th style="width: 140px;">New</th>
      <th style="width: 80px;">Delta</th>
      <th style="width: 120px"><!-- Graphical difference --></th>
      <th style="width: 100px;">Confidence</th>
      <th class="num-runs" style="width: 80px"># Runs</th>
      <th class="test-warning" style="width: 30px"><!-- warning if not enough --></th>
    </tr>
    <tr ng-class="getCompareClasses(compareResult, 'row')" ng-repeat="compareResult in compareResults | orderBy: 'name'">
      <td class="test-title">{{compareResult.name}}&nbsp;&nbsp;
        <span class="result-links" ng-if="compareResult.links.length > 0">
          <span ng-repeat="link in compareResult.links">
            <a ng-href="{{link.href}}">{{link.title}}</a>
            <span ng-if="!$last"> · </span>
          </span>
        </span>
      </td>
      <td>
        <ph-average value="{{compareResult.originalValue}}"
                    stddev="{{compareResult.originalStddev}}"
                    stddevpct="{{compareResult.originalStddevPct}}"
                    replicates="compareResult.originalRuns"></ph-average>
      </td>
      <td>
        <span ng-class="getCompareClasses(compareResult)" ng-if="compareResult.originalValue < compareResult.newValue">
          &lt;
        </span>
        <span ng-class="getCompareClasses(compareResult)" ng-if="compareResult.originalValue > compareResult.newValue">
          &gt;
        </span>
      </td>
      <td>
        <ph-average value="{{compareResult.newValue}}"
                    stddev="{{compareResult.newStddev}}"
                    stddevpct="{{compareResult.newStddevPct}}"
                    replicates="compareResult.newRuns"></ph-average>
      </td>
      <td ng-class="getCompareClasses(compareResult)">
        <span ng-if="compareResult.delta" class="detail-hint" tooltip="Mean difference: {{compareResult.delta|displayPrecision}} (= {{compareResult.deltaPercentage|displayPrecision}}%)">
          {{compareResult.deltaPercentage|displayPrecision}}%
        </span>
      </td>
      <td ng-if="compareResult.delta">
        <div ng-if="!compareResult.newIsBetter" style="margin: auto; width: 80%;"
             tooltip="Relative magnitude of change (scale from 0 - 20%+)">
          <div class="bar bar-scale"
               style="width: {{100 - compareResult.magnitude}}%; height: 1em; float: left;">
          </div>
          <div class="bar"
               ng-class="{'bar-regression': compareResult.isRegression}"
               style="width: {{compareResult.magnitude}}%; float: left;">
          </div>
        </div>
        <div ng-if="compareResult.newIsBetter" style="margin: auto; width: 80%;"
             tooltip="Relative magnitude of change (scale from 0 - 20%+)">
          <div class="bar"
               ng-class="{'bar-improvement': compareResult.isImprovement}"
               style="width: {{compareResult.magnitude}}%; float: left;">
          </div>
          <div class="bar bar-scale"
               style="width: {{100 - compareResult.magnitude}}%; float: left; ">
          </div>
        </div>
      </td>
      <td ng-if="!compareResult.delta"></td>
      <td>
        <span ng-if="compareResult.confidenceText && compareResult.confidence">
          {{compareResult.confidence|displayPrecision}} (<span class="detail-hint" tooltip="Result of running t-test on base versus new result distribution: higher values indicate greater confidence that the indicated performance difference is statistically meaningful">{{compareResult.confidenceText}}</abbr>)</span>&nbsp;
      </td>
      <td class="num-runs">
        <span class="detail-hint"
              tooltip="{{compareResult.originalRuns.length}} base /  {{compareResult.newRuns.length}} new">
          {{compareResult.originalRuns.length}} /
          {{compareResult.newRuns.length}}</span>
      </td>
      <td class="test-warning">
        <!-- Show a hint that people should trigger more runs if:
             * we only have 1 result for either base/new (can't draw any
               strong conclusions from one result)
             * we have less than 6 runs for either base/new AND our
               confidence level isn't 'high' (6 runs is our gold standard
               for confidence -- if we've done that many and we're still
               not confident in a change, more are unlikely to help)
          -->
        <span ng-if="compareResult.isComplete && !compareResult.isConfident"
              class="glyphicon glyphicon-warning-sign text-warning"
              tooltip="More base / new runs recommended for increased confidence in comparison"
              tooltip-placement="left"
              style="cursor:default"></span>
      </td>
    </tr>
  </tbody>
</table>
<p class="lead text-center" ng-show="hasNoResults">
  No results to show for these two revisions.
  <span ng-show="testList.length">
    Try changing your filter settings?
  </span>
</p>
