<div class="container-fluid">
  <div class="alert alert-danger" ng-show="revisionNotFound" role="alert">
    Couldn't find revision {{revision}} for {{selectedRepo.name}}
  </div>
  <div ng-if="!revision">
    <h1>{{header}}</h1>
    <p>{{descP1}}</p>
    <p>{{descP2}} <a href="{{linkUrl}}">{{linkDesc}}</a></p>
    <div class="form-group">
      Branch to compare:
      <select ng-change="globalOptionsChanged(selectedRepo, selectedTimeRange)"
              ng-model="selectedRepo"
              ng-options="repo.name for repo in projects">
      </select>
      Time range to sample:
      <select ng-model="selectedTimeRange"
              ng-options="timeRange.text for timeRange in timeRanges track by timeRange.value"
              ng-change="globalOptionsChanged(selectedRepo, selectedTimeRange)">
      </select>
    </div>
  </div>
  <div ng-if="dataLoading">
    Loading all results, please wait a minute...
    <img src="img/dancing_cat.gif" />
  </div>
  <div ng-if="!dataLoading && !revisionNotFound">
    <ph-compare-table
       base-title={{baseTitle}}
       new-title={{variantTitle}}
       titles="titles"
       test-list="testList"
       compare-results="compareResults"
       filter-options="filterOptions"
       release-blocker-criteria="1">
    </ph-compare-table>
  </div>
</div>
