<div class="container-fluid">
  <div ng-if="dataLoading">
    Loading all results, please wait a minute...
    <img src="img/dancing_cat.gif" />
  </div>
  <div ng-if="!dataLoading">
    <h1>Perfherder e10s subtest comparison</h1>
    <p><a href="perf.html#/e10s">Show all tests and platforms</a></p>
      <p>Comparing results of Talos subtests over the last two days
        on mozilla-inbound (using pgo configuration on all platforms that support it).
        Because we're taking a sample over a period of time, improvements or regressions
        will take a while to be reflected in results. When in doubt, check the graphs
        by hovering over each line.
      </p>
      <ph-compare-table
         base-title="non-e10s"
         new-title="e10s"
         titles="titles"
         test-list="testList"
         compare-results="compareResults"
         filter-options="filterOptions">
      </ph-compare-table>
  </div>
</div>
