<div class="container-fluid" ng-cloak>
  <graphs-view update-graphs="updateGraphs"/>

  <div id="graph-tooltip" ng-class="{locked: selectedDataPoint}">
    <div class="body">
      <div>
        <button id="close-popup" type="button" class="close graphchooser-close"
                ng-click="closePopup()"><span aria-hidden="true">&times;</span></button>
        <p id="tt-series"><span ng-bind="tooltipContent.series.test"/>
          (<span ng-bind="tooltipContent.project.name"/>)</p>
        <p id="tt-series2" class="small"><span ng-bind="tooltipContent.series.platform"/></p>
      </div>
      <div>
        <p id="tt-v">
          {{tooltipContent.value|displayNumber}}
          <span class="text-muted" ng-show="tooltipContent.series.lowerIsBetter">(lower is better)</span>
          <span class="text-muted" ng-show="!tooltipContent.series.lowerIsBetter">(higher is better)</span>
        </p>
        <p id="tt-dv" class="small">&Delta; {{tooltipContent.deltaValue|displayNumber}}
          (<span ng-bind="tooltipContent.deltaPercentValue"/>%)</p>
      </div>
      <div>
        <p ng-show="tooltipContent.revision">
          <span class="d-inline-block" data-toggle="tooltip" title="Nudge left disabled">
            <button
              ng-if="user.isStaff && tooltipContent.alert"
              ng-click="nudgeAlert(tooltipContent, 'left')"
              disabled>
            <span class="fas fa-angle-double-left"
                  ng-if="!nudgingAlert"></span>
            <span class="fas fa-spinner fa-pulse th-spinner-lg"
                  ng-if="nudgingAlert"></span>
            </button>
          </span>
          <a id="tt-cset" ng-href="{{tooltipContent.pushlogURL}}" target="_blank" rel="noopener">
            {{tooltipContent.revision| limitTo: 12}}
          </a>
          <span class="d-inline-block" data-toggle="tooltip" title="Nudge right disabled">
            <button
              ng-if="user.isStaff && tooltipContent.alert"
              ng-click="nudgeAlert(tooltipContent, 'right')"
              disabled>
                <span class="fas fa-angle-double-right"
                      ng-if="!nudgingAlert"></span>
                <span class="fas fa-spinner fa-pulse th-spinner-lg"
                      ng-if="nudgingAlert"></span>
            </button>
          </span>
          <span ng-show="tooltipContent.prevRevision && tooltipContent.revision">
            (<span ng-if="tooltipContent.jobId"><a id="tt-cset" ng-href="{{tooltipContent.revision | getRevisionUrl:tooltipContent.project.name}}&selectedJob={{tooltipContent.jobId}}&group_state=expanded" target="_blank" rel="noopener">job</a>, </span><a ng-href="#/comparesubtest?originalProject={{tooltipContent.project.name}}&newProject={{tooltipContent.project.name}}&originalRevision={{tooltipContent.prevRevision}}&newRevision={{tooltipContent.revision}}&originalSignature={{selectedDataPoint.signatureId}}&newSignature={{selectedDataPoint.signatureId}}&framework={{selectedDataPoint.frameworkId}}" target="_blank" rel="noopener">compare</a>)
          </span>
        </p>
        <p ng-if="tooltipContent.alertSummary">
          <i class="text-warning fas fa-exclamation-circle"></i>
          <a href="perf.html#/alerts?id={{tooltipContent.alertSummary.id}}">
            Alert #{{tooltipContent.alertSummary.id}}</a>
        <span class="text-muted">- {{tooltipContent.alert && (alertIsOfState(tooltipContent.alert, phAlertStatusMap.ACKNOWLEDGED) ? getAlertSummarytStatusText(tooltipContent.alertSummary) : getAlertStatusText(tooltipContent.alert))}}
            <span ng-show="tooltipContent.alert.related_summary_id">
              <span ng-if="tooltipContent.alert.related_summary_id !== tooltipContent.alertSummary.id">
              to <a href="#/alerts?id={{tooltipContent.alert.related_summary_id}}" target="_blank" rel="noopener">alert #{{tooltipContent.alert.related_summary_id}}</a>
            </span>
            <span ng-if="tooltipContent.alert.related_summary_id === tooltipContent.alertSummary.id">
              from <a href="#/alerts?id={{tooltipContent.alert.related_summary_id}}" target="_blank" rel="noopener">alert #{{tooltipContent.alert.related_summary_id}}</a>
            </span>
            </span>
          </span>
        </p>
        <p class="text-muted" ng-if="!tooltipContent.alertSummary">
          <span ng-if="!creatingAlert">
            No alert
            <span ng-if="user.isStaff">
              (<a href="" ng-click="createAlert(tooltipContent)" ng-disabled="user.isStaff">create</a>)
            </span>
            <span ng-if="!user.isStaff">
              (log in as a a sheriff to create)
            </span>
          </span>
          <span ng-if="creatingAlert">
            Creating alert... <i class="fas fa-spinner fa-pulse" title="creating alert"></i>
          </span>
        </p>
        <p ng-hide="tooltipContent.revision">
          <span ng-hide="tooltipContent.revisionInfoAvailable">Revision info unavailable</span>
          <span ng-show="tooltipContent.revisionInfoAvailable">Loading revision...</span>
        </p>
        <p id="tt-t" class="small" ng-bind="tooltipContent.date"></p>
        <p id="tt-v" class="small" ng-show="tooltipContent.retriggers > 0">Retriggers: {{tooltipContent.retriggers}}</p>
      </div>
      <span ng-hide="selectedDataPoint">Click to lock</span>
      <span ng-show="selectedDataPoint">&nbsp;</span>
    </div>
    <div class="tip"></div>
  </div>
</div>
