<div class="container-fluid">
  <div class="ph-horizontal-layout">
    <div id="graph-chooser">
      <div ng-show="seriesList.length == 0">
        <p>Nothing here yet</p>
      </div>
      <table class="table table-bordered graph-legend-table">
        <tr ng-repeat="series in seriesList">
          <td>
            <button class="close" ng-click="removeSeries(series.projectName, series.signature)">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Remove series</span>
            </button>
              <div class="graph-legend" style="border-left-color: {{series.blockColor}}" ng-class="{'series-inactive':!series.visible}">
                <b>{{series.name}}</b><br/>
                <a href="#" ng-click="addTestData('addRelatedBranches', series.signature)" title="Add related branches">{{series.projectName}}</a><br/>
                <a href="#" ng-click="addTestData('addRelatedPlatform', series.signature)" title="Add related platforms">{{series.platform}}</a><br/>
                <div class="signature"><small>{{series.signature}}</small></div>
              </div>
              <input title="Show/Hide series" type="checkbox" ng-model="series.visible" class="show-hide-check" ng-click="showHideSeries(series.signature)">
          </td>
        </tr>
      </table>
      <button class="btn btn-primary" ng-click="addTestData()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add <span ng-show="seriesList.length > 0">more</span> test data</button>
    </div>
    <div id="data-display">
      <select ng-model="myTimerange" ng-options="timerange.text for timerange in timeranges track by timerange.value" ng-change="timeRangeChanged()">
      </select>
      <hr/>
      <div id="overview-plot"></div>
      <div id="graph"></div>
      <div id="graph-bottom" ng-show="seriesList.length > 0">
        Highlight revisions:
        <span ng-repeat="highlightedRevision in highlightedRevisions track by $index">
          <input type="text"
                 maxlength="40"
                 ng-change="updateHighlightedRevisions()"
                 placeholder="hg revision"
                 ng-model="highlightedRevisions[$index]">
            <span class="reset-highlight-button" ng-show="highlightedRevisions[$index].length > 0" ng-click="resetHighlight($index)">&#10006;</span>
          </input>
        </span>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-change="updateHighlightedRevisions()" ng-model="highlightAlerts">Highlight alerts</input>
          </label>
        </div>
      </div>
    </div>
    <div class="graph-right-padding"></div>
  </div>

  <div id="graph-tooltip" ng-class="{locked: selectedDataPoint}">
    <div class="body">
      <div>
        <p id="tt-series"><span ng-bind="tooltipContent.test"/>
          (<span ng-bind="tooltipContent.project.name"/>)</p>
        <p id="tt-series2" class="small"><span ng-bind="tooltipContent.platform"/></p>
      </div>
      <div>
        <p id="tt-v" ng-bind="tooltipContent.value"></p>
        <p id="tt-dv" class="small">&Delta; <span ng-bind="tooltipContent.deltaValue"/>
          (<span ng-bind="tooltipContent.deltaPercentValue"/>%)</p>
      </div>
      <div>
        <p ng-show="tooltipContent.revision">
          <a id="tt-cset" ng-href="{{tooltipContent.pushlogURL}}" target="_blank">
            {{tooltipContent.revision| limitTo: 12}}
          </a>
          <span ng-show="tooltipContent.prevRevision && tooltipContent.revision">
            (<a id="tt-cset" ng-href="{{tooltipContent.revision | getRevisionUrl:tooltipContent.project.name}}&selectedJob={{tooltipContent.jobId}}&group_state=expanded" target="_blank">job</a>,
            <a ng-href="#/comparesubtest?originalProject={{tooltipContent.project.name}}&newProject={{tooltipContent.project.name}}&originalRevision={{tooltipContent.prevRevision}}&newRevision={{tooltipContent.revision}}&originalSignature={{selectedDataPoint.signature}}&newSignature={{selectedDataPoint.signature}}&framework={{selectedDataPoint.frameworkId}}" target="_blank">compare</a>)
          </span>
        </p>
        <p ng-show="tooltipContent.alertSummary">
          <i class="text-warning fa fa-exclamation-circle"></i>
          <a href="perf.html#/alerts?id={{tooltipContent.alertSummary.id}}">
            Alert #{{tooltipContent.alertSummary.id}}</a>
          <span class="text-muted">({{tooltipContent.alertSummary.getStatusText()}})</span>
        <p ng-hide="tooltipContent.revision">
          <span ng-hide="tooltipContent.revisionInfoAvailable">Revision info unavailable</span>
          <span ng-show="tooltipContent.revisionInfoAvailable">Loading revision...</span>
        </p>
        <p id="tt-t" class="small" ng-bind="tooltipContent.date"></p>
        <p id="tt-v" class="small" ng-show="tooltipContent.retriggers > 0">Retriggers: {{tooltipContent.retriggers}}</p>
      </div>
      <span ng-hide="selectedDataPoint">Click to lock</span>
      <span ng-show="selectedDataPoint">&nbsp;</span>
    </div>
    <div class="tip"></div>
  </div>
</div>
