<!--- TODO: Replace this with the React component used by jobs-view -->
<li>
  <a class="dropdown-item" href="https://treeherder.readthedocs.io/" target="_blank" rel="noopener">
    <span class="far fa-file-code fa-fw mr-1 midgray"></span>
    Development Documentation</a>
</li>
<li>
  <a class="dropdown-item" href="/docs/" target="_blank" rel="noopener">
    <span class="fas fa-code fa-fw mr-1 midgray"></span>
    API Reference</a>
</li>
<li>
  <a class="dropdown-item" href="https://wiki.mozilla.org/EngineeringProductivity/Projects/Perfherder" target="_blank" rel="noopener">
    <span class="far fa-file-word fa-fw mr-1 midgray"></span>
    Project Wiki</a>
</li>
<li>
  <a class="dropdown-item" href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Tree%20Management&component=Perfherder" target="_blank" rel="noopener">
    <span class="fas fa-bug fa-fw mr-1 midgray"></span>
    Report a Bug</a>
</li>
<li>
  <a class="dropdown-item" href="https://github.com/mozilla/treeherder" target="_blank" rel="noopener">
    <span class="fab fa-github fa-fw mr-1 midgray"></span>
    Source</a>
</li>
