<li>
  <a href="https://treeherder.readthedocs.io/" target="_blank">
    <span class="fa fa-file-code-o midgray"></span>
    Development Documentation</a>
</li>
<li>
  <a href="https://wiki.mozilla.org/Auto-tools/Projects/Perfherder" target="_blank">
    <span class="fa fa-file-word-o midgray"></span>
    Project Wiki</a>
</li>
<li>
  <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Tree%20Management&component=Perfherder" target="_blank">
    <span class="fa fa-bug midgray"></span>
    Report a Bug</a>
</li>
<li>
  <a href="https://github.com/mozilla/treeherder" target="_blank">
    <span class="fa fa-github midgray"></span>
    Source</a>
</li>
