<form name="modifyAlert" ng-submit="modify()">
    <div class="modal-header">
      <h3 class="modal-title">{{title}}</h3>
      <button type="button" class="close" ng-model="closeButton" ng-show="!modifying" ng-click="cancel()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
          <div ng-if="!selectedScope">
              <button class="btn"
                ng-click="select(alertScope)">Selected alert
            </button>
            <button class="btn"
                ng-click="select(alertSummaryScope)">Associated alert summary
              </button>
          </div>
          <div
              ng-if="selectedScope">
              Button panel here...
          </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn"
            ng-if="selectedScope"
            ng-click="back()">
            Back
        </button>
    </div>
</form>
