<ul class="list-inline push-information">
  <li>
    <strong>Base</strong> - <a href="{{originalProject.getRevisionHref(originalRevision)}}">{{originalRevision}}</a> ({{originalProject.name}}) - {{originalResultSet.author}} -
    <span>{{originalResultSet.comments}}</span>
  </li>
  <li>
    <strong>New</strong> - <a href="{{newProject.getRevisionHref(originalRevision)}}">{{newRevision}}</a> ({{newProject.name}}) - {{newResultSet.author}} -
    <span>{{newResultSet.comments}}</span>
  </li>
</ul>
