{% extends "application/base.html" %}

{% block content %}
    <h2>Application delete</h2>
    <p class="text-danger">
        Are you sure you want to delete the following application?
    </p>
    <dl class="dl-horizontal">
        <dt>App ID</dt><dd>{{ object.app_id}}</dd>
        <dt>Secret</dt><dd>{{ object.secret}}</dd>
        <dt>Authorization</dt>
        <dd>
            {% if object.authorized %}
                <span class="label label-success">Authorized</span>
            {% else %}
                <span class="label label-danger">Not Authorized</span>
            {% endif %}
        </dd>
        <dt>Description</dt><dd>{{ object.description}}</dd>
        <dt>Created on</dt><dd>{{ object.created}}</dd>
    </dl>
    <form class="" action="" method="post">
        {% csrf_token %}
        <a class="btn btn-sm btn-default" href="{% url 'application-detail' application.id%}">Back</a>
        <input class="btn btn-sm btn-danger" type="submit" value="Confirm delete">
    </form>
{% endblock %}
