/****
 * Data structure sample sent to object store
 ****/
[
    {
        /**************
         * The revisions in sources are combined and hashed to form a
         * result set guid stored in project_jobs_1.result_set.revision_hash.
         * The revision_hash is used for associating job data asynchronously
         * with a single entry in project_jobs_1.result_set.
         **************/
        revision_hash:"",

        job: {
            #Stored in project_jobs_1.job.job_guid
            job_guid:"",

            #Stored in treeherder_reference_1.job_type.name
            name: "Mochitest 4 | JSReftest 3 | ...",

            #Stored symbol represending the job
            symbol: "B | t | o | ...",

            # human readable group name (can be null)
            group_name: "null | Talos | Mochitest | ...",

            #Stored symbol representing the job group (can be null)
            group_symbol: "null | T | M | R",

            # buildername from buildbot (optional)
            buildername: 'Ubuntu VM 12.04 x64 mozilla-inbound debug test crashtest'

            #Stored in treeherder_reference_1.product
            product_name: "Firefox | Firefox OS | Thunderbird | ...",

            #Stored in project_jobs_1.job.state
            state: "pending | running | completed | coalesced |  ...",

            #Stored in project_jobs_1.job.result
            result: "success | warnings | failure | exception | retry | cancelled",

            #Stored in project_jobs_1.job.reason
            reason: "push | scheduled | self-serve | manual",

            #Stored in project_jobs_1.job.who
            who: " gaia | scheduler name | username ",

            #Stored in project_jobs_1.job.submit_timestamp
            submit_timestamp:"",

            #Stored in project_jobs_1.job.start_timestamp
            start_timestamp:"",

            #Stored in project_jobs_1.job.end_timestamp
            end_timestamp:"",

            #Stored in treeherder_reference_1.machine.name
            machine:"",

            #Stored in project_jobs_1.job_artifact, name=build_url
            build_url:"",

            #Stored in:
            # treeherder_reference_1.build_platform.os_name,
            # treeherder_reference_1.build_platform.platform,
            # treeherder_reference_1.build_platform.architecture,
            build_platform:{ os_name:"", platform:"", architecture:"" },

            #Stored in:
            # treeherder_reference_1.machine_platform.os_name,
            # treeherder_reference_1.machine_platform.platform,
            # treeherder_reference_1.machine_platform.architecture,
            machine_platform:{ os_name:"", platform:"", architecture:"" },

            #Stored in treeherder_reference_1.option_collection and
            #treeherder_reference_1.option
            option_collection: {
                "debug | pgo | asan | opt": True
            },

            #Stored in project_jobs_1.job_log_url
            log_references: [
                { url:"http://ftp.mozilla.org/pub/mozilla.org/firefox/try-builds/mfowler@mozilla.com-64620dd73baa/try-macosx64-debug/try_snowleopard-debug_test-marionette-bm06-tests1-macosx-build1293.txt.gz",
                    #associating a name with the log allows for different types of
                    #processing to be applied to different types of logs
                    name:"unittest" },
                ...
            ],

            #Stored project_jobs_1.job_artifact
            artifact:"{
                type:" json | img | ...",
                name:"",
                log_urls:[
                    ]
                blob:""
                }"
            }



        /****
         * May not be present if there are no job_guid's coalesced. If present,
         * the job_guids in jobs are where the jobs were coalesced to.
         * The structures main job_guid would be stored in project_jobs_1.job.job_coalesced_to_guid
         * for each entry job_guid in coalesced.
         ****/
        coalesced: [
            "job_guid",
            ...
        ]
    }
]

/****
*
* Real-life sample
*
****/
[
    {
        'project': 'mozilla-b2g26_v1_2',
        'job': {
            'build_platform': {
                'platform': 'b2g-emu-jb',
                'os_name': 'b2g',
                'architecture': 'x86'
            },
            'submit_timestamp': 1384274430,
            'start_timestamp': 1384274451,
            'build_url': '',
            'name': 'B2G Emulator Image Build',
            'buildername': 'b2g_mozilla-b2g26_v1_2_emulator-jb-debug_dep',
            'machine_platform': {
                'platform': 'b2g-emu-jb',
                'os_name': 'b2g',
                'architecture': 'x86'
            },
            'symbol': 'B',
            'who': 'b2g_mozilla-b2g26_v1_2-b2g',
            'group_symbol': '?',
            'reason': 'scheduler',
            'artifact': {
                'log_urls': [],
                'type': '',
                'name': '',
                'blob': ''
            },
            'group_name': None,
            'machine': 'bld-linux64-ec2-169',
            'state': 'completed',
            'option_collection': {
                'debug': True
            },
            'result': 'success',
            'log_references': [
                {
                    'url': 'http://ftp.mozilla.org/pub/mozilla.org/b2g/tinderbox-builds/mozilla-b2g26_v1_2-emulator-jb-debug/1384274430/b2g_mozilla-b2g26_v1_2_emulator-jb-debug_dep-bm57-build1-build11.txt.gz',
                    'name': 'builds-4h'
                }
            ],
            'job_guid': 'c74d2f19cee8fc4dc5deab94c15c201350c1a723',
            'product_name': 'b2g',
            'end_timestamp': 1384285860
        },
        'revision_hash': '0c6a093e3b9e8a4c75c9bf1a4bf5f797a16756cb',
        'resultset_id': 11
    },
    {
        'project': 'mozilla-b2g26_v1_2',
        'job': {
            'build_platform': {
                'platform': 'osx-10-7',
                'os_name': 'mac',
                'architecture': 'x86_64'
            },
            'submit_timestamp': 1384274713,
            'start_timestamp': 1384274738,
            'build_url': 'http://ftp.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/mozilla-b2g26_v1_2-macosx64-debug/1384270711/firefox-26.0.en-US.mac64.dmg',
            'name': 'Mochitest Browser Chrome',
            'buildername': 'Rev4 MacOSX Lion 10.7 mozilla-b2g26_v1_2 debug test mochitest-browser-chrome',
            'machine_platform': {
                'platform': 'osx-10-7',
                'os_name': 'mac',
                'architecture': 'x86_64'
            },
            'symbol': 'bc',
            'who': 'tests-mozilla-b2g26_v1_2-lion-debug-unittest',
            'group_symbol': 'M',
            'reason': 'scheduler',
            'artifact': {
                'log_urls': [],
                'type': '',
                'name': '',
                'blob': ''
            },
            'group_name': 'Mochitest',
            'machine': 'talos-r4-lion-053',
            'state': 'completed',
            'option_collection': {
                'debug': True
            },
            'result': 'success',
            'log_references': [
                {
                    'url': 'http://ftp.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/mozilla-b2g26_v1_2-macosx64-debug/1384270711/mozilla-b2g26_v1_2_lion-debug_test-mochitest-browser-chrome-bm78-tests1-macosx-build6.txt.gz',
                    'name': 'builds-4h'
                }
            ],
            'job_guid': '4dc8b79752b5e8a7d5d5558d8b341cdf811c57f4',
            'product_name': 'firefox',
            'end_timestamp': 1384282869
        },
        'revision_hash': '7127a762822a824f8f843fe1d09cb5de4c2bec67',
        'resultset_id': 13
    }
]
