/****
 * Data structure sample pushlog
 ****/

{
    'push_timestamp': 1378291978,

    'revision_hash': '638a3df94dc1fd0d1efbeb4b94b4278f8751e3f2',

    'revisions': [
        {
            'author': 'John Doe <jdoe@mozilla.com>',
            'branch': 'default',
            'comment': 'Bug 892203 - Minor cleanups in sandbox.cpp. r=bholley',
            'files': ['js/xpconnect/src/Sandbox.cpp',
                'js/xpconnect/src/XPCWrappedNativeScope.cpp'],
            'repository': 'test_treeherder',
            'revision': 'f5743e7da436'
        },
        {
            'author': 'John Doe <jdoe@mozilla.com>',
            'branch': 'default',
            'comment': 'Bug 892203 - DOMConstructors for SandboxOptions. r=bholley',
            'files': ['dom/tests/mochitest/chrome/test_sandbox_eventhandler.xul',
                'js/xpconnect/src/Sandbox.cpp',
                'js/xpconnect/src/xpcprivate.h',
                'js/xpconnect/tests/unit/test_allowedDomainsXHR.js',
                'js/xpconnect/tests/unit/test_bug868675.js',
                'js/xpconnect/tests/unit/test_bug872772.js',
                'js/xpconnect/tests/unit/test_exportFunction.js'],
            'repository': 'test_treeherder',
            'revision': '365f2aca45cf'
        },
        {
            'author': 'John Doe <jdoe@mozilla.com>',
            'branch': 'default',
            'comment': 'Bug 892203 - TextEncoder and TextDecoder for sandbox. r=bholley',
            'files': ['js/xpconnect/src/Sandbox.cpp',
                'js/xpconnect/src/xpcprivate.h',
                'js/xpconnect/tests/unit/test_textDecoder.js',
                'js/xpconnect/tests/unit/xpcshell.ini'],
            'repository': 'test_treeherder',
            'revision': 'f186c97c9011'
        }
    ]
}
