/* If this is ever removed, remove the corresponding Content-Security-Policy header entries. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  text-align: center;
  overflow: auto;
}

h1,
.subheader {
  font-family: 'Open Sans', sans-serif;
}

.subheader {
  font-size: 1.5rem;
  margin-bottom: 7px;
}

/* Graph Alternate View - Table */
.alternate-table {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
}

.alternate-table .ReactTable.-striped .rt-tr.-odd {
  background-color: rgba(221, 102, 2, 0.2);
}

/* overriding bootstrap default input style */
input {
  padding: 0.4em 1em;
  border: 1.5px solid rgb(206, 212, 218);
  text-align: center;
  outline: none;
  border-radius: 3.5px;
  vertical-align: middle;
}

.mg-chart-title {
  font-size: 14px;
}

.custom-tooltip {
  background-color: lightgray;
  color: black;
  font-size: 14px;
  border: 1px solid lightgray;
  max-width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.failure_li {
  max-width: 1000px;
  list-style-type: none;
  text-align: left;
}

/* ReactTable style */
.ReactTable .rt-thead .rt-tr,
.ReactTable .rt-tbody .rt-tr,
.ReactTable .rt-td,
.ReactTable .rt-th {
  text-align: left;
}

/* Keep pagination controls on one row */
.ReactTable .-pagination {
  flex-wrap: nowrap;
}

.ReactTable .-pagination .-center {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.ReactTable .-pagination .-btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

/* overriding react-dates default input and button style */
input.DateInput_input {
  font-size: 1rem;
  padding: 0.275rem 0.75rem;
}

div.DateRangePickerInput__showClearDates {
  padding-right: 15px;
}

svg.DateRangePickerInput_clearDates_svg {
  height: 10px;
  width: 10px;
}

button.DateRangePickerInput_clearDates {
  top: 45%;
  padding: 5px 8px;
  margin: 1px 10px 0 5px;
}

.vm-container {
  width: 100%;
  height: 100%;
  min-height: 20px;
}

.vm-text {
  font-size: 0.9em;
  font-style: italic;
  visibility: hidden;
}

.rt-td:hover .vm-text {
  visibility: visible;
  color: #666;
}

.failure-header {
  margin-bottom: 8px;
}

.failure-count {
  font-size: 0.9em;
  color: #666;
}

.failure-lines {
  font-size: 0.85em;
  line-height: 1.3;
}

.failure-line {
  margin-bottom: 2px;
  font-family: monospace;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
