/* If this is ever removed, remove the corresponding Content-Security-Policy header entries. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  text-align: center;
  overflow: auto;
}

h1,
.subheader {
  font-family: 'Open Sans', sans-serif;
}

.subheader {
  font-size: 1.5rem;
  margin-bottom: 7px;
}

.bug-column-header {
  text-align: left;
  margin-left: 10px;
}

.bug-column {
  text-align: left;
  margin-left: 5px;
}

.bug-column .bug-details {
  display: none;
}

.bug-column:hover .bug-details,
.bug-column:focus-within .bug-details {
  display: initial;
}

/* overriding bootstrap default input style */
input {
  padding: 0.4em 1em;
  border: 1.5px solid rgb(206, 212, 218);
  text-align: center;
  outline: none;
  border-radius: 3.5px;
  vertical-align: middle;
}

.small-text {
  font-size: 12px;
}

.mg-chart-title {
  font-size: 14px;
}

.tooltip > .tooltip-inner {
  background-color: lightgray;
  color: black;
  font-size: 14px;
  border: 1px solid lightgray;
  max-width: 100% !important;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.failure_li {
  max-width: 1000px;
  list-style-type: none;
  text-align: left;
}

/* overriding react-dates default input and button style */
input.DateInput_input {
  font-size: 1rem;
  padding: 0.275rem 0.75rem;
}

div.DateRangePickerInput__showClearDates {
  padding-right: 15px;
}

svg.DateRangePickerInput_clearDates_svg {
  height: 10px;
  width: 10px;
}

button.DateRangePickerInput_clearDates {
  top: 45%;
  padding: 5px 8px;
  margin: 1px 10px 0 5px;
}
