@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  text-align: center;
  overflow-x: auto;
}

h1, .subheader {
  font-family: 'Open Sans', sans-serif;
}

.subheader {
  font-size: 1.5rem;
  margin-bottom: 7px;
}

.top-navbar {
  background-color: #222;
  height: 34px;
  position: absolute;
}

.btn-navbar {
  background-color: transparent;
  border-color: #373d40;
  border-radius: 0;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
}

.navbar-link {
  color: lightgray;
}

.navbar-link:hover {
  color: lightgray;
}

.navbar-link:visited {
  color: lightgray;
}

.bug-column-header {
    text-align: left;
    margin-left: 10px;
}

.bug-column {
    text-align: left;
    margin-left: 5px;
}

.bug-column .bug-details {
    display: none;
}

.bug-column:hover .bug-details {
    display: initial;
}

/* overriding bootstrap default input style */
input {
  padding: .4em 1em;
  border: 1.5px solid rgb(206, 212, 218);
  text-align: center;
  outline: none;
  border-radius: 3.5px;
  vertical-align: middle;
}

.small-text {
  font-size: 12px;
}

.mg-chart-title {
  font-size: 14px;
}

.hide {
  visibility: hidden;
}

.tooltip > .tooltip-inner {
  background-color: lightgray;
  color: black;
  font-size: 14px;  
  border: 1px solid lightgray;
  max-width: 100% !important;
}

.failure_li {
  max-width: 800px;
  text-decoration: none;
}
