/* Use higher specificity selectors to override package styles without !important */
/* The .treeherder-lazylog-wrapper class is added to wrapper divs in both App.jsx and LogviewerTab.jsx */
/* Using descendant selectors provides higher specificity than single class selectors */

.treeherder-lazylog-wrapper .react-lazylog {
  font-family: monospace;
  background: #f8f8f8;
  color: #333;
  font-size: 12px;
}

.treeherder-lazylog-wrapper .react-lazylog div:hover {
  background: transparent;
}

.treeherder-lazylog-wrapper .react-lazylog a:hover {
  background: #f8eec7;
  color: #000;
}

.treeherder-lazylog-wrapper .react-lazylog a {
  color: #b9b9b9;
  margin: 0;
}

/* Make crash viewer and profile links more visible than line numbers */
.treeherder-lazylog-wrapper .react-lazylog a.log-line-link {
  color: #0066cc;
  text-decoration: underline;
}

.treeherder-lazylog-wrapper .react-lazylog .yellow-highlight {
  background: #f8eec7;
  color: #000;
}

.treeherder-lazylog-wrapper .react-lazylog-searchbar {
  background: #354048;
}

.treeherder-lazylog-wrapper .react-lazylog-searchbar-input {
  background: white;
  color: black;
}

.treeherder-lazylog-wrapper .react-lazylog-searchbar-input::placeholder {
  color: black;
  opacity: 1;
}

.treeherder-lazylog-wrapper .react-lazylog-searchbar-filter svg {
  fill: white;
}

.treeherder-lazylog-wrapper .react-lazylog-searchbar-matches {
  color: white;
}
