.react-lazylog {
  font-family: monospace !important;
  background: #f8f8f8 !important;
  color: #333 !important;
  font-size: 12px !important;
}

.react-lazylog div:hover {
  background: transparent !important;
}

.react-lazylog a:hover {
  background: #f8eec7 !important;
  color: #000 !important;
}

.react-lazylog a {
  color: #b9b9b9 !important;
  margin: 0 !important;
}

/* Make crash viewer and profile links more visible than line numbers */
.react-lazylog a.log-line-link {
  color: #0066cc !important;
  text-decoration: underline !important;
}

.react-lazylog .yellow-highlight {
  background: #f8eec7 !important;
  color: #000 !important;
}

.react-lazylog-searchbar {
  background: #354048 !important;
}

.react-lazylog-searchbar-input {
  background: white !important;
  color: black !important;
}

.react-lazylog-searchbar-input::placeholder {
  color: black !important;
  opacity: 1 !important;
}

.react-lazylog-searchbar-filter svg {
  fill: white !important;
}

.react-lazylog-searchbar-matches {
  color: white !important;
}
