body {
    padding: 20px;
    padding-top: 270px;
    white-space: nowrap;
    float: left;
}

/*Log Viewer*/

.lv-line-no {
    width: 3em;
}

.lv-error-line {
    background-color: white;
    color: #333333;
    width: 100%;
}

.lv-error-line span:nth-child(2) {
    white-space: normal;
}

.lv-log-container {
    height: auto;
    width: 100%;
    position: absolute;
    overflow: auto;
    right: 0px;
    top: 270px;
    left: 0px;
    bottom: 0px;
    padding: 20px;
    background: #EFEFEF;
}

.lv-log-line {
    width: auto;
}

.lv-line-number {
    background-color: #232323;
    color: #EFEFEF;
    padding: 2px 5px;
    display: inline-block;
    text-align: right;
    min-width: 45px;
}

.text-danger .lv-line-number {
    background: #e74c3c !important;
}

.lv-line-highlight {
    background-color: LightGrey;
}

.run-data {
    height: 270px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    padding: 30px;
    border-bottom: 1px solid #EFEFEF;
}

.run-data .steps-data {
    height: 210px;
    overflow: auto;
    border: 1px solid #EFEFEF;
	padding: 10px;
}

.logviewer-step {
    overflow: hidden;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.logviewer-step.selected {
    color: #232323;
    background-color: #FFF;
}

.logviewer-step.btn-success.selected {
    border-color: #398439;
}

.logviewer-step.btn-warning.selected {
    border-color: #d58512;
}

.lv-line-no.label {
    border-radius: 0px;
    margin: 0em 0.6em 0em 0em;
}

.lv-log-loading {
    position: fixed;
    top: 280px;
    left: 50%;
    background: #FFF;
    color: #585858;
    width: 150px;
    margin-left: -75px;
    font-size: 2em;
}
