body {
    padding: 20px;
	padding-top: 270px;
    white-space: nowrap;
    float: left;
}

.lv-log-container {
    overflow-y: scroll;
    overflow-x: auto;
    height: auto;
}

.run-data {
    height: 270px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    padding: 30px;
    border-bottom: 1px solid #EFEFEF;
}

.run-data .steps-data {
    height: 210px;
    overflow: auto;
    border: 1px solid #EFEFEF;
	padding-top: 10px;
}

.logviewer-step.btn-success.selected {
    color: #ffffff;
    background-color: #47a447;
    border-color: #398439;
}

.logviewer-step.btn-warning.selected {
    color: #ffffff;
    background-color: #ed9c28;
    border-color: #d58512;
}

.lv-line-no.label {
    border-radius: 0px;
}