section {
  height: calc(100% - 50px);
  overflow-y: auto;
}

h1 {
  margin-top: 20px;
}

.table {
  margin-bottom: 20px;
}

.checkbox label {
  font-weight: normal;
}

.blink {
  animation: blink 1s ease-in-out infinite alternate;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.ph-horizontal-layout {
  display: flex;
  flex-flow: row;
}

#perf-logo {
  padding: 15px;
  border: none;
  color: #555;
  background: #f8f8f8;
}

#graph-chooser {
  flex: none;
  width: 240px;
  padding: 8px;
}

#data-display {
  flex: auto;
}

#graph {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  cursor: crosshair;
}

.graph-legend-table {
  table-layout: fixed;
}

.graph-legend-table tbody > tr > td {
  padding: 0;
}

.graph-legend {
  padding: 8px 20px 8px 8px;
  text-overflow: ellipsis;
  font-size: 12px;
  border-left: 10px solid;
}

.graph-legend .series-inactive {
  border-color: #d3d3d3;
  color: #d3d3d3;
}

.graph-legend-table .close {
  margin-right: 6px;
}

.graph-legend-table .show-hide-check {
  float: right;
  margin-top: -20px;
  margin-right: 6px;
}

.graph-right-padding {
  flex: none;
  width: 120px;
}

#graph-tooltip {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  width: 280px;
}
#graph-tooltip.locked {
  pointer-events: auto;
}
#graph-tooltip .body {
  display: block;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
}
#graph-tooltip.locked .body {
  background: rgba(0, 0, 0, 0.9);
}
#graph-tooltip .body div {
  margin-top: 0.5em;
}
#graph-tooltip .body div:first-child {
  margin-top: 0.5em;
}
#graph-tooltip .body p {
  margin: 0;
}
#graph-tooltip .body p.small {
  font-size: 10px;
  color: #c0c0c0;
}
#graph-tooltip .body a {
  color: #c9e2f2;
}
#graph-tooltip .tip {
  display: block;
  height: 10px;
  background: url('../img/tip.png') no-repeat center top;
}
#graph-tooltip.locked .tip {
  background-image: url('../img/tip-locked.png');
}

.graphchooser-close {
  color: #fff;
  outline: none;
  margin: -14px -4px;
}

.graphchooser-close:hover {
  color: #fff;
}

.reset-highlight-button {
  display: inline-block;
  margin-left: -20px;
  width: 17px;
  cursor: pointer;
}

#overview-plot {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 100px;
  cursor: crosshair;
}

.subtest-header th {
  padding: 5px;
}

.subtest-result button {
  display: none;
}

.subtest-result:hover button {
  display: inline-block;
}

.graph-legend .signature {
  display: inline-block;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Test Chooser graph */

.modal-body {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  align-content: center;
}

.test-chooser {
  flex: none;
  width: 320px;
}

.btn-group-vertical {
  flex: none;
  position: relative;
  top: 115px;
  padding: 3px;
}

#unselect-test {
  position: relative;
  bottom: 4px;
}

.test-list-container {
  flex: auto;
}

.test-list-container .form-control {
  height: 345px;
  width: 100%;
}

.choose-test-list {
  font-size: 11px;
  margin-top: 8px;
  height: 85px;
}

.test-loading-placeholder {
  width: 480px;
  height: 120px;
}

/* Compare interface stuff */

.push-information {
  font-size: 18px;
  color: #777;
  margin-left: -4px;
}

.vertical-box {
  display: flex;
  flex-flow: column;
}

.spacer {
  flex: auto;
}

.horizontal-box {
  display: flex;
  flex-flow: row;
}

.compare-form {
  align: center;
  display: flex;
  flex-flow: column;
}

.compare-form .form-group {
  display: flex;
  flex-flow: row;
  flex: none;
}

.compare-form .form-group .card {
  flex: none;
  width: 360px;
  height: 250px;
  margin-right: 15px;
  margin-bottom: 0;
}

.compare-form .button-container {
  width: 740px;
  position: relative;
  left: -5px;
}

.compare-form .input-group-btn button:hover {
  background-color: darkgrey;
}

.compare-form .input-group-btn button:focus {
  box-shadow: none;
}

.compare-table td,
th {
  text-align: center;
  cursor: default;
}

.compare-table .subtest-header > th {
  color: transparent;
  transition: color 150ms ease-in-out;
}

.compare-table .subtest-header > th:first-child,
.compare-table:hover .subtest-header > th,
.compare-table {
  color: #333;
}

.compare-table tr:hover .detail-hint {
  border-bottom: 1px dotted #777;
}

.compare-table .result-links span,
.compare-table .result-links a {
  color: transparent;
  transition: color 150ms ease-in-out;
}

.compare-table tr:hover .result-links span {
  color: #333;
}

.compare-table tr:hover .result-links a {
  color: #23527c;
}

.button-panel {
  position: sticky;
  bottom: 0;
  z-index: 1030;
  background-color: rgba(0, 0, 0, 0.2);
}

.alerts-container {
  padding-left: 90px;
  padding-right: 90px;
}

.alert-summary a {
  cursor: pointer;
}

.alert-summary {
  margin-bottom: 20px;
}

.alert-summary-heading {
  display: flex;
  flex-flow: row;
  padding: 0;
  border-bottom: 1px solid transparent;
}

.alert-summary-header-element {
  flex: none;
  padding: 8px;
}

.alert-summary .compare-table {
  margin-bottom: 0;
}

.alert-summary .card-body {
  border-top: 1px solid #ddd;
  padding: 15px;
}

.alert-summary .card-body p {
  margin: 0 0 10px;
}

.dropdown {
  padding: 0;
  vertical-align: inherit;
}

.dropdown .caret {
  margin-left: 2px;
}

.alert-summary-date {
  width: 160px;
  text-align: right;
}

button:disabled {
  cursor: not-allowed;
}

/* Various styles for individual alerts ("changes" in UI) */
.alert-selects .form-group {
  margin-right: 6px;
}

.compare-table-tooltip {
  max-width: 335px;
}

.tooltip-table {
  border: 1px solid white;
  height: 20px;
  margin-bottom: 5px;
}

.tooltip-table .value-column {
  width: 35px;
  border: 1px solid white;
  align-items: center;
  font-family: 'Helvetica';
  font-size: 11px;
}

.tooltip-table .distribution-column {
  width: 200px;
  border: 1px solid white;
}

.replicate-graph .mg-header {
  font-family: 'Helvetica';
  font-size: 15px;
  font-weight: bold;
}

.replicate-graph .mg-x-axis text {
  font-size: 0;
}

.replicate-graph .mg-category-guides line {
  stroke: #ffffff;
}

/* The paginator in angular1-ui-bootstrap4 always tries to put chevrons
   for the prev/next buttons, but they look all messed up sizing wise.
   The paginator SHOULD show the text of Next/Previous, but it's not, so this
   is a work-around.*/
li.page-item .material-icons {
  font-size: 0;
}

li.pagination-prev .material-icons::before {
  content: 'Previous';
  font-size: 14px;
  font-style: normal;
}

li.pagination-next .material-icons::before {
  content: 'Next';
  font-size: 14px;
  font-style: normal;
}

.pagination {
  margin: 20px 0;
}

/* for use with global max-width-default style */
.max-width-row-text {
  max-width: 1194px;
}
