.blink {
animation: blink 1s ease-in-out infinite alternate;
-webkit-animation: blink 1s ease-in-out infinite alternate;
}
@keyframes blink {
from { opacity: 1; }
to { opacity: 0; }
}
@-webkit-keyframes blink {
from { opacity: 1; }
to { opacity: 0; }
}

.graph-legend .series-inactive {
  border-color: #D3D3D3;
  color: #D3D3D3;
}

.ph-horizontal-layout {
  display: flex;
  flex-flow: row;
}

#perf-logo {
    padding: 15px;
    border: none;
    color: #555;
    background: #f8f8f8;
}

#graph-chooser { flex: none; width: 240px; padding: 8px; }

#data-display { flex: auto; }

#graph { width: 100%; height: 300px; margin-bottom: 30px; cursor: crosshair; }

.graph-legend-table { table-layout:fixed; }

.graph-legend { padding: 4px; text-overflow: ellipsis; table-layout:fixed; font-size: 12px; }

.graph-legend-table .show-hide-check{
  float:right;
  margin-top: -20px;
}

.graph-right-padding { flex: none; width: 200px; }

#graph-tooltip {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    width: 280px;
}
#graph-tooltip.locked {
    pointer-events: auto;
}
#graph-tooltip .body {
    display: block;
    background: rgba(0,0,0,.75);
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 15px;
}
#graph-tooltip.locked .body {
    background: rgba(0,0,0,.9);
}
#graph-tooltip .body div {
    margin-top: .5em;
}
#graph-tooltip .body div:first-child {
    margin-top: .5em;
}
#graph-tooltip .body p {
    margin: 0px;
}
#graph-tooltip .body p.small {
    font-size: 10px;
    color: #c0c0c0;
}
#graph-tooltip .body a {
    color: #c9e2f2;
}
#graph-tooltip .tip {
    display: block;
    height: 10px;
    background: url("../img/tip.png") no-repeat center top;
}
#graph-tooltip.locked .tip {
    background-image: url("../img/tip-locked.png");
}

.reset-highlight-button {
  display: inline-block;
  margin-left: -20px;
  width: 17px;
  cursor: pointer;
}

#overview-plot {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 100px;
  cursor: crosshair;
}

.subtest-header {
  background-image: linear-gradient(to bottom, #EAEFF2, #D4DDE4);
  color: #CCC;
  font-weight: bold;
}

.subtest-improvement {
  background: green;
  color: white;
  font-weight: bold;
}

.subtest-regression {
  background: red;
  color: white;
  font-weight: bold;
}

.subtest-highlighted {
  font-weight: bold;
}

.subtest-empty {
    display: none;
}

.subtest-result button {
    display: none;
}

.subtest-result:hover button {
    display: inline-block;
}

.graph-legend .signature {
    display: inline-block;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Test Chooser graph */

.modal-body {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  align-content: center;
}

.test-chooser {
  flex: auto;
  width: 280px;
}

.btn-group-vertical {
  flex: none;
  position: relative;
  top: 245px;
  padding: 3px;
}

#unselect-test {
  position: relative;
  bottom: 4px;
}

.test-list-container {
  flex: auto;
}

.test-list-container .form-control {
  flex: none;
  height: 273px;
  width: 480px;
}

/* Compare interface stuff */

.push-information {
    font-size: 18px;
    color: #777;
    margin-left: -4px;
}

.vertical-box {
  display: flex;
  flex-flow: column;
}

.spacer {
  flex: auto;
}

.horizontal-box {
  display: flex;
  flex-flow: row;
}

.centered-element {
  flex: none;
}

.compare-form {
  align: center;
  display: flex;
  flex-flow: column;
}

.compare-form .form-group {
  display: flex;
  flex-flow: row;
  flex: none;
}

.compare-form .form-group .panel {
  flex: none;
  width: 360px;
  height: 250px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.compare-form .button-container {
  width: 740px;
  position: relative;
  left: -5px;
}

.compare-form .form-group .input-group-btn {
  flex: none;
  width: 10px;
}

.compare-table td, th {
    text-align: center;
    cursor: default;
}

.compare-table .test-title {
    text-align: left;
}

.compare-table .subtest-header > th {
    color: transparent;
    transition: color 150ms ease-in-out;
}

.compare-table:first-child .subtest-header > th,
.compare-table:hover .subtest-header > th,
.compare-table .subtest-header > th.test-title {
    color: #333;
}

.compare-table .subtest-header > th.test-title {
    text-align: left;
}

.compare-table tr:hover .detail-hint {
    border-bottom: 1px dotted #777;
}

.compare-table .result-links span,
.compare-table .result-links a {
    color: transparent;
    transition: color 150ms ease-in-out;
}

.compare-table tr:hover .result-links span {
    color: #333;
}

.compare-table tr:hover .result-links a {
    color: #23527c;
}

.compare-table .num-runs {
    text-align: right;
}

.compare-table .test-warning {
    text-align: left;
}

td.compare-improvement {
  background-image: linear-gradient(to bottom, #80BB2E, #547D1C);
  color: white;
  font-weight: bold;
}

td.compare-regression {
  background-image: linear-gradient(to bottom, #B20000, #940000);
  color: white;
  font-weight: bold;
}

span.compare-improvement {
    color: #80BB2E;
}

span.compare-regression {
    color: #B20000;
}

.compare-notsure {
  background-image: linear-gradient(to bottom, #FF9500, #FFCB00);
}

.bar {
  height: 1em;
  margin-top: 0.25em;
  margin-bottom: 5px;
  background-color: #bbb;
}

.bar-scale {
  background-color: #eee;
}

.bar-improvement {
  background-color: green;
}

.bar-regression {
  background-color: red;
}
