/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.blink {
animation: blink 1s ease-in-out infinite alternate;
-webkit-animation: blink 1s ease-in-out infinite alternate;
}
@keyframes blink {
from { opacity: 1; }
to { opacity: 0; }
}
@-webkit-keyframes blink {
from { opacity: 1; }
to { opacity: 0; }
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
  box-sizing: content-box;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.ph-horizontal-layout {
  display: flex;
  flex-flow: row;
}

#perf-logo {
    padding: 15px;
    border: none;
    color: #555;
    background: #f8f8f8;
}

#graph-chooser { flex: none; width: 240px; padding: 8px; }

#data-display { flex: auto; }

#graph { width: 100%; height: 300px; margin-bottom: 30px; }

.graph-legend-table { table-layout:fixed; }

.graph-legend { padding: 4px; text-overflow: ellipsis; table-layout:fixed; font-size: 12px; }

.graph-legend-table .show-hide-check{
  float:right;
  margin-top: -20px;
}

.graph-right-padding { flex: none; width: 200px; }

#graph-tooltip {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    width: 280px;
}
#graph-tooltip.locked {
    pointer-events: auto;
}
#graph-tooltip .body {
    display: block;
    background: rgba(0,0,0,.75);
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 15px;
}
#graph-tooltip.locked .body {
    background: rgba(0,0,0,.9);
}
#graph-tooltip .body div {
    margin-top: .5em;
}
#graph-tooltip .body div:first-child {
    margin-top: .5em;
}
#graph-tooltip .body p {
    margin: 0px;
}
#graph-tooltip .body p.small {
    font-size: 10px;
    color: #c0c0c0;
}
#graph-tooltip .body a {
    color: #c9e2f2;
}
#graph-tooltip .tip {
    display: block;
    height: 10px;
    background: url("../img/tip.png") no-repeat center top;
}
#graph-tooltip.locked .tip {
    background-image: url("../img/tip-locked.png");
}
#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.reset-highlight-button {
  display: inline-block;
  margin-left: -20px;
  width: 17px;
  cursor: pointer;
}

#overview-plot {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 100px;
  cursor: crosshair;
}

.subtest-header {
  background-image: linear-gradient(to bottom, #6A7B86, #424F5A);
  color: white;
  font-weight: bold;
}

.subtest-improvement {
  background: green;
  color: white;
  font-weight: bold;
}

.subtest-regression {
  background: red;
  color: white;
  font-weight: bold;
}

.subtest-highlighted {
  font-weight: bold;
}

.subtest-empty {
    display: none;
}

.subtest-result button {
    display: none;
}

.subtest-result:hover button {
    display: inline-block;
}

.graph-legend .signature {
    display: inline-block;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Compare interface stuff */

.vertical-box {
  display: flex;
  flex-flow: column;
}

.spacer {
  flex: auto;
}

.horizontal-box {
  display: flex;
  flex-flow: row;
}

.centered-element {
  flex: none;
}

.compare-form {
  align: center;
  display: flex;
  flex-flow: column;
}

.compare-form .form-group {
  display: flex;
  flex-flow: row;
  flex: none;
}

.compare-form .form-group .panel {
  flex: none;
  width: 280px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.compare-form .button-container {
  width: 575px;
}

.compare-improvement {
  background-image: linear-gradient(to bottom, #80BB2E, #547D1C);
  color: white;
  font-weight: bold;
}

.compare-regression {
  background-image: linear-gradient(to bottom, #B20000, #940000);
  color: white;
  font-weight: bold;
}

.compare-notsure {
  background-image: linear-gradient(to bottom, #FF9500, #FFCB00);
}

.bar-improvement {
  background-color: green;
  margin-left: 50%;
  height: 1em;
  margin-bottom: 5px;
}
.bar-regression {
  background-color: red;
  margin-right: 50%;
  height: 1em;
  margin-bottom: 5px;
}
