strong {
  font-weight: bold;
}

div#info-panel {
  background-color: #AAAAAA;
  font-size: 12px;
  height: 35%;
  max-height: 75%;
  flex: none;
  display: flex;
  flex-flow: column;
}

.info-panel-slide {
  animation: info-panel-slide 0.4s;
}

@keyframes info-panel-slide {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0%); }
}

div#info-panel .navbar {
  border-radius: 0;
  border-style: solid;
  border-color: #42484F;
  border-width: 1px 0;
  height: 33px;
  margin: 0;
  font-size: 12px;
  min-height: 33px;
  min-width: initial;
  z-index: 100;
}

div#info-panel-resizer {
  display: flex;
  flex: none;
  background-color: #919dad;
  cursor: ns-resize;
  height: 2px;
}

div#info-panel .navbar-nav > ul {
  height: 32px;
}

div#info-panel .navbar-nav.actionbar-nav > li > a,
div#info-panel .navbar-nav.actionbar-nav > li > button {
  padding: 8px 15px;
  line-height: 16px;
}

div#info-panel .navbar-nav.tab-headers > li > a,
div#info-panel .navbar-nav.tab-headers > li > button {
  padding: 8px 15px;
  line-height: 30px;
}

div#info-panel .navbar-nav > li > button {
  border: none;
  background: transparent;
}
/* Use a loaded image, rather than an icon, so it needs to be slightly shorter */
div#info-panel .navbar-nav > li > a#logviewer-btn {
  line-height: 18px;
}

div#info-panel .navbar-nav > li > a.disabled,
div#info-panel .navbar-nav > li > button.disabled,
ul.actionbar-menu > li.disabled {
  cursor: not-allowed;
  text-decoration: none;
}

div#info-panel .navbar-nav > li.active a,
div#info-panel .navbar-nav > li.active a:hover,
div#info-panel .navbar-nav > li.active a:focus {
  outline: 0;
}

div#info-panel .info-panel-navbar > ul.tab-headers > li {
  border-right: 1px solid #42484F;
}

.info-panel-navbar {
  background-color: #252C33;
  border: 1px solid transparent;
  color: #CED3D9;
  display: flex;
  flex-direction: row;
  z-index: 100;
  height: 33px;
}

.info-panel-navbar li {
  align-self: center;
}

.info-panel-navbar-tabs {
  justify-content: space-between;
  flex-direction: row;
}

.tab-headers {
  flex-direction: row;
  min-width: 550px;
}

.perf-job-selected {
  /* An override to optimize all other non-perf jobs at 550px */
  min-width: 646px !important;
}

.info-panel-navbar-controls {
  flex-wrap: nowrap;
}

.info-panel-navbar .navbar-nav {
  display: flex;
  flex-direction: row;
}

.info-panel-navbar .navbar-nav > li {
  white-space: nowrap;
}

.info-panel-navbar .navbar-nav > li > a,
.info-panel-navbar .navbar-nav > li > button {
  color: #9FA3A5;
  padding: 7px 15px;
}

div#info-panel .navbar-nav > li > a:hover,
div#info-panel .navbar-nav > li > a:focus,
div#info-panel .navbar-nav > li > button:hover,
div#info-panel .navbar-nav > li > button:focus
{
  background-color: #1E252B;
  color: #D3D8DA;
}

div#info-panel .navbar-nav > li > a:active,
div#info-panel .navbar-nav > li > button:active
{
  background-color: #000;
}

div#info-panel .navbar-nav > li > a.disabled:active,
div#info-panel .navbar-nav > li > button.disabled:active
{
  background-color: #1E252B;
}

.info-panel-navbar .actionbar-nav {
  flex: auto;
}

div#info-panel .info-panel-navbar .navbar-nav > li.active a,
div#info-panel .info-panel-navbar .navbar-nav > li.active a:hover,
div#info-panel .info-panel-navbar .navbar-nav > li.active a:focus,
div#info-panel .info-panel-navbar > li.active a,
div#info-panel .info-panel-navbar > li.active a:hover,
div#info-panel .info-panel-navbar > li.active a:focus {
  background-color: #1A4666;
  color: #EEF0F2;
}

#info-panel-content {
  position: relative; /* So we can absolutely position the loading overlay */
  height: 60%;
  flex: auto;
  display: flex;
  flex-flow: row;
}

#job-details-panel, #job-tabs-panel {
  background-color: #fff;
  display: flex;
  flex-flow: column;
}

#job-details-actionbar, #job-tabs-navbar {
  min-height: 33px;
}

/*
 * Job details action bar
 */

.action-bar-spin {
  animation: action-bar-spin 0.7s;
}

@keyframes action-bar-spin {
  0% { transform: rotate(0turn); }
  100% { transform: rotate(1turn); }
}

.actionbar-nav {
  flex-direction: row;
}

.actionbar-nav > li {
  /* Override padding on all icons to keep compact */
  padding: 0 !important;
}

.actionbar-menu {
  margin-top: 23px;
  margin-left: 6px;
  border-radius: 4px;
  top: 0;
  right: 0;
  left: auto;
}

#actionbar-menu-btn {
  padding: 8px 13px;
  margin-right: 1px;
}

#actionbar-menu-btn:hover {
  background-color: #262626;
  cursor: pointer;
}

#actionbar-menu-btn:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

/* Remove the caret from the ellipses */
#actionbar-menu-btn.dropdown-toggle::after {
    display:none
}

#job-details-actionbar #actionbar-menu-btn + ul > li {
  padding: 0;
}

/*
 * Job details panel (left side)
 */

#job-details-panel {
  width: 260px;
  min-width: 260px;
}

#job-details-panel .content-spacer {
  padding-top: 2px;
  padding-bottom: 4px;
}

#job-details-panel ul li {
  padding: 0 0 0 5px;
  line-height: 15px;
  word-wrap: break-word;
}

#job-details-panel ul li label {
  padding: 0;
  margin: 2px 0;
  font-weight: bold;
}

/*
 * Classification stars
 * These generally match the job button colors
 */

.star-success {
  color: rgba(2, 130, 51, 0.75);
}

.star-testfailed {
  color: #dd6602;
}

.star-busted {
  color: #90010a;
}

.star-skipped {
  color: rgb(101, 191, 221);
}

.star-exception {
  color: #6f0296;
}

.star-retry {
  color: #283aa2;
}

.star-unknown {
  color: #fbd890;
}

.star-usercancel {
  color: #ff40d9;
}
.star-superseded {
  color: #488ae9;
}

.star-pending,
.star-running {
  color: grey;
}

#job-details-panel em.testfail {
  color: red;
}

#job-details-pane ul {
  margin: 0;
  padding: 0;
  line-height: 12px;
}

#job-details-pane {
  overflow: auto;
}

#result-status-pane div {
  display: inline-block;
}

#result-status-pane div:first-child {
  width: 11.25em;
}

/*
 * Job tabs panel (right side)
 */

.job-tabs-divider {
  border-left: 1px solid lightgrey;
}

.job-tabs-content {
  padding: 2px 4px 0;
}

#job-tabs-panel {
  flex: 1 6;
  padding: 0;
  min-width: 565px;
}

#job-tabs-pane {
  max-height: calc(100% - 33px);
  flex: 1;
  display: flex;
  overflow: auto;
}

#job-tabs-pane > * {
  flex: 1;
  display: flex;
}

#job-tabs-pane > * > * {
  flex: 1;
  display: flex;
}

#job-tabs-pane > * > * > * {
  flex: 1;
  display: flex;
}

/*
 * Failure summary
 */

#job-tabs-panel ul.failure-summary-list {
  width: 100%;
  margin-bottom: 0;
}

ul.failure-summary-list li {
  font-size: 11px;
  background: #ccfaff;
}

ul.failure-summary-list li .btn-xs {
  font-size: 8px;
}

.failure-summary-line-empty {
  padding: 2px 4px 0;
  font-size: 12px;
  background: #ffffff;
}

.failure-summary-bugs {
  padding: 0 0 0 18px;
}

/* We override global anchor color to replicate TBPL here */
.failure-summary-bugs a {
  color: #0000ee;
}

.failure-summary-bugs a:visited {
  color: purple;
}

/* We override global anchor color to replicate TBPL here */
.show-hide-more {
  padding: 0 0 0 37px;
  color: #0000ee;
  cursor: pointer;
}

/*
 * Annotations
 */

annotations-tab {
  overflow: auto;
  margin-right: 0;
}

.classifications-pane {
  border-right: solid 1px lightgray;
}

/* Annotation tab classification headers */
.classifications-pane table tr th {
  padding-right: 16px;
  padding-bottom: 4px;
}

/* Annotation tab classification fields */
.classifications-pane table tr td {
  padding-right: 16px;
}

/* Annotations tab classification deletion container */
.classifications-pane table tr td:last-child {
  padding-left: 10px;
}

.classification-delete-icon {
  font-size: 11px;
  color: #bababa;
}

/* Override bootstrap row highlighting */
.classifications-pane table tr:hover td {
  background: #fff;
}

.annotations-bug-list {
  list-style: none inside none;
  padding-left: 0;
}

.annotations-bug-header {
  margin-top: 4px;
  margin-bottom: 2px;
  font-size: 0.9em;
}

.annotations-bug {
  padding-top: 2px;
  padding-bottom: 0;
  padding-left: 0;
  border: none;
  font-size: 0.9em;
}

/*
 * Similar jobs
 */

.btn-similar-jobs {
  background: #fff;
  cursor: default;
  font-size: 12px;
}

.similar_jobs {
  display: flex;
  flex-flow: row;
}

div.similar_jobs .right_panel {
  border-left: 1px solid #101010;
  margin-right: 1px;
  overflow-y: auto;
  flex: 1 1;
}

div.similar_jobs .right_panel form {
  overflow: hidden;
  background-color: #D3D3D3;
}

div.similar_jobs .right_panel form .checkbox input[type="checkbox"] {
  margin-left: 0;
  position: relative;
}

div.similar_jobs .right_panel .similar_job_detail {
  border-top: 1px solid #101010;
}

div.similar_jobs .right_panel .similar_job_detail table {
  width: 100%;
  overflow: hidden;
}

div.similar_jobs .left_panel {
  overflow: auto;
  flex: 1 1;
}

div.similar_jobs .left_panel table {
  margin-bottom: 7px;
}

/* We override bootstrap table style for cleaner layout */
div.similar_jobs .left_panel table tr > td {
  vertical-align: middle;
  border-top: 1px solid lightgrey;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}

/* Selected Similar Job row in blue */
div.similar_jobs .left_panel table tr.active > td {
  background: #e2ebfa;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}

/* Avoid using the hand pointer unless we are on a link */
div.similar_jobs .left_panel table tr {
  cursor: default;
}

/*
 * Performance
 */

div.performance-panel {
  display: block !important;
}

/*
 * Autoclassify Panel
 */

.failure-line-message {
  display: flex;
}

.failure-line-status {
  color: #c45a02;
}

.failure-line-message-toggle {
  cursor: pointer;
  width: 10px;
  flex-basis: auto;
  padding: 2px 4px;
}

.failure-line-message-collapsed {
  max-height: 14px;
  height: 14px;
  overflow: hidden;
  padding-left: 5px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.failure-line-message-expanded {
  margin-left: 5px;
  margin-bottom: 10px;
  overflow-x: auto;
  white-space: pre-wrap;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

autoclassify-tab,
.autoclassify-tab {
  font-size: 11px;
  flex-direction: column;
}

autoclassify-tab .controls,
.autoclassify-tab .controls {
  flex: 0;
  margin-bottom: 2px;
}

autoclassify-tab .controls button,
.autoclassify-tab .controls button {
  display: inline-block;
}

.autoclassify-error-lines {
  flex-direction: row;
  overflow-y: scroll;
}

.error-line {
  display: flex;
}

.error-line.selected {
  background-color: #e2ebfa;
  outline: thin dotted black;
}

.error-line .errorline-controls {
  width: 70px;
  text-align: center;
}

.error-line .status {
  width: 6px;
  margin-right: 3px;
}

.error-line .status.classification-disabled {
  background-color: #0000;
}

.error-line .status.verified {
  background-color: green;
}

.error-line .status.unverified-ignore {
  background-color: grey;
}

.error-line .status.unverified-no-bug {
  background-color: red;
}

.error-line .status.unverified {
  background-color: orange;
}

.error-line .classification-line-detail {
  width: 100%;
  padding-top: 3px;
  padding-bottom:3px;
  border-bottom: thin solid #eee;
}

.error-line .classification-set-bug {
  cursor: pointer;
  font-size: 8px;
}

.error-line .ignored-line {
  text-decoration: line-through;
}

.error-line.ignored {
  color: darkgrey;
}

.error-line .badge-ignored {
  background-color: lightgrey;
}

.static-classification-option .classification-icon,
.classification-option .classification-icon {
  width: 24px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  display: inline-block;
}

.static-classification-option .classification-icon > *,
.classification-option .classification-icon > * {
 margin-left: auto;
 margin-right: auto;
}

.classification-option {
  margin-top: 4px;
  display: flex;
}

.classification-option .classification-bug-resolution {
  color: darkgrey;
  font-size: 0.9em;
}

.classification-option .form-check {
  margin-bottom: 0;
  font-weight: normal;
  display: inline-block;
  padding-left: 0;
}

.classification-option label {
  margin-bottom: 0;
  font-weight: normal;
  display: inline;
}

/* TODO: Make this better */
.classification-option .classification-matchers {
  color: darkgrey;
  padding-left: 43px;
}

.classification-option .manual-bug-input {
  line-height: 11px;
  margin: -4px 0 5px 4px;
  font-size: 11px;
}

.classification-option .btn-file-bug {
  margin: -4px 0 5px 3px;
  font-size: 11px;
}

.classification-option .manual-bug-label {
  line-height: 15pt;
}

.classification-option .line-option-text {
  padding: 0 0 0 16px;
}

.extra-options {
  margin-top: 5px;
}

.extra-options .classification-option .form-check {
  height: 20px;
}

.line-option-text.manual-bug {
  display: flex;
  white-space: nowrap;
}

.line-option-text.ignore {
  display: flex;
}

.classification-option .Select.ignore-option .Select-control {
  margin: 0 0 0 5px;
  font-size: 11px;
  height: 20px;
  padding: 0 0 0 2px;
  width: 160px;
}

.classification-option .Select.ignore-option .Select-placeholder,
.classification-option .Select.ignore-option .Select-value,
.classification-option .Select.ignore-option .Select-value-label,
.classification-option .Select.ignore-option .Select-input {
  line-height: 20px !important;
  height: 20px;
}

.classification-option input {
  margin: 1px 0 0 0;
  vertical-align: middle;
}

.classification-option button.btn-xs,
.static-classification-option button.btn-xs {
  font-size: 8px;
}
