#userguide {
    padding: 10px 10px 0px;
    overflow: auto;
}

#userguide.dt, #userguide.dd {
    text-align: center;
}

#userguide.panel {
    padding: 5px;
}

/*
 * Job notation table
 */

.ug-btn-sm tr > th > button {
    font-size: 13px;
    padding: 0px 2px;
    margin-top: 1px;
    border: 1px solid;
    border-radius: 3px;
    color: #b3b3b3;
    cursor: auto;
    background: #fff;
}

.ug-btn-sm tr > th > button:focus {
    outline: 0;
}

.ug-btn-desc tr > td {
    vertical-align: bottom;
}

.ug-btn {
    margin: 2px;
    border: 2px solid;
}

.ug-btn-comment {
    border: none;
    background-color: #fff;
}

.ug-btn-orange {
    border-color: #dd6602;
}

.ug-btn-purple {
    border-color: #6f0296;
}

.ug-btn-red {
    border-color: #a1020e;
}

.ug-btn-yellow {
    border-color: #fbd890;
}

.ug-btn-bg {
    background-color: #fff;
}

/*
 * Copy values on hover
 */

#ug-job-name {
    color: #428bca;
}

#ug-raw-log-icon {
    font-size: 14px;
    color: #666;
}

#ug-logviewer-icon {
    vertical-align: text-bottom;
    width: 15px;
}

/*
 * Footer
 */

.ug-footer {
    overflow: auto;
}
