html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1.42;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.height-minus-navbars {
  height: calc(100% - 63px);
}

.th-global-content {
  /* Always show the scrollbar to avoid the layout change
   * depending on the content */
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.dropdown-item.disabled {
  cursor: not-allowed;
  font-style: italic;
}
/*
 * Resizer between PushList and DetailsPanel (react-resizable-panels)
 */

.resize-handle {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  height: 3px;
  cursor: row-resize;
  width: 100%;
  position: relative;
}

.resize-handle:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.resize-handle[data-resize-handle-state='drag'] {
  opacity: 0.5;
}
