/*
 * Global settings
 *
 * This file contains settings which are either not specific to our
 * UI component css files, or are shared across Treeherder, Logviewer,
 * UserGuide, and/or Perfherder.
 *
 * Please consider the appropriate css file and attribute location
 * when adding new styles.
 */

html, body {
  height: 100%;
  overflow: hidden;

}

body {
  line-height: inherit;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:visited {
  color: purple;
}

a {
  color: #337ab7;
}

#global-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.th-global-content {
  flex: 1;
  position: relative; /* Required to position inner content */
  overflow-y: auto;
}

.pagination, .panel-title a {
  cursor: pointer;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* Presently Tier menu, Similar Jobs panel */
.checkbox {
  min-height: 20px;
  padding-left: 4px;
  padding-top: 4px;
  justify-content: center;
}

.dropdown-menu > li > a {
  cursor: pointer;
}

.dropdown-menu > li.disabled > a {
  pointer-events: none;
  font-style: italic;
  color: grey;
}

.dropdown-menu > li.disabled {
  cursor: not-allowed;
}

.dropdown-menu-right {
    left: inherit;
    right: 0;
}

/* Spacing for menus with adjacent icons */
.icon-menu li a span {
  width: 20px;
}

/*
 * Icons
 */

.logviewer-icon {
  width: 14px;
  height: 16px;
  vertical-align: text-top;
  opacity: 0.7;
}

.logviewer-icon:hover {
  opacity: 0.9;
}

.raw-log-icon {
  font-size: 14px;
}

.cancel-job-icon {
  font-size: 13px;
}

.icon-blue:hover,
.icon-blue:focus,
.icon-blue:active {
  color: #68aae2 !important;
}

.icon-green:hover,
.icon-green:focus,
.icon-green:active {
  color: #0de00d !important;
}

.icon-cyan:hover,
.icon-cyan:focus,
.icon-cyan:active {
  color: #00ffff !important;
}

.icon-superscript {
  vertical-align: super;
  font-size: 0.625em;
  margin-left: -0.2em;
}

.hover-warning:hover {
  color: #fa4444 !important;
}

.dim-quarter {
  opacity: 0.75;
}

/*
 * Cursors
 */

.th-spinner {
  color: rgba(145, 164, 221, 0.7);
}

.th-spinner-lg {
  color: rgba(145, 164, 221, 0.3);
}

.pointable, .nav-tabs li {
  cursor: pointer;
}

/*
 * Result status colors
 *
 * These colors are used both by Treeherder and Logviewer
 * so receive global status.
 */

.result-status-shading-success {
  background-color: rgba(2, 131, 44, 0.24);
  border-color: rgba(2, 131, 44, 0.24);
}

.result-status-shading-testfailed {
  background-color: rgba(221, 102, 2, 0.25);
  border-color: rgba(221, 102, 2, 0.25);
}

.result-status-shading-busted {
  background-color: rgba(144, 0, 0, 0.25);
  border-color: rgba(144, 0, 0, 0.25);
}

.result-status-shading-skipped {
  background-color: rgba(101, 191, 221, 0.25);
  border-color: rgba(101, 191, 221, 0.25);
}

.result-status-shading-exception {
  background-color: rgba(61, 2, 85, 0.25);
  border-color: rgba(61, 2, 85, 0.25);
}

.result-status-shading-retry {
  background-color: rgba(38, 63, 195, 0.25);
  border-color: rgba(38, 63, 195, 0.25);
}

.result-status-shading-usercancel {
  background-color: rgba(250, 115, 172, 0.25);
  border-color: rgba(250, 115, 172, 0.25);
}

.result-status-shading-pending {
  background-color: rgba(160, 160, 160, 0.2);
  border-color: rgba(160, 160, 160, 0.2);
}

.result-status-shading-running {
  background-color: rgba(70, 70, 70, 0.25);
  border-color: rgba(70, 70, 70, 0.25);
}

.result-status-shading-unknown {
  background-color: rgb(252, 248, 227);
  border-color: rgb(251, 216, 144);
}

.result-status-shading-superseded {
  background-color: white;
}

/*
 * Buttons
 *
 * Currently used in resultsets only but could be
 * potentially used elsewhere.
 */

.th-action-button span.dropdown:hover ul.dropdown-menu {
  display: block;
}

.th-action-button:after {
  content: none;
}

.label[href] {
  color: #fff;
}

.btn-xs {
  padding: 3px 6px 3px 6px;
}

.btn-light-bordered {
  border: 1px solid darkgrey;
}

.btn-primary-soft {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

/*
 * Colors
 */

.white, .white a {
  color: white;
}

.xlightgray, .xlightgray a {
  color: #e6e6e6;
}

.lightgray, .lightgray a {
  color: lightgray;
}

.midgray, .midgray a {
  color: gray;
}

/*
 * Text
 */

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px/10px Consolas,"Liberation Mono",Menlo,Courier,monospace;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
}

.queryparam {
  display: inline-block;
  font: 12px Consolas,"Liberation Mono",Menlo,Courier,monospace;
  color: #555;
}

.deleted {
  text-decoration: line-through;
}

.nowrap {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*
 * Tables and panels
 */

.table-super-condensed thead > tr > th,
.table-super-condensed tbody > tr > th,
.table-super-condensed tfoot > tr > th,
.table-super-condensed thead > tr > td,
.table-super-condensed tbody > tr > td,
.table-super-condensed tfoot > tr > td {
  padding: 2px;
  font-size: .9em;
}

.panel-spacing table {
  width: 100%;
}

.panel-spacing tr th:first-child {
  padding-right: 2em;
}

.panel-spacing tr:nth-child(even) {
  background-color: #f8f8f8;
}

.panel-spacing table tr {
  border-bottom: 1px dotted lightgrey;
}

/*
 * Onscreen help
 */

#onscreen-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000; /* 1 more than .overlay wait spinners */
    background: rgba(0, 0, 0, 0.4);
}

#onscreen-shortcuts {
    position: fixed;
    top: 50%;
    left: 16.5%;
    transform: translateY(-50%);
    width:100%;
}

/*
 * Clipboard
 *
 * This facilitates copy on hover for
 * Logviewer, Raw Log, and Job:name buttons/links
 */

#clipboard-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 100;
  display: none;
  opacity: 0;
}

#clipboard {
  width: 1px;
  height: 1px;
  padding: 0;
}

/*
 * Fonts
 *
 * Styles for modifying basic font styles
 */

.pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
