.help-btn-sm tr > th > button {
    font-size: 13px;
    padding: 0px 2px;
    margin-top: 1px;
    border: 1px solid;
    border-radius: 3px;
    color: #b3b3b3;
    cursor: auto;
    background: #fff;
}

.help-btn-sm tr > th > button:focus {
    outline: 0;
}

.help-btn-desc tr > td {
    vertical-align: bottom;
}

.help-btn {
    margin: 2px;
    border: 2px solid;
}

.help-btn-comment {
    border: none;
    background-color: #fff;
}

.help-btn-orange {
    border-color: #dd6602;
}

.help-btn-purple {
    border-color: #6f0296;
}

.help-btn-red {
    border-color: #a1020e;
}

.help-btn-yellow {
    border-color: #fbd890;
}

.help-btn-bg {
    background-color: #fff;
}

#help-job-name {
    color: #428bca;
}

#help-raw-log-icon {
    font-size: 14px;
    color: #666;
}

#help-logviewer-icon {
    vertical-align: text-bottom;
    width: 15px;
}
