/*
 * Update notification panel
 */

.update-alert-panel {
  border-radius: 0;
  margin-bottom: 0;
}

/*
 *  Active Filters panel
 */
.active-filters-bar {
  padding: 4px 25px 4px 30px;
}

.active-filters-title {
  padding-right: 15px;
}

.filtersbar-filter {
  font-size: 12px;
  padding-right: 12px;
  display: inline-block;
}

.filtersbar-filter button {
  font-size: 12px;
}

.new-filter-input {
  margin-top: 5px;
}

.new-filter-input button,
.new-filter-input input,
.new-filter-input select {
  margin-right: 5px;
  padding-top: 3px;
  border: 1px solid #ced4da;
}
