/*
 * Fuzzy runnable job finder
 */

.fuzzy-modal #preset-group > * {
  margin: 1px;
}

.fuzzy-modal #preset-group label {
  margin-top: 5px;
}

.fuzzy-modal .modal-body #addJobsGroup option.selected::before {
  content: '• ';
  color: red;
}

div.fuzzybuttons {
  margin-bottom: 3px;
}

.fuzzy-modal > div {
  height: 95vh;
}

.fuzzy-modal .modal-body #addJobsGroup {
  height: 28vh;
}

.fuzzy-modal .modal-body #removeJobsGroup {
  height: 28vh;
}

.fuzzy-modal #save-presets {
  float: right !important;
}
