/*
 * Notifications
 *
 * Used both by Treeherder and Logviewer
 * at present, so receive global status.
 */

#notification-box {
  position: fixed;
  top: 105px;
  left: 10px;
  z-index: 1100;
}

#notification-box div.alert {
  padding: 10px 16px 10px 10px;
  margin-bottom: 5px;
}

#notification-box button.close {
  position: relative;
  top: -4px;
  right: -8px;
  color: inherit;
}

/* Notification icon */
#notification-box div span:first-child {
  display: inline-block;
  width: 22px;
}