body {
    padding-top: 60px;
    padding-bottom: 500px;
    min-width: 960px;
    width: auto !important;
    width: 960px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.navbar {
    min-width: 960px;
}

.navbar .dropdown-menu {
    max-height: 600px;
    overflow: auto;
}

.th-content {
    display: inline-block;
    overflow: hidden;
    min-width: 960px;
    width: 100%;
    padding-bottom: 101px;
    white-space: nowrap;
    padding-right: 5px;
}

.th-failures-box {
    position: fixed;
    top: 46px;
    right:0px;
    padding:2px;
}

.th-failures-box li{
    background-color: #222;
    color: #999;
    border-color: #080808;
}
th-failures-box li a{
    color: #428bca;
}

.th-show-jobs-button {
    width: 100px;
}

.th-revision-btn {
    margin-left: 10px;
    width: calc(100% - 170px);
}

.th-action-button {
    margin-left: 5px;
    width: 50px;
}

.th-action-button span.dropdown:hover ul.dropdown-menu{
    display: block;
}

.th-action-button:after {
  content: none;
}

.th-rs-loading {
    width: 50px;
    display: inline-block;
    height: 35px;
    margin-bottom: -14px;
    margin-left: 5px;
}

.revision {
    font-size: 12px;
    padding-top: 2px;
    overflow: auto;
}

.platform {
    font-size: 12px;
    padding-left: 0;
    padding-right: 5px;
}

.result-set {
    padding-bottom: 5px;
    margin-left: 0;
    white-space: normal;
    width: 100%;
}

.result-set-title {
    border-top: 5px solid black;
    border-bottom: 2px solid darkgray;
    padding: 10px 0 10px 0;
}

.result-set .revision-list {
    padding-left: 0;
}

.revision-list {
    overflow: auto;
    white-space: nowrap;
}

.result-set .job-list-pad-left {
    padding-left: 8;
    padding-right: 0;
}

.result-set .job-list-nopad {
    padding-left: 0;
    padding-right: 0;
}

.selected-job {
    border: 5px solid black;
}

.job-group {
    margin: 0 -4px 0 3px;
}

.job-group-r-paren {
    margin: 0 3px 0 3px;
}

.job-btn {
  margin: 0 -3px 0 0;
  padding: 0 2px 0 2px;
}

.th-notes-accordion .accordion-toggle {
    padding: 0;
}
div.navbar-fixed-bottom{
    border-top: 1px solid #ccc;
    padding:5px 10px;
    height:370px;
}

.table-super-condensed thead > tr > th,
.table-super-condensed tbody > tr > th,
.table-super-condensed tfoot > tr > th,
.table-super-condensed thead > tr > td,
.table-super-condensed tbody > tr > td,
.table-super-condensed tfoot > tr > td {
    padding: 2px;
    font-size: .9em;
}
.shadowed-panel {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.8) inset;
    margin:0 -20px 0 0;
}
div.navbar-fixed-bottom .tab-content{
    height:300px;
    overflow-y: scroll;
}

div.navbar-fixed-bottom dt,
div.navbar-fixed-bottom dt {
    font-size:.8em;
}
#bottom_left_panel {width:222px; position: absolute; top: 5px; left:5px;}
#bottom_left_panel .panel{padding:5px;}
#bottom_center_panel {margin:0 110px 0 242px;}
#bottom_menu{position: absolute; top: 5px; right:5px;}

#open_bugs_accordion,
#closed_bugs_accordion{
    margin-top: 5px;
}

.panel-body{ padding:5px;}

/* Custom Job buttons*/
.btn-orange {
  background-color: rgba(221, 102, 2, 0.56);
  border-color: #dd6602;
  color: white;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
  background-color: #c45a02;
  border-color: #aa4f02;
  color: white;
}
.btn-orange.disabled:hover,
.btn-orange.disabled:focus,
.btn-orange.disabled:active,
.btn-orange.disabled.active,
.btn-orange[disabled]:hover,
.btn-orange[disabled]:focus,
.btn-orange[disabled]:active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange:hover,
fieldset[disabled] .btn-orange:focus,
fieldset[disabled] .btn-orange:active,
fieldset[disabled] .btn-orange.active {
  background-color: #dd6602;
  border-color: #dd6602;
}

.btn-red {
  background-color: rgba(144, 0, 0, 0.60);
  border-color: #a1020e;
  color: white;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
  background-color: #a9020c;
  border-color: #90010a;
  color: white;
}
.btn-red.disabled:hover,
.btn-red.disabled:focus,
.btn-red.disabled:active,
.btn-red.disabled.active,
.btn-red[disabled]:hover,
.btn-red[disabled]:focus,
.btn-red[disabled]:active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red:hover,
fieldset[disabled] .btn-red:focus,
fieldset[disabled] .btn-red:active,
fieldset[disabled] .btn-red.active {
  background-color: #c2020e;
  border-color: #c2020e;
}

.btn-dkblue {
  background-color: rgba(44, 71, 174, 0.57);
  border-color: #283aa2;
  color: white;
}
.btn-dkblue:hover,
.btn-dkblue:focus,
.btn-dkblue:active,
.btn-dkblue.active {
  background-color: #263fc3;
  border-color: #2238ae;
  color: white;
}
.btn-dkblue.disabled:hover,
.btn-dkblue.disabled:focus,
.btn-dkblue.disabled:active,
.btn-dkblue.disabled.active,
.btn-dkblue[disabled]:hover,
.btn-dkblue[disabled]:focus,
.btn-dkblue[disabled]:active,
.btn-dkblue[disabled].active,
fieldset[disabled] .btn-dkblue:hover,
fieldset[disabled] .btn-dkblue:focus,
fieldset[disabled] .btn-dkblue:active,
fieldset[disabled] .btn-dkblue.active {
  background-color: #2d48d6;
  border-color: #2d48d6;
}


.btn-green {
  border-color: #028233;
  color: #028233;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
  border-color: #019029;
  color: #019029;
}
.btn-green.disabled:hover,
.btn-green.disabled:focus,
.btn-green.disabled:active,
.btn-green.disabled.active,
.btn-green[disabled]:hover,
.btn-green[disabled]:focus,
.btn-green[disabled]:active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green:hover,
fieldset[disabled] .btn-green:focus,
fieldset[disabled] .btn-green:active,
fieldset[disabled] .btn-green.active {
  border-color: #02c238;
}


.btn-purple {
  background-color: rgba(61, 2, 85, 0.50);
  border-color: #6f0296;
  color: white;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
  background-color: #7d02a9;
  border-color: #6b0190;
  color: white;
}
.btn-purple.disabled:hover,
.btn-purple.disabled:focus,
.btn-purple.disabled:active,
.btn-purple.disabled.active,
.btn-purple[disabled]:hover,
.btn-purple[disabled]:focus,
.btn-purple[disabled]:active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple:hover,
fieldset[disabled] .btn-purple:focus,
fieldset[disabled] .btn-purple:active,
fieldset[disabled] .btn-purple.active {
  background-color: #9002c2;
  border-color: #9002c2;
  color: white;
}

.btn-ltgray {
  border-color: #e0e0e0;
  color: #e0e0e0;
}
.btn-ltgray:hover,
.btn-ltgray:focus,
.btn-ltgray:active,
.btn-ltgray.active {
  border-color: #c7c7c7;
  color: #d3d3d3;
}
.btn-ltgray.disabled:hover,
.btn-ltgray.disabled:focus,
.btn-ltgray.disabled:active,
.btn-ltgray.disabled.active,
.btn-ltgray[disabled]:hover,
.btn-ltgray[disabled]:focus,
.btn-ltgray[disabled]:active,
.btn-ltgray[disabled].active,
fieldset[disabled] .btn-ltgray:hover,
fieldset[disabled] .btn-ltgray:focus,
fieldset[disabled] .btn-ltgray:active,
fieldset[disabled] .btn-ltgray.active {
  color: #e0e0e0;
  border-color: #e0e0e0;
}

.btn-mdgray {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}
.btn-mdgray:hover,
.btn-mdgray:focus,
.btn-mdgray:active,
.btn-mdgray.active {
  background-color: #b2b2b2;
  border-color: #a6a6a6;
}
.btn-mdgray.disabled:hover,
.btn-mdgray.disabled:focus,
.btn-mdgray.disabled:active,
.btn-mdgray.disabled.active,
.btn-mdgray[disabled]:hover,
.btn-mdgray[disabled]:focus,
.btn-mdgray[disabled]:active,
.btn-mdgray[disabled].active,
fieldset[disabled] .btn-mdgray:hover,
fieldset[disabled] .btn-mdgray:focus,
fieldset[disabled] .btn-mdgray:active,
fieldset[disabled] .btn-mdgray.active {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-dkgray {
  background-color: #7c7a7d;
  border-color: #7c7a7d;
  color: white;
}
.btn-dkgray:hover,
.btn-dkgray:focus,
.btn-dkgray:active,
.btn-dkgray.active {
  background-color: #6f6d70;
  border-color: #626163;
  color: white;
}
.btn-dkgray.disabled:hover,
.btn-dkgray.disabled:focus,
.btn-dkgray.disabled:active,
.btn-dkgray.disabled.active,
.btn-dkgray[disabled]:hover,
.btn-dkgray[disabled]:focus,
.btn-dkgray[disabled]:active,
.btn-dkgray[disabled].active,
fieldset[disabled] .btn-dkgray:hover,
fieldset[disabled] .btn-dkgray:focus,
fieldset[disabled] .btn-dkgray:active,
fieldset[disabled] .btn-dkgray.active {
  background-color: #7c7a7d;
  border-color: #7c7a7d;
  color: white;
}

.btn-black {
  background-color: rgba(0, 0, 0, 0.71);
  border-color: #000000;
  color: white;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active {
  background-color: #000000;
  border-color: #000000;
  color: white;
}
.btn-black.disabled:hover,
.btn-black.disabled:focus,
.btn-black.disabled:active,
.btn-black.disabled.active,
.btn-black[disabled]:hover,
.btn-black[disabled]:focus,
.btn-black[disabled]:active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black:hover,
fieldset[disabled] .btn-black:focus,
fieldset[disabled] .btn-black:active,
fieldset[disabled] .btn-black.active {
  background-color: #000000;
  border-color: #000000;
}

.btn-pink {
  background-color: rgba(250, 115, 172, 0.63);
  border-color: #fa73ac;
  color: white;
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active {
  background-color: #f95a9d;
  border-color: #f8428f;
  color: white;
}
.btn-pink.disabled:hover,
.btn-pink.disabled:focus,
.btn-pink.disabled:active,
.btn-pink.disabled.active,
.btn-pink[disabled]:hover,
.btn-pink[disabled]:focus,
.btn-pink[disabled]:active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink:hover,
fieldset[disabled] .btn-pink:focus,
fieldset[disabled] .btn-pink:active,
fieldset[disabled] .btn-pink.active {
  background-color: #fa73ac;
  border-color: #fa73ac;
}


/*Log Viewer*/

.lv-line-no {
    width: 3em;
}

.lv-error-line {
    background-color: white;
    color: #333333;
    width: 100%;
}

.lv-log-container {
    overflow-y: scroll;
    overflow-x: auto;
    height: 1000px;
}

.lv-log-line {
    width: 100%;
    float: left;
    white-space: pre-line;
}

.lv-line-highlight {
    background-color: LightGrey;
}

#help.dt, #help.dd { text-align: center;}
#help.panel {padding:5px;}
#help{padding-top:10px;}
