body {
    padding-top: 61px;
    padding-bottom: 500px;
    min-width: 800px;
    width: auto !important;
    width: 1300px;
}

.pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.hidden {
    display: none;
    visibility: hidden;
}

.th-navbar {
    min-width: 800px;
}

.navbar {
    min-width: 800px;
    min-height: 36px;
}

.navbar-brand {
    line-height: 2px;
}
.navbar .dropdown-menu {
    max-height: 600px;
    overflow: auto;
}

.navbar-fixed-top {
    background-color: #273038;
}

.th-global-navbar {
    border-bottom: 1px solid black;
    min-width: 800px;
}

.th-username {
    margin-right: 5px;
}

.th-help-link {
    padding-top: 8px;
}

.th-context-navbar {
    background-color: #354048;
    min-width: 800px;
    overflow: auto;
}

#platform-job-text-search-field {
    height:28px;
}

.th-content {
    display: inline-block;
    overflow: hidden;
    min-width: 800px;
    width: 100%;
    padding-bottom: 101px;
    white-space: nowrap;
    padding-right: 5px;
}

.nav-panel-help-text {
    color: #2b393f;
    margin-bottom: 10px;
}

/* Options drop-downs*/

.th-top-nav-options-panel {
    background-color: lightgray;
    padding: 10px;
    border: 1px solid black;
    max-height: 500px;
    overflow-y: auto;
}

.th-top-nav-options-panel .th-option-heading {
    padding: 3px 10px;
    background-color: darkgray;
    color: white;
}

.th-inline-option-group {
    display: inline-block;
}

.th-stacked-option-group {
    display: block;
}

.th-option-group {
    margin-right: 5px;
    border: 1px solid darkgrey;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.th-option-heading .th-panel-heading{
    padding: 5px 10px;
    background-color: darkgray;
}

#jobFilterValue {
    width: 150px;
}

#jobFilterField {
    width: 200px;
}

.field-filter-form {
    border-top: 2px solid lightgray;
    margin-top: 5px;
    padding: 3px;
    background-color: lightgray;
}

.field-filter {
    margin: 3px;
}

.field-filter a, .th-option-heading a {
    color: white;
    cursor: pointer;
}

.field-filter-placeholder a {
    cursor: pointer;
}

/**
  repository panel
*/

.th-repo-group {
    margin-bottom: 5px;
}

.th-repo-group-items {
    display: inline-block;
    margin: 5px 5px 0 5px;
    min-width: 225px;
}

/**
  Failures
*/

.th-failures-box {
    position: fixed;
    top: 46px;
    right:0px;
    padding:2px;
}

.th-failures-box li{
    background-color: #222;
    color: #999;
    border-color: #080808;
}
.th-failures-box li a{
    color: #428bca;
}

.view-nav {
    background-color: #353f47;
}

.view-nav a {
    color: lightgray;

}

/*
    Resultsets
*/

.th-revision-btn {
    margin-left: 10px;
    width: calc(100% - 170px);
}

.th-action-button span.dropdown:hover ul.dropdown-menu{
    display: block;
}

.th-action-button:after {
  content: none;
}

.th-rs-loading {
    width: 50px;
    display: inline-block;
    height: 35px;
    margin-bottom: -14px;
    margin-left: 5px;
}

.revision {
    font-size: 12px;
    padding-top: 2px;
    overflow: auto;
}

.platform {
    font-size: 12px;
    padding-left: 0;
    padding-right: 5px;
}

.result-set {
    padding-bottom: 5px;
    margin-left: 0;
    white-space: normal;
    width: 100%;
    border-top: 1px solid lightgrey;
}

.result-set-title {
    border-top: 1px solid black;
    padding: 5px 0 5px 0;
    white-space: nowrap;
}

.result-set-title-left {
    width: 600px;
    padding-right: 10px;
    white-space: nowrap;
}

.result-set .revision-list {
    padding-left: 0;
}

.revision-link {
    padding-top: 5px;
    width: 115px;
    display: block;
}

.revision-button {
    width: 60px;
}

.revision-list {
    overflow: auto;
    white-space: nowrap;
}

.result-set .job-list-pad-left {
    padding-left: 8;
    padding-right: 0;
}

.result-set .job-list-nopad {
    padding-left: 0;
    padding-right: 0;
}

.selected-job {
    border: 5px solid black;
}

.job-group {
    margin: 0 -4px 0 3px;
}

.job-group-r-paren {
    margin: 0 3px 0 1px;
}

.job-btn {
  margin: 0 -3px 0 0;
  padding: 0 2px 0 2px;
}

div.navbar-fixed-bottom{
    border-top: 1px solid #ccc;
    padding:5px 10px;
    height:270px;
}

.table-super-condensed thead > tr > th,
.table-super-condensed tbody > tr > th,
.table-super-condensed tfoot > tr > th,
.table-super-condensed thead > tr > td,
.table-super-condensed tbody > tr > td,
.table-super-condensed tfoot > tr > td {
    padding: 2px;
    font-size: .9em;
}

/*
 * bottom panel
 */
.shadowed-panel {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.8) inset;
    margin:0;
}
.bottom-panel {
    background-color: #354048;
}

.bottom-panel-title {
    color: lightgray;
}

div.navbar-fixed-bottom .tab-content{
    height:202px;
    overflow-y: auto;
}

.bottom-panel-tabs .nav li a {
    padding: 1px 10px 2px 10px;
}

div.navbar-fixed-bottom dt,
div.navbar-fixed-bottom dt {
    font-size:.8em;
}
#bottom-left-panel {width:242px; position: absolute; left:5px;}
#bottom-left-panel .panel{padding:5px;}
#bottom-center-panel {
    margin-right: 90px;
    margin-left: 242px;
}
#bottom-menu {position: absolute; right:-5px; width: 100px}

.result-status-shading-success {background-color: rgba(2, 131, 44, 0.24);}
.result-status-shading-testfailed {background-color: rgba(221, 102, 2, 0.25);}
.result-status-shading-busted {background-color: rgba(144, 0, 0, 0.25);}
.result-status-shading-exception {background-color: rgba(61, 2, 85, 0.25);}
.result-status-shading-retry {background-color: rgba(38, 63, 195, 0.25);}
.result-status-shading-usercancel {background-color: rgba(250, 115, 172, 0.25)}
.result-status-shading-pending {background-color: white;}
.result-status-shading-running {background-color: white;}

.bottom-shadowed-panel {
    height: 240px;
}

.bottom-menu-group {
    width: 90px;
    margin-bottom: 5px;
}

.save-btn {
    width: 73px;
}

.save-btn-dropdown {
    width: 18px;
}

.btn-group + .btn + .save-btn-dropdown {
    margin-left: -5px;
}
/*
 * pinboard
 */

.with-pinboard-abs {
    top: 80px;
}
.with-pinboard-margin {
    margin-top: 3px;
}
.without-pinboard-abs {
    top: 25px;
}

#pinboard-panel {
    margin-right: 527px;
    margin-left: -5px;
}

.pinboard-shadowed-panel {
    height: 52px;
    padding: 2px;
    overflow: auto;
}

#pinboard-related-bugs-panel {
    top: 5px;
    height: 95px;
    position: absolute;
    right: 290px;
    width: 242px;
}

.pinboard-related-bug {
    margin: 2px 1px;
}

#pinboard-classification-panel {
    position: absolute;
    top: 5px;
    right:100px;
    width: 185px;
}

.pinboard-classification-comment {
    width: 185px;
    margin-top: 5px;
}

.pinboard-classification-select {
    width: 185px;
}

.pinned-job {
    padding: 1px 7px;
}

.pinned-job-close-btn {
    padding: 1px 2px 1px 2px;
}

.btn-icon-top-margin {
    margin-top: 0.3em;
}

.panel-body{ padding:5px;}

.timestamp-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.annotations-panel {
    overflow: scroll;
    margin-right: 0;
}

.classifications-panel {
    border-right: solid 1px lightgray;
}

.bug-list-panel {
    right: 0;
}

.bug-list {
    list-style: none inside none;
    padding-left: 0;
}

/**
 * RESULT STATUS COUNTS
 */

.result-status-count-group {
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    width: 500px;
}
.result-status-count {
    padding: 5px 5px;
    display: inline-block;
    cursor: pointer;
}
.result-status-total-count {
    width: 60px;
}
.result-status-count-min-width {
    width: 28px;
}
.result-status-count-success {
    width: 75px;
}
.result-status-count-retry {
    width: 52px;
}
.result-status-count-busted {
    width: 70px;
}
.result-status-count-testfailed {
    width: 61px;
}
.result-status-count-unknown {
    width: 85px;
}
.result-status-count-usercancel {
    width: 75px;
}
.result-status-count-exception {
    width: 85px;
}
.result-status-count-running {
    width: 69px;
}
.result-status-count-pending {
    width: 69px;
}

.click-able-icon, .nav-tabs li {
    cursor: pointer;
}

/**
 * CUSTOM BUTTONS
 */

.btn-view-nav {
  background-color: rgba(63, 74, 81, 0.56);
  border-color: #22282d;
  color: lightgray;
  border-radius: 0;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
}
.btn-view-nav:hover,
.btn-view-nav:focus,
.btn-view-nav:active,
.btn-view-nav.active {
  background-color: #25292b;
  border-color: #1a1d20;
  color: white;
}
.btn-view-nav.disabled:hover,
.btn-view-nav.disabled:focus,
.btn-view-nav.disabled:active,
.btn-view-nav.disabled.active,
.btn-view-nav[disabled]:hover,
.btn-view-nav[disabled]:focus,
.btn-view-nav[disabled]:active,
.btn-view-nav[disabled].active,
fieldset[disabled] .btn-view-nav:hover,
fieldset[disabled] .btn-view-nav:focus,
fieldset[disabled] .btn-view-nav:active,
fieldset[disabled] .btn-view-nav.active {
  color: #e0e0e0;
  border-color: #e0e0e0;
}

.btn-orange {
  background-color: rgba(221, 102, 2, 0.56);
  border-color: #dd6602;
  color: white;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
  background-color: #c45a02;
  border-color: #aa4f02;
  color: white;
}
.btn-orange.disabled:hover,
.btn-orange.disabled:focus,
.btn-orange.disabled:active,
.btn-orange.disabled.active,
.btn-orange[disabled]:hover,
.btn-orange[disabled]:focus,
.btn-orange[disabled]:active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange:hover,
fieldset[disabled] .btn-orange:focus,
fieldset[disabled] .btn-orange:active,
fieldset[disabled] .btn-orange.active {
  background-color: #dd6602;
  border-color: #dd6602;
}

.btn-orange-count-classified {
  background-color: white;
  border-color: #bfbfbf;
  color: rgba(221, 102, 2, 0.56);
}

.btn-orange-count-unclassified {
  background-color: rgba(221, 102, 2, 0.20);
  border-color: #bfbfbf;
  color: rgba(221, 102, 2, 0.89);
}

.btn-red {
  background-color: rgba(144, 0, 0, 0.60);
  border-color: #a1020e;
  color: white;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
  background-color: #a9020c;
  border-color: #90010a;
  color: white;
}
.btn-red.disabled:hover,
.btn-red.disabled:focus,
.btn-red.disabled:active,
.btn-red.disabled.active,
.btn-red[disabled]:hover,
.btn-red[disabled]:focus,
.btn-red[disabled]:active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red:hover,
fieldset[disabled] .btn-red:focus,
fieldset[disabled] .btn-red:active,
fieldset[disabled] .btn-red.active {
  background-color: #c2020e;
  border-color: #c2020e;
}

.btn-red-count-classified {
  background-color: white;
  border-color: #bfbfbf;
  color: rgba(144, 0, 0, 0.60);
}

.btn-red-count-unclassified {
  background-color: rgba(144, 0, 0, 0.11);
  border-color: #bfbfbf;
  color: rgba(144, 0, 0, 0.73);
}

.btn-dkblue {
  border-color: #283aa2;
  color: #283aa2;
}
.btn-dkblue:hover,
.btn-dkblue:focus,
.btn-dkblue:active,
.btn-dkblue.active {
  background-color: #263fc3;
  border-color: #2238ae;
  color: white;
}
.btn-dkblue.disabled:hover,
.btn-dkblue.disabled:focus,
.btn-dkblue.disabled:active,
.btn-dkblue.disabled.active,
.btn-dkblue[disabled]:hover,
.btn-dkblue[disabled]:focus,
.btn-dkblue[disabled]:active,
.btn-dkblue[disabled].active,
fieldset[disabled] .btn-dkblue:hover,
fieldset[disabled] .btn-dkblue:focus,
fieldset[disabled] .btn-dkblue:active,
fieldset[disabled] .btn-dkblue.active {
  background-color: #2d48d6;
  border-color: #2d48d6;
}

.btn-dkblue-count-classified, .btn-dkblue-count-unclassified  {
  border-color: #bfbfbf;
  color: #283aa2;
}

.btn-green {
  border-color: rgba(2, 131, 44, 0.24);
  color: #028233;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
  border-color: #019029;
  color: #019029;
}
.btn-green.disabled:hover,
.btn-green.disabled:focus,
.btn-green.disabled:active,
.btn-green.disabled.active,
.btn-green[disabled]:hover,
.btn-green[disabled]:focus,
.btn-green[disabled]:active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green:hover,
fieldset[disabled] .btn-green:focus,
fieldset[disabled] .btn-green:active,
fieldset[disabled] .btn-green.active {
  border-color: #02c238;
}

.btn-green-count-classified, .btn-green-count-unclassified {
  color: #028233;
}

.btn-purple {
  background-color: rgba(61, 2, 85, 0.50);
  border-color: #6f0296;
  color: white;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
  background-color: #7d02a9;
  border-color: #6b0190;
  color: white;
}
.btn-purple.disabled:hover,
.btn-purple.disabled:focus,
.btn-purple.disabled:active,
.btn-purple.disabled.active,
.btn-purple[disabled]:hover,
.btn-purple[disabled]:focus,
.btn-purple[disabled]:active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple:hover,
fieldset[disabled] .btn-purple:focus,
fieldset[disabled] .btn-purple:active,
fieldset[disabled] .btn-purple.active {
  background-color: #9002c2;
  border-color: #9002c2;
  color: white;
}

.btn-purple-count-classified {
  background-color: white;
  border-color: #bfbfbf;
  color: rgba(61, 2, 85, 0.50);
}

.btn-purple-count-unclassified {
  background-color: rgba(61, 2, 85, 0.18);
  border-color: #bfbfbf;
  color: rgba(61, 2, 85, 0.68);
}

.btn-ltgray-count-unclassified, .btn-ltgray-count-classified {
  border-color: #bfbfbf;
  color: #e0e0e0;
}
.btn-ltgray {
  border-color: #e0e0e0;
  color: #e0e0e0;
}
.btn-ltgray:hover,
.btn-ltgray:focus,
.btn-ltgray:active,
.btn-ltgray.active {
  border-color: #808080;
  color: #808080;
}
.btn-ltgray.disabled:hover,
.btn-ltgray.disabled:focus,
.btn-ltgray.disabled:active,
.btn-ltgray.disabled.active,
.btn-ltgray[disabled]:hover,
.btn-ltgray[disabled]:focus,
.btn-ltgray[disabled]:active,
.btn-ltgray[disabled].active,
fieldset[disabled] .btn-ltgray:hover,
fieldset[disabled] .btn-ltgray:focus,
fieldset[disabled] .btn-ltgray:active,
fieldset[disabled] .btn-ltgray.active {
  color: #e0e0e0;
  border-color: #e0e0e0;
}

.btn-mdgray {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}
.btn-mdgray:hover,
.btn-mdgray:focus,
.btn-mdgray:active,
.btn-mdgray.active {
  background-color: #b2b2b2;
  border-color: #a6a6a6;
}
.btn-mdgray.disabled:hover,
.btn-mdgray.disabled:focus,
.btn-mdgray.disabled:active,
.btn-mdgray.disabled.active,
.btn-mdgray[disabled]:hover,
.btn-mdgray[disabled]:focus,
.btn-mdgray[disabled]:active,
.btn-mdgray[disabled].active,
fieldset[disabled] .btn-mdgray:hover,
fieldset[disabled] .btn-mdgray:focus,
fieldset[disabled] .btn-mdgray:active,
fieldset[disabled] .btn-mdgray.active {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-dkgray-count-unclassified, .btn-dkgray-count-classified {
  border-color: #bfbfbf;
  color: #6f6d70;
}

.btn-default-count-unclassified, .btn-default-count-classified {
  border-color: #bfbfbf;
  color: #6f6d70;
}

.btn-dkgray {
  border-color: rgba(124, 122, 125, 0.37);
  color: #7c7a7d;
}
.btn-dkgray:hover,
.btn-dkgray:focus,
.btn-dkgray:active,
.btn-dkgray.active {
  background-color: #6f6d70;
  border-color: #626163;
  color: white;
}
.btn-dkgray.disabled:hover,
.btn-dkgray.disabled:focus,
.btn-dkgray.disabled:active,
.btn-dkgray.disabled.active,
.btn-dkgray[disabled]:hover,
.btn-dkgray[disabled]:focus,
.btn-dkgray[disabled]:active,
.btn-dkgray[disabled].active,
fieldset[disabled] .btn-dkgray:hover,
fieldset[disabled] .btn-dkgray:focus,
fieldset[disabled] .btn-dkgray:active,
fieldset[disabled] .btn-dkgray.active {
  background-color: #7c7a7d;
  border-color: #7c7a7d;
  color: white;
}

.btn-black {
  background-color: rgba(0, 0, 0, 0.71);
  border-color: #000000;
  color: white;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active {
  background-color: #000000;
  border-color: #000000;
  color: white;
}
.btn-black.disabled:hover,
.btn-black.disabled:focus,
.btn-black.disabled:active,
.btn-black.disabled.active,
.btn-black[disabled]:hover,
.btn-black[disabled]:focus,
.btn-black[disabled]:active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black:hover,
fieldset[disabled] .btn-black:focus,
fieldset[disabled] .btn-black:active,
fieldset[disabled] .btn-black.active {
  background-color: #000000;
  border-color: #000000;
}

.btn-black-count-classified {
  background-color: white;
  border-color: #bfbfbf;
  color: rgba(0, 0, 0, 0.71);
}

.btn-black-count-unclassified {
  background-color: rgba(0, 0, 0, 0.04);
  border-color: #bfbfbf;
  color: rgba(0, 0, 0, 0.71);
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active {
  background-color: #000000;
  border-color: #000000;
  color: white;
}
.btn-black.disabled:hover,
.btn-black.disabled:focus,
.btn-black.disabled:active,
.btn-black.disabled.active,
.btn-black[disabled]:hover,
.btn-black[disabled]:focus,
.btn-black[disabled]:active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black:hover,
fieldset[disabled] .btn-black:focus,
fieldset[disabled] .btn-black:active,
fieldset[disabled] .btn-black.active {
  background-color: #000000;
  border-color: #000000;
}

.btn-pink {
  background-color: rgba(250, 115, 172, 0.63);
  border-color: #fa73ac;
  color: white;
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active {
  background-color: #f95a9d;
  border-color: #f8428f;
  color: white;
}
.btn-pink.disabled:hover,
.btn-pink.disabled:focus,
.btn-pink.disabled:active,
.btn-pink.disabled.active,
.btn-pink[disabled]:hover,
.btn-pink[disabled]:focus,
.btn-pink[disabled]:active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink:hover,
fieldset[disabled] .btn-pink:focus,
fieldset[disabled] .btn-pink:active,
fieldset[disabled] .btn-pink.active {
  background-color: #fa73ac;
  border-color: #fa73ac;
}

.btn-pink-count-classified {
  background-color: white;
  border-color: #bfbfbf;
  color: rgba(250, 115, 172, 0.63);
}

.btn-pink-count-unclassified {
  background-color: rgba(250, 115, 172, 0.16);
  border-color: #fa73ac;
  color: rgba(250, 115, 172, 0.82);
}

.btn-repo {
  border-color: #c3c3c3;
  color: #7c7a7d;
  background-color: #eaeaea;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-repo:hover,
.btn-repo:focus,
.btn-repo:active,
.btn-repo.active {
  background-color: #6f6d70;
  border-color: #626163;
  color: white;
}
.btn-repo.disabled:hover,
.btn-repo.disabled:focus,
.btn-repo.disabled:active,
.btn-repo.disabled.active,
.btn-repo[disabled]:hover,
.btn-repo[disabled]:focus,
.btn-repo[disabled]:active,
.btn-repo[disabled].active,
fieldset[disabled] .btn-repo:hover,
fieldset[disabled] .btn-repo:focus,
fieldset[disabled] .btn-repo:active,
fieldset[disabled] .btn-repo.active {
  background-color: #7c7a7d;
  border-color: #7c7a7d;
  color: white;
}


/*Log Viewer*/

.lv-line-no {
    width: 3em;
}

.lv-error-line {
    background-color: white;
    color: #333333;
    width: 100%;
}

.lv-log-container {
    overflow-y: scroll;
    overflow-x: auto;
    height: 1000px;
}

.lv-log-line {
    width: 100%;
    float: left;
    white-space: pre-line;
}

.lv-line-highlight {
    background-color: LightGrey;
}

.white, .white a {
    color: white;
}

.lightgray, .lightgray a {
    color: lightgray;
}

#help.dt, #help.dd { text-align: center;}
#help.panel {padding:5px;}
#help{padding-top:10px;}

.waiter-small{ background: url("../img/waiter16.png") no-repeat center center; width: 16px; height: 16px; display: inline-block;}
.waiter-medium{ background: url("../img/waiter32.png") no-repeat center center; width: 32px; height: 32px; display: inline-block;}
.waiter-large{ background: url("../img/waiter64.png") no-repeat center center; width: 64px; height: 64px; display: inline-block;}

.deleted{ text-decoration: line-through;}

.plugin_controls{ margin: 5px;}
.btn-similar-jobs{ margin: 5px;}

#notification_box{
    position:fixed;
    top:70px;
    right:10px;
    z-index: 1100;
}

#notification_box div.alert{
    margin-bottom:5px;
}

#notification_box button.close{position:relative; top:-2px; right:-8px; color:inherit}
