div#info-panel {
  background-color: #AAAAAA;
  font-size: 12px;
  height: 35%;
  max-height: 75%;
  flex: none;
  -webkit-flex: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}

div#info-panel .navbar {
  border-radius: 0px;
  border-style: solid;
  border-color: #42484F;
  border-width: 1px 0;
  height: 33px;
  margin: 0;
  font-size: 12px;
  min-height: 33px;
  min-width: initial;
  z-index: 100;
}

div#info-panel-resizer {
  display: flex;
  flex: none;
  -webkit-flex: none;
  background-color: #919dad;
  cursor: ns-resize;
  height: 2px;
}

div#info-panel .navbar-nav > ul {
  height: 32px;
}

div#info-panel .navbar-nav > li > a {
  padding: 6px 15px;
  line-height: 19px;
}

div#info-panel .navbar-nav > li > a.disabled {
  cursor: not-allowed;
  text-decoration: none;
}

div#info-panel .navbar-nav > li.active a,
div#info-panel .navbar-nav > li.active a:hover,
div#info-panel .navbar-nav > li.active a:focus {
  outline: 0;
}

div#info-panel .navbar > ul.tab-headers > li {
  border-right: 1px solid #42484F;
}

.navbar.navbar-dark {
  background-color: #252C33;
  color: #CED3D9;
}

.navbar.navbar-dark .navbar-nav > li > a {
  color: #9FA3A5;
}

.navbar.navbar-dark .navbar-nav > li > a:hover,
.navbar.navbar-dark .navbar-nav > li > a:focus {
  background-color: #1E252B;
  color: #D3D8DA;
}

div#info-panel .navbar.navbar-dark .navbar-nav > li.active a,
div#info-panel .navbar.navbar-dark .navbar-nav > li.active a:hover,
div#info-panel .navbar.navbar-dark .navbar-nav > li.active a:focus {
  background-color: #1A4666;
  color: #EEF0F2;
}

#info-panel-content {
  position: relative; /* So we can absolutely position the loading overlay */
  height: 60%;
  flex: auto;
  -webkit-flex: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
}

#job-details-panel, #job-tabs-panel {
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.25);
  z-index: 9999;
  font-size: 30px;
}

.overlay > div {
  position: relative;
  height: 100%;
  width: 100%;
}

.overlay > div > span {
  position: absolute;
  top: 40%;
  left: 45%;
}

#job-details-actionbar, #job-tabs-navbar {
  min-height: 33px;
}

/*
 * Job details action bar
 */

.actionbar-nav > li:not(:first-child) {
  /* Preserve left side padding on our first icon but keep others compact */
  padding: 0 !important;
}

.actionbar-menu {
  /* We have to override non-responsive bootstrap for correct styling */
  margin-top: 1px !important;
  margin-left: 6px;
  border-radius: 4px !important;
}

.pinned-job-count {
  margin-left: 5px;
}

/*
 * Job details panel (left side)
 */

#job-details-panel {
  width: 250px;
  min-width: 250px;
}

#job-details-panel .content-spacer {
  padding-top: 2px;
  padding-bottom: 4px;
}

#job-details-panel ul li {
  padding: 0px 0px 0px 5px;
  line-height: 15px;
  word-wrap: break-word;
}

#job-details-panel ul li label {
  padding: 0;
  margin: 2px 0px;
}

#job-details-panel .star {
  color: #f0ad4e;
}

#job-details-panel em.testfail {
  color: red;
}

#job-details-pane > ul {
  margin: 0px;
  padding: 0px;
  line-height: 12px;
}

#job-details-pane {
  overflow: auto;
}

#result-status-pane div {
  display: inline-block;
}

#result-status-pane div:first-child {
  width: 11.25em;
}

/*
 * Job tabs panel (right side)
 */

.job-tabs-divider {
  border-left: 1px solid lightgrey;
}

.job-tabs-content {
  padding: 2px 4px 0px;
}

#job-tabs-panel {
  -webkit-flex: 1 6;
  flex: 1 6;
  padding: 0px;
  min-width: 565px;
}

.talos-job-selected {
  /* Override to optimize all other jobs above at 565px */
  min-width: 625px !important;
}

#job-tabs-pane {
  max-height: calc(100% - 33px);
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  overflow: auto;
}

#job-tabs-pane > * {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
}

#job-tabs-pane > * > * {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
}

#job-tabs-pane > * > * > * {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
}

/*
 * Failure summary
 */

#job-tabs-panel ul.failure-summary-list {
  width: 100%;
  margin-bottom: 0;
}

ul.failure-summary-list li {
  font-size: 11px;
  background: #ccfaff;
}

ul.failure-summary-list li .btn-xs {
  font-size: 8px;
}

.failure-summary-line-empty {
  padding: 2px 4px 0px;
  font-size: 12px;
  background: #ffffff;
}

.failure-summary-bugs {
  padding: 0px 0px 0px 18px;
}

/* We override global anchor color to replicate TBPL here */
.failure-summary-bugs a {
  color: #0000ee;
}

.failure-summary-bugs a:visited {
  color: purple;
}

.failure-summary-bugs button {
  padding: 2px 3px 1px 3px;
}

/* We override global anchor color to replicate TBPL here */
.show-hide-more {
  padding: 0px 0px 0px 37px;
  color: #0000ee;
}

/*
 * Annotations
 */

.annotations-panel {
  overflow: auto;
  margin-right: 0;
}

.classifications-pane {
  border-right: solid 1px lightgray;
}

/* Annotation tab classification headers */
.classifications-pane table tr th {
  padding-right: 16px;
  padding-bottom: 4px;
}

/* Annotation tab classification fields */
.classifications-pane table tr td {
  padding-right: 16px;
}

/* Annotations tab classification deletion container */
.classifications-pane table tr td:last-child {
  padding-left: 10px;
}

.classification-delete-icon {
  font-size: 11px;
  color: #bababa;
}

/* Override bootstrap row highlighting */
.classifications-pane table tr:hover td {
  background: #fff;
}

.annotations-bug-list {
  list-style: none inside none;
  padding-left: 0;
}

.annotations-bug-header {
  margin-top: 4px;
  margin-bottom: 2px;
  font-size: 0.9em;
}

.annotations-bug {
  padding-top: 2px;
  padding-bottom: 0;
  padding-left: 0;
  border: none;
  font-size: 0.9em;
}

/*
 * Similar jobs
 */

.btn-similar-jobs {
  background: #fff;
  cursor: default;
}

.similar_jobs {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
}

div.similar_jobs .right_panel {
  border-left: 1px solid #101010;
  margin-right: 1px;
  overflow-y: auto;
  flex: 1 1;
  -webkit-flex: 1 1;
}

div.similar_jobs .right_panel form {
  overflow: hidden;
  background-color: #D3D3D3;
}

div.similar_jobs .right_panel form .checkbox input[type="checkbox"] {
  margin-left: 0px;
  position: relative;
}

div.similar_jobs .right_panel .similar_job_detail {
  border-top: 1px solid #101010;
}

div.similar_jobs .right_panel .similar_job_detail table {
  width: 100%;
  overflow: hidden;
}

div.similar_jobs .left_panel {
  overflow: auto;
  flex: 1 1;
  -webkit-flex: 1 1;
}

div.similar_jobs .left_panel table {
  margin-bottom: 7px;
}

/* We override bootstrap table style for cleaner layout */
div.similar_jobs .left_panel table tr > td {
  vertical-align: middle;
  border-top: 1px solid lightgrey;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}

/* Selected Similar Job row in blue */
div.similar_jobs .left_panel table tr.active > td {
  background: #e2ebfa;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}

/* Avoid using the hand pointer unless we are on a link */
div.similar_jobs .left_panel table tr {
  cursor: default;
}

/*
 * Talos
 */

div.talos-panel {
  display: block !important;
}

/*
 * Error Classification
 */

.failure-line {
  padding: 2px 4px 0;
}

.classified-line {
  background: #ccfaff;
}

.failure-line-message {
  display: flex;
}

.failure-line-message-toggle {
  cursor: pointer;
  width: 10px;
  flex-basis: auto;
  padding: 2px 4px;
}

.failure-line-message-collapsed {
  max-height: 14px;
  height: 14px;
  overflow: hidden;
  padding-left: 5px;
  color: darkgray;
}

.failure-line-message-expanded {
  margin-left: 5px;
  margin-bottom: 10px;
  color: #747474;
  overflow-x: auto;
  white-space: pre-wrap;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
