/*
 * Intermittent Bug Filer
 */
#modalForm {
    padding: 20px;
}

#modalForm #modalReftestLogLabel {
    /*display:none;*/
}

#modalSummarylabel {
  margin-top: -5px;
}

#modalSummary {
    width:80%;
}

#modalComment {
    width:80%;
    height:150px;
}

#modalForm > div:not(#modalLogLinkCheckboxes) > label, #productFinderButton {
    float:left;
    padding: 5px;
}

#modalLogLinkCheckboxes {
    padding-left:15px;
    padding-bottom:5px;
    color: #337AB7;
}

#modalLogLinkCheckboxes a {
    color:inherit;
}

#modalLogLinkCheckboxes label.hidden {
    display:none;
}

#modalForm > div:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#modalExtrasDiv {
  padding:5px;
  width:90%;
}

#modalExtrasLeftDiv {
    float:left;
}

#modalExtrasRightDiv {
    float:right;
}

#modalBottomDiv {
    padding:5px;
    width:650px;
}

#modalBottomDiv button {
    /* float:right; */
}

#failureSummaryGroup.collapsed #modalFailureList {
  display:none;
}

#modalFailureList {
  padding: 5px;
  max-height: 200px;
  overflow: auto;
  clear:both;
}
