/*
 * Resultset bar
 */

.result-set-bar {
  border-top: 1px solid black;
  padding: 2px 0 0 34px;
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.result-set-left {
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  align-items: center;
}

.result-set-title-left {
  flex: 0 0 24.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.result-set-body-divider {
  margin-left: 34px;
  border-bottom: 1px solid lightgrey;
}

.result-set-body {
  padding-left: 15px;
  padding-right: 25px;
}

.result-set {
  padding-bottom: 0;
  margin-left: 0;
  margin-top: 2px;
  white-space: normal;
  width: 100%;
}

.result-counts {
  flex: none;
  padding-right: 10px;
}

.result-set-progress {
  color: #6f6d70;
  font-style: italic;
  margin-left: 10px;
}

.result-set-buttons {
  margin-right: 25px;
}

.btn-resultset {
  color: #666;
  background-color: transparent;
  padding-left: 9px;
  padding-right: 10px;
}

.btn-resultset.btn:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-resultset:hover {
  background-color: #6f6d70;
  color: white;
}

.btn-resultset.disabled:hover,
.btn-resultset.disabled:active,
.btn-resultset.disabled.active,
.btn-resultset:disabled:hover,
.btn-resultset:disabled:active,
.btn-resultset:disabled.active,
fieldset[disabled] .btn-resultset:hover {
  background-color: #7c7a7d;
  border-color: #7c7a7d;
  color: white;
}

th-action-button .btn-resultset {
  padding-left: 6px;
  font-size: 14px;
}

/* Encompasses unknown push,resultset,repo */
.unknown-message-body {
  padding-top: 10px;
}

.result-set .job-list-pad {
  padding-right: 0;
}

.result-set .job-list-nopad {
  padding-left: 20px;
  padding-right: 0;
  display: block;
}

.result-set .revision-list {
  padding-left: 0;
}

.result-set .cancel-all-jobs-confirm {
  padding: 8px 34px 0 34px;
}

/*
 * Revision list
 */

.revision-list {
  overflow: hidden;
  white-space: nowrap;
}

.revision-list .fa-external-link-square {
  padding-left: 4px;
}

.revision {
  font-size: 12px;
  padding-top: 2px;
  overflow: auto;
}

.revision[data-tags~="backout"] .revision-comment{
  color: red;
}

.revision-holder > a {
  padding-top: 2px;
  font: 11px "Lucida Console",Monaco,monospace;
}

.revision-holder {
  padding-left: 20px;
  padding-right: 6px;
  display: inline-block;
}

.user-push-icon {
  color: gray;
}

.user-push-initials {
  display: inline-block;
  min-width: 18px;
  font-size: 8px;
  font-style: italic;
  font-weight: bold;
  padding-left: 3px;
  color: gray;
}

.revision-comment {
  color: #777;
}

/*
 * Job table
 */

.platform {
  font-size: 12px;
  padding: 0 5px 0 0;
  line-height: 15px;
  width: 14.5em;
  min-width: 14.5em;
  overflow: hidden;
  vertical-align: top;
}

.job-row {
  display: table-cell;
  line-height: 15px;
  white-space: normal;
  word-break: normal;
  padding-top: 0;
  padding-bottom: 0;
}

.job-list table {
  width: 100%;
}

.job-list table tr {
  border-bottom: 1px dotted lightgrey;
}

.job-list table tr:nth-child(even) {
  background: #f8f8f8;
}

.get-next {
  flex-direction: row;
  font-size: 14px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}

.get-next > span {
  align-self: center;
  padding-right: 8px;
}

.get-next .btn {
  font-size: 12px;
}
