    <!DOCTYPE html>
    <html ng-app="treeherder">
    <head>
        <title>Treeherder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Bootstrap -->
        <link href="css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="css/treeherder.css" rel="stylesheet" media="screen">
    </head>
    <body ng-controller="MainCtrl">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                  <a class="brand" href="#">Treeherder</a>
                  <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
                      Logged in as <a href="#" class="navbar-link">Username</a>
                    </p>
                    <form class="navbar-search pull-right">
                        <span class="label label-success">{{ repo }}</span>
                        <span class="label label-success">0 unstarred</span>
                        <input type="text" ng-model="query" class="search-query" placeholder="Search">
                    </form>
                    <!-- nav begin -->
                        <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li><a href="">Repo info</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="">Infrastructure</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="">Filters</a></li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown" ng-controller="RepoDropDownCtrl">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Repos<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="item in repos"><a href="" ng-click="changeRepo(item.name)">{{item.name}}</a></li>
                                </ul>
                            </li>
                        <li class="divider-vertical"></li>
                        <li><a href="">Help</a></li>
                    </ul>

                    <!-- nav end -->
                  </div>
                </div>
            </div>
        </div>
            <div class="container-fluid">
            <div class="row-fluid">
                <div class="span1">
                    <ul class="nav nav-list">
                        <li><a ng-class="{active: routeIs('/jobs')}" href="#/jobs">Jobs</a></li>
                        <li><a ng-class="{active: routeIs('/timeline')}" href="#/timeline">Timeline</a></li>
                        <li><a ng-class="{active: routeIs('/machines')}" href="#/machines">Machines</a></li>
                    </ul>
                </div>

                <div class="jobs_list span11" ng-cloak>
                    <div class="alert alert-success">{{ status }}</div>
                    <ng-view ></ng-view>

                </div>
            </div>
        </div>

        <!-- modal window -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="myModalLabel">Modal header</h3>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div>
        </div>

        <script src="vendor/angular/angular.js"></script>
        <script src="vendor/angular/angular-resource.js"></script>
        <script src="vendor/ui-bootstrap-tpls-0.4.0.js"></script>
        <script src="js/config/local.conf.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/providers.js"></script>
        <script src="js/controllers/main.js"></script>
        <script src="js/controllers/jobs.js"></script>
        <script src="js/controllers/machines.js"></script>
        <script src="js/controllers/timeline.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>
    </html>
