<!DOCTYPE html>
<html ng-app="treeherder.app" ng-strict-di>
    <head>
        <meta charset="utf-8">
        <title ng-bind="getWindowTitle()">Treeherder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link id="favicon" type="image/png" rel="shortcut icon" href="img/tree_open.png">
        <th-favicon-link></th-favicon-link>
    </head>
    <body ng-controller="MainCtrl">
        <div id="global-container">
            <div id="onscreen-overlay" ng-if="onscreenOverlayShowing"
                 ng-click="setOnscreenShortcutsShowing(false)">
               <div id="onscreen-shortcuts" ng-if="onscreenShortcutsShowing"
                    stop-propagation-on-left-click>
                 <div class="col-8">
                    <ng-include src="'partials/main/thShortcutTable.html'"></ng-include>
                 </div>
               </div>
            </div>
            <div id="global-navbar-container">
                <ng-include id="th-global-top-nav-panel"
                            src="'partials/main/thGlobalTopNavPanel.html'">
                </ng-include>
            </div>
            <ng-include src="'partials/main/thTreeherderUpdateBar.html'"></ng-include>
            <ng-include src="'partials/main/thActiveFiltersBar.html'"></ng-include>
            <div id="th-global-content" class="th-global-content"
                 ng-click="clearJobOnClick($event)">
                <span class="th-view-content" ng-cloak>
                    <ng-view></ng-view>
                </span>
            </div>
            <div ng-controller="PluginCtrl"
                 id="info-panel"
                 ng-show="selectedJob"
                 ng-include src="'plugins/pluginpanel.html'">
            </div>
        </div>

        <th-notification-box></th-notification-box>

        <!-- Tooltip for job info-->
        <script type="'text/ng-template'" id="jobInfoTooltip.html">
            <div>
                <table class="table-super-condensed table-striped">
                    <tr>
                        <th class="small">Result</th>
                        <td class="small {{ resultStatusClass }}">{{ job.result }}</td>
                    </tr>
                    <tr>
                        <th class="small">Machine name</th>
                        <td class="small">
                            <a target="_blank" href="{{ getSlaveHealthUrl(job.machine_name) }}">{{ job.machine_name }}</a>
                        </td>
                    </tr>
                    <tr ng-repeat="(label, value) in visibleFields"><th>{{label}}</th><td>{{ value }}</td></tr>
                </table>
            </div>
        </script>
    </body>
</html>
