<!DOCTYPE html>
<html ng-app="logViewer">
    <head>
        <title>Treeherder Log Viewer </title>
        <!-- build:css css/logviewer.min.css -->
        <link href="css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="css/treeherder.css" rel="stylesheet" type="text/css">
        <link href="css/logviewer.css" rel="stylesheet" type="text/css">
        <!-- endbuild -->
    </head>
    <body ng-controller="LogviewerCtrl" ng-init="init()" class="body-logviewer">
        <div class="container">
            <div class="row run-data">
                <div class="col-md-6">
                    <table class="table table-condensed">
                        <tr ng-repeat="(label, value) in artifact.header">
                            <th>{{label}}</th><td>{{value}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6 steps-data">
                    <div ng-repeat="step in artifact.step_data.steps"
                         ng-click="displayLog(step)"
                         ng-class="{'selected': (displayedStep.order === step.order), 'btn-success': (step.error_count === 0), 'btn-warning': (step.error_count > 0)}"
                         ng-if="show_successful === true || step.error_count !== 0"
                         class="btn btn-block logviewer-step clearfix">
                        <span class="pull-left clearfix">{{step.order+1}}. {{step.name}}</span>
                        <span ng-init="time=formatTime(step.duration)"
                             ng-mouseover="time=displayTime(step.started, step.finished)"
                             ng-mouseleave="time=formatTime(step.duration)"
                            class="pull-right clearfix">{{time}}</span>
                        <div ng-switch on="(step.error_count > 0)">
                            <p ng-switch-when="true">
                                <div ng-repeat="error in step.errors"
                                     ng-mouseover="check=(step==displayedStep)"
                                     ng-mouseleave="check=false"
                                     ng-class="{'lv-line-highlight': check}"
                                     ng-click="scrollTo($event, step, error.linenumber);"
                                     class="text-left pull-left lv-error-line">
                                    <span class="label label-default lv-line-no">{{error.linenumber}}</span>
                                    <span title="{{error.line}}">{{error.line | limitTo: 67}}</span><span ng-if="error.line.length > 70">...</span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <input type="checkbox" ng-model="show_successful" />
                Show Successful Steps
            </div>

            <div id="lv-log-container">
                <div ng-repeat="lv_line in displayedStep.logPieces"
                     ng-if="displayedStep.logPieces.length !== 0"
                     ng-class="{'text-danger': (lv_line.hasError == true)}"
                     class="lv-log-line"
                     id="lv-line-{{ lv_line.errLine }}">
                     {{ lv_line.text }}
                </div>
            </div>
        </div>
    <!-- build:js js/logviewer.min.js -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular/angular-route.js"></script>
    <script src="vendor/angular/angular-resource.js"></script>
    <script src="vendor/angular/angular-cookies.js"></script>
    <script src="vendor/angular-local-storage.min.js"></script>
    <script src="vendor/zeroclipboard/ZeroClipboard.min.js"></script>
    <script src="vendor/ng-clip.min.js"></script>
    <script src="vendor/underscore-min.js"></script>
    <script src="vendor/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="vendor/jquery-2.0.3.js"></script>
    <script src="vendor/bootstrap.js"></script>
    <script src="vendor/angular/angular-sanitize.min.js"></script>
    <script src="js/config/local.conf.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/main.js"></script>
    <script src="js/services/log.js"></script>
    <script src="js/models/job_artifact.js"></script>
    <script src="js/providers.js"></script>
    <script src="js/controllers/logviewer.js"></script>
    <!-- endbuild -->
    </body>
</html>
