<!DOCTYPE html>
<html ng-controller="LogviewerCtrl" ng-init="init()" ng-app="logviewer">
  <head>
    <meta charset="utf-8">
    <title ng-bind="::logViewerTitle">Log viewer</title>
    <!-- build:css css/logviewer.min.css -->
    <link href="vendor/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="vendor/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="css/treeherder.css" rel="stylesheet" type="text/css">
    <link href="css/logviewer.css" rel="stylesheet" type="text/css">
    <!-- endbuild -->
    <link id="favicon" type="image/png" rel="shortcut icon" href="img/logviewerIcon.png">
  </head>
  <body class="body-logviewer">
    <!-- Logviewer navbar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">

          <!-- Logo menu button -->
          <li>
            <span class="dropdown">
              <button id="lv-logo" title="Treeherder services" role="button"
                      href="#" data-toggle="dropdown" data-target="#">Logviewer
                <span class="fa fa-angle-down"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="lv-logo">
                <li><a href="/">Treeherder</a></li>
                <li><a href="perf.html">Perfherder</a></li>
              </ul>
            </span>
          </li>

          <!-- Job status -->
          <li class="{{::resultStatusShading}}">
            <div>
              <span ng-cloak><strong>{{result.label}}: </strong></span>
              <span ng-cloak class="break-word">{{result.value}}</span>
            </div>
          </li>

          <!-- Raw log button -->
          <li>
            <a title="{{logError ? 'Raw log link no longer exists or has expired (click for link)' :
                      'Open the raw log in a new window'}}"
               target="_blank"
               href="{{::artifact.logurl}}">
              <span ng-show="!logError" class="fa fa-file-text-o actionbtn-icon"></span>
              <span ng-show="logError" class="fa fa-warning actionbar-warning"></span>
              <span>open raw log</span>
            </a>
          </li>

          <!-- Ref test button -->
          <li ng-if="isReftest()">
            <a title="Open the Reftest Analyser in a new window"
               target="_blank"
               href="http://hg.mozilla.org/mozilla-central/raw-file/tip/layout/tools/reftest/reftest-analyzer.xhtml#logurl={{::artifact.logurl}}&only_show_unexpected=1">
              <span class="fa fa-bar-chart-o actionbtn-icon"></span>
              <span>open analyser</span>
            </a>
          </li>

          <!-- Show successful steps button -->
          <li ng-if="artifact && hasFailedSteps()"
              class="logviewer-actionbtn">
            <div id="lv-successful-steps">
              <input type="checkbox"
                     ng-model="showSuccessful"
                     ng-change="toggleSuccessfulSteps()" />
              <span>show successful steps</span>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Job header and steps navigation -->
    <div class="run-data">
      <div class="col-md-6" >
        <div class="job-header">
          <table class="table table-condensed" >
            <tr ng-repeat="property in logProperties">
              <th ng-cloak>{{property.label}}</th>
              <td ng-if="property.label == 'Revision'" class="break-word">
                <a href="{{::logRevisionFilterUrl}}"
                   title="Open resultset"
                   class="repo-link"
                   ng-cloak>{{property.value}}</a>
              </td>
              <td ng-if="property.label != 'Revision'"
                  ng-cloak class="break-word">{{property.value}}</td>
            </tr>
            <tr ng-repeat="line in job_details | orderBy:'title'">
                <th ng-cloak>{{line.title}}:</th>
                <td ng-switch on="line.content_type">
                  <a ng-cloak ng-switch-when="link" title="{{line.value}}"
                     href="{{line.url}}" target="_blank">{{line.value}}</a>
                    <span ng-switch-when="raw_html" ng-bind-html="line.value"></span>
                <td/>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-6" lv-log-steps></div>
    </div>

    <!-- Log lines -->
    <div class="lv-log-container"
         lv-infinite-scroll
         lv-log-lines="displayedLogLines">
    </div>

    <th-notification-box></th-notification-box>

    <!-- build:js js/logviewer.min.js -->
    <script src="vendor/jquery-2.1.3.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular/angular-route.js"></script>
    <script src="vendor/angular/angular-resource.js"></script>
    <script src="vendor/angular/angular-cookies.js"></script>
    <script src="vendor/angular/angular-sanitize.js"></script>
    <script src="vendor/angular-local-storage.min.js"></script>
    <script src="vendor/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="vendor/bootstrap.js"></script>
    <script src="vendor/lodash.min.js"></script>
    <script src="vendor/resizer.js"></script>

    <script src="js/treeherder.js"></script>
    <script src="js/logviewer.js"></script>
    <script src="js/providers.js"></script>
    <script src="js/values.js"></script>

    <!-- Directives -->
    <script src="js/directives/treeherder/log_viewer_infinite_scroll.js"></script>
    <script src="js/directives/treeherder/log_viewer_lines.js"></script>
    <script src="js/directives/treeherder/log_viewer_steps.js"></script>
    <script src="js/directives/treeherder/main.js"></script>

    <!-- Main services -->
    <script src="js/services/main.js"></script>
    <script src="js/services/log.js"></script>

    <!-- Model services -->
    <script src="js/models/job_artifact.js"></script>
    <script src="js/models/job.js"></script>
    <script src="js/models/resultset.js"></script>
    <script src="js/models/log_slice.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/logviewer.js"></script>
    <!-- endbuild -->

    <script src="js/config/local.conf.js"></script>

  </body>
</html>
